<br/>
<div ng-if="!specialtyCtrl.hideActions && specialtyCtrl.showButton">
	<div>
		<button ng-disabled="specialtyCtrl.isDisabled" 
				ng-click="specialtyCtrl.specialtyAdd()" 
				class="btn btn-primary">
			<span class="glyphicon glyphicon-plus"></span>
			{{ 'l-add' | i18n }}
		</button>	
	</div>
	<totvs-divider style="margin-top: 10px; margin-bottom: 10px;"></totvs-divider>
</div>
<totvs-page-content>
	<totvs-grid
			grid="specialtyCtrl.gridSpecialty"
			grid-data="listOfSpecialties"
	        grid-height="300"
	        selectable="row"
	        scrollable="true"
	        resizable="true"
	        navigatable="true"
	        auto-resize-content="false"
            grid-selected-item="specialtyCtrl.selectedSpecialty">
        <totvs-grid-column 
        	width="32" 
        	field="edit"
			style="text-align: center">
	        <template>
				<a ng-if="!specialtyCtrl.hideActions && specialtyCtrl.showButton" ng-click="specialtyCtrl.specialtyEdit(dataItem)" class="glyphicon glyphicon-pencil btn-default" style="cursor: pointer" data-toggle="tooltip" title="{{ 'l-edit' | i18n }}"></a>
				<a ng-if="specialtyCtrl.hideActions && specialtyCtrl.showButton" class="glyphicon glyphicon-pencil btn-default" style="cursor: not-allowed"></a>
	        </template>
       	</totvs-grid-column>
       	<totvs-grid-column 
        	width="32" 
        	field="remover"
			style="text-align: center">
	        <template>
				<a ng-if="!specialtyCtrl.hideActions && specialtyCtrl.showButton" ng-click="specialtyCtrl.removeSpecialty(dataItem)" class="glyphicon glyphicon-trash btn-default" style="cursor: pointer" data-toggle="tooltip" title="{{ 'l-remove' | i18n }}"></a>
				<a ng-if="specialtyCtrl.hideActions && specialtyCtrl.showButton" class="glyphicon glyphicon-trash btn-default" style="cursor: not-allowed"></a>
	        </template>
       	</totvs-grid-column>    
		<totvs-grid-column  style="text-align: right;" header-template="specialtyCtrl.templateHeaderSpecialty('l-task', 'cd-tarefa')" field="cd-tarefa" width="60">{{ 'l-task' | i18n }}</totvs-grid-column>                    
		<totvs-grid-column header-template="specialtyCtrl.templateHeaderSpecialty('l-specialty', 'tp-especial')" field="tp-especial" width="105">{{ 'l-specialty' | i18n }}</totvs-grid-column>
		<totvs-grid-column field="des-espec" width="170">{{ 'l-description' | i18n }}</totvs-grid-column>
		<totvs-grid-column  style="text-align: right;" field="tempo" width="80">{{ 'l-time-2' | i18n }}</totvs-grid-column>
		<totvs-grid-column  style="text-align: right;" field="nr-homens" width="80">{{ 'l-men' | i18n }}</totvs-grid-column>
		<totvs-grid-column  style="text-align: right;" field="aloc-minima" width="80">{{ 'l-min-aloc' | i18n }}</totvs-grid-column>
		<totvs-grid-column  style="text-align: right;" field="aloc-maxima" width="80">{{ 'l-max-aloc' | i18n }}</totvs-grid-column>
		<totvs-grid-column template="specialtyCtrl.templateSpecialtyEncerrada" field="encerrada" width="85">{{ 'l-inmate' | i18n }}</totvs-grid-column>
		<totvs-grid-column  style="text-align: right;" field="conclusao" width="100" >% {{ 'l-conclusion' | i18n }}</totvs-grid-column>
		<totvs-grid-column template="specialtyCtrl.templateTipoEspec" style="text-align: left;" field="tipo-espec" width="80" >{{ 'l-spec-type' | i18n }}</totvs-grid-column>
		<totvs-grid-column template="specialtyCtrl.templateTipoTempo" style="text-align: left;" field="tipo-tempo" width="80" >{{ 'l-time-tp' | i18n }}</totvs-grid-column>
	</totvs-grid>
</totvs-page-content>
<style type="text/css">

	.font-header { 
		cursor: pointer;
	}

</style>