<totvs-modal-header>
	{{ (controller.model.num_id > 0 ? controller.model.nom_status_ocor : ('btn-new-status' | i18n: []: 'dts/crm' )) }}
</totvs-modal-header>

<totvs-modal-body>

	<fieldset class="row">

		<field type="input"
			   ng-required="true"
			   ng-model="controller.model.nom_status_ocor"
			   canclean="undefined"
			   placeholder="{{ 'l-name' | i18n: []: 'dts/crm' }}">
			<label>{{ 'l-name' | i18n: []: 'dts/crm' }}</label>
		</field>

		<totvs-field class="col-xs-6 col-sm-4 col-md-2"
					 totvs-checkbox
					 ng-model="controller.model.log_suspenso"
					 label="{{ 'l-suspended' | i18n: []: 'dts/crm' }}"
					 t-bsswitch>
		</totvs-field>

	</fieldset>

</totvs-modal-body>

<totvs-modal-footer>
	<button class="btn btn-default"
			ng-click="controller.close()">
		{{ 'btn-cancel' | i18n: []: 'dts/crm' }}
	</button>
	<button class="btn btn-default"
			ng-click="controller.save(true)"
			ng-if="controller.editMode === false;">
		{{ 'btn-save-new' | i18n: []: 'dts/crm' }}
	</button>
	<button class="btn btn-primary"
			ng-click="controller.save()">
		{{ 'btn-save' | i18n: []: 'dts/crm' }}
	</button>
</totvs-modal-footer>
