.square {
    margin-left: 10px;
    margin-bottom: 6px;
    width: 10%;
    height: 20px;   
    border: 1px solid #000000;    
    float: left;
}

.legend {
    width: 85%;
    float: right;
}