.alert-message-margin {
    margin-top: 15px;
}
.custom-angular-gantt {
    padding: 10px;
}
.custom-operation {
    margin: 25px 15px 0 0;
    padding: 0 15px 0 15px;
}
.custom-operation-action {
    margin: 0 2px 0 2px !important;
}
.custom-page-form-padding {
    padding: 0 20px 0 0;
}
.custom-pagination-left {
    display: block;
    float: left;
    text-align: left;
    width: 50%;
    padding: 8px 15px 5px 15px;
}
.custom-pagination-right {
    display: block;
    float: right;
    text-align: right;
    width: 50%;
    padding: 8px 15px 5px 15px;
}
.custom-row {
    padding-left: 30px;
    padding-right: 0;
}
.custom-scale {
    padding-top: 8px;
    margin-right: 0;
}
.custom-title {
    font-family: 'Arial';
    font-weight: 200 !important;
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
}
.context-menu-divider {
    border: 0;
    border-top: 1px solid #ccc;
}
.gantt-row-milestone {
    font-weight: bold;
    vertical-align: middle;
    color: white;
}
.gantt-table-column {
    padding-bottom: 11px;
}
.gantt-task, .gantt-task-milestone {
    height: 22.391px;
    margin-top: 2.797px;
    margin-bottom: 2.813px;
    border: 1px solid black ;
    border-radius: 2px;
}
.k-button-decrease {
    background-color: skyblue;
}
.k-slider-selection, .k-draghandle {
    background-color: cornflowerblue;
}
.k-label {
    color: transparent;
}
.scenario-info-detail-body {
    padding: 10px 0 10px 0;
}
.scenario-info {
    padding: 0 !important;
    margin-top: 38px;
}
.scenario-info-icon {
    font-size: 17px;
    color: RGB(100,149,237);
    -webkit-text-stroke: 0.75px RGB(100,149,237);
}
.scenario-info-width {
    width: 230px;
}
.search-operation-button-left {
    margin-top: 30px;
    float: left;
}
.search-operation-button-right {
    margin-top: 30px;
}
.search-operation-padding {
    padding: 0 5px 0 5px;
}