.popover {
    border-radius: 3px;
    max-width: 320px;
}
.popover-title {
    margin: -9px -14px 0px -14px;
    text-align: center;
}
.operation-row-mdb {
    padding: 0px;
}
.operation-label-mdb {
    padding: 3px 0px 3px 0px;
    font-weight: bold;
    float: left;
}
.operation-value-mdb {
    padding: 3px 0px 3px 0px;
    text-align: right;
    float: right;
}