
<totvs-modal-header>{{ 'l-advanced-search' | i18n}}</totvs-modal-header>
<totvs-modal-body>
  <totvs-page-form id="flowForm" role="form">
    <field type="input" maxlength="60" ng-model="controller.values.refer" placeholder="{{ 'l-reference' | i18n}}" required="required" label="{{ 'l-reference' | i18n}}" class="col-md-12"></field>
    <totvs-row>
      <totvs-field totvs-checkbox="" ng-model="controller.values.mostraInativo" ng-if="controller.mapping.idi_status === 3 || controller.mapping.idi_status === 4" label="{{ 'l-view-inactive-items' | i18n }}" required="required" t-bsswitch="t-bsswitch"></totvs-field>
    </totvs-row>
  </totvs-page-form>
</totvs-modal-body>
<totvs-modal-footer>
  <button data-ng-click="controller.cancel();" class="btn btn-default">{{ 'l-cancel' | i18n}}</button>
  <button data-ng-click="controller.search();" class="btn btn-primary">{{ 'l-search' | i18n}}</button>
</totvs-modal-footer>