
<totvs-modal-header>{{'t-new-flow' | i18n}}</totvs-modal-header>
<totvs-modal-body>
  <totvs-page-form id="flowForm" role="form">
    <field type="select" ng-model="controller.selected" label="{{'l-item' | i18n: []: 'dts/kbn' }}" required="required" class="col-md-12">
      <include>
        <ui-select-match placeholder="{{ 'l-code' | i18n}}">{{$select.selected | descFlow}}</ui-select-match>
        <ui-select-choices repeat="item in controller.items track by $index" refresh="controller.getItensFromERP($select.search)" refresh-delay="1500"><span ng-bind-html="item | descFlow | highlight: $select.search">					</span></ui-select-choices>
      </include>
    </field>
  </totvs-page-form>
</totvs-modal-body>
<totvs-modal-footer>
  <button data-ng-click="controller.cancel();" class="btn btn-default">{{ 'l-cancel' | i18n }}</button>
  <button data-ng-click="controller.createFlow();" class="btn btn-primary">{{ 'l-ok' | i18n }}</button>
</totvs-modal-footer>