
<link rel="stylesheet" href="/dts/kbn/css/field-addon.css"/>
<link rel="stylesheet" href="/dts/kbn/css/ekanban.css"/>
<totvs-modal-header>{{ 'l-edit-quantity' | i18n }}</totvs-modal-header>
<totvs-modal-body>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="item-field">
        <label>{{'l-parent-item' | i18n}}:</label><span>{{controller.relacItem.itemParentTitle}}</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="item-field">
        <label>{{'l-un' | i18n}}:</label><span>{{controller.relacItem.undMedPai}}</span>
      </div>
    </div>
    <field type="number" ng-model="controller.relacItem.qtdPai" maxlength="10" label="{{ 'l-qtd-father' | i18n}}" required="required" class="col-xs-12 col-sm-12 col-md-3"></field>
    <totvs-divider></totvs-divider>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="item-field">
        <label>{{'l-item-son' | i18n}}:</label><span>{{controller.relacItem.itemSonTitle}}</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="item-field">
        <label>{{'l-un' | i18n}}:</label><span>{{controller.relacItem.undMedFilho}}</span>
      </div>
    </div>
    <field type="number" ng-model="controller.relacItem.qtdFilho" maxlength="10" label="{{ 'l-qtd-son' | i18n}}" required="required" class="col-xs-12 col-sm-12 col-md-3"></field>
  </div>
</totvs-modal-body>
<totvs-modal-footer>
  <button ng-click="controller.cancel();" class="btn btn-default">{{ 'l-cancel' | i18n }}</button>
  <button ng-click="controller.save();" class="btn btn-primary">{{ 'l-save' | i18n }}</button>
</totvs-modal-footer>