
<totvs-modal-header>{{ 'l-new-batch-flow' | i18n}}</totvs-modal-header>
<totvs-modal-body>
  <div ng-show="controller.barProgress" style="display: inline-block; vertical-align:middle;">
    <div style="width: 110px; height: 34px; border-radius:4px; padding:6px 12px; font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size:14px; " class="progress-bar progress-bar-striped active">{{'l-importing' | i18n}}</div>
  </div>
  <label role="button" for="file-input" ng-show="!controller.barProgress" class="btn btn-warning"><span class="glyphicon glyphicon-import"></span>&nbsp; {{'l-import-flow' | i18n}}<span class="file-text"></span>
    <input id="file-input" type="file" style="position:fixed;top:-999px;" ngf-select="ngf-select" ngf-change="controller.uploadFiles($files);" ngf-multiple="false" ngf-allow-dir="false" accept=".Csv"/>
  </label>
  <totvs-page-form>
    <totvs-field totvs-input="totvs-input" name="item" ng-model="controller.itemImput.sku" required="required" label="{{'l-item' | i18n}}" focus="focus" class="col-lg-6 col-xs-6 col-sm-6"></totvs-field>
    <totvs-field totvs-input="totvs-input" name="refer" ng-model="controller.itemImput.refer" label="{{'l-reference' | i18n}}" class="col-lg-4 col-xs-4 col-sm-4"></totvs-field>
    <button data-ng-click="controller.addItem()" ng-disabled="!controller.itemImput.sku" tooltip="{{'l-add' | i18n}}" style="margin-top: 29px;" class="btn btn-success glyphicon glyphicon-plus"></button>
  </totvs-page-form>
  <totvs-page-alert ng-if="controller.preListItems.length === 0" type="info" message="{{ 'l-msg-batch-add' | i18n }}"></totvs-page-alert>
  <totvs-divider ng-if="controller.preListItems.length &gt; 0"></totvs-divider>
  <totvs-list-item ng-if="controller.preListItems.length &gt; 0" data-ng-repeat="item in controller.preListItems">
    <totvs-list-item-header>
      <totvs-list-item-content>
        <totvs-list-item-info title="{{'l-item' | i18n}}" value="{{item.sku}}" class="col-lg-6 col-xs-6 col-sm-6"></totvs-list-item-info>
        <totvs-list-item-info title="{{'l-reference' | i18n}}" value="{{item.refer}}" class="col-lg-4 col-xs-4 col-sm-4"></totvs-list-item-info>
        <totvs-list-item-action limit-primary-action="1" class="col-lg-2 col-xs-2 col-sm-2">
          <action icon="glyphicon-trash" data-ng-click="controller.removeItem($index)" tooltip="{{'l-to-exclude' | i18n}}"></action>
        </totvs-list-item-action>
      </totvs-list-item-content>
    </totvs-list-item-header>
  </totvs-list-item>
</totvs-modal-body>
<totvs-modal-footer>
  <button data-ng-click="controller.cancel();" class="btn btn-default">{{ 'l-cancel' | i18n}}</button>
  <button data-ng-click="controller.save();" ng-disabled="controller.preListItems.length === 0" class="btn btn-primary">{{ 'l-generate-flows' | i18n}}</button>
</totvs-modal-footer>