link(rel="stylesheet" href="/dts/kbn/css/field-addon.css")
link(rel="stylesheet" href="/dts/kbn/css/ekanban.css")
totvs-modal-header
    {{ 'l-inserts-workcenters' | i18n }} {{'l-in-cell' | i18n}} {{controller.cell | descGeneric:"{codeErpCell} {descCell}"}}
totvs-modal-body
    .row
        totvs-page(type="list")
            totvs-page-content
                totvs-list-item(data-ng-repeat="workcenter in controller.workcenters")
                    totvs-list-item-header
                        totvs-list-item-title(title="{{workcenter.cod_chave_erp | htmlText}} - {{workcenter.des_ct_erp | htmlText}}")
                    totvs-list-item-content(ng-if="workcenter.linked")
                        totvs-list-item-info(title="{{'l-current-cell' | i18n}}", value="{{workcenter | descGeneric: '{codeErpCell} {descCell}'}}")
    span(ng-if="controller.linked")
        {{'msg-workcenters-linked' | i18n}}
totvs-modal-footer
    button.btn.btn-default(ng-click="controller.cancel();") {{ 'l-cancel' | i18n }}
    button.btn.btn-primary(ng-click="controller.confirm();") {{ 'l-confirm' | i18n }}
    