
<totvs-modal-header>{{ 'l-advanced-search' | i18n}}</totvs-modal-header>
<totvs-modal-body>
  <fieldset class="row">
    <field type="date" canclean="undefined" ng-model="controller.publicationDate" placeholder="{{ 'l-publication-date' | i18n}}" class="col-md-12">
      <label>{{ 'l-publication-date' | i18n}}</label>
    </field>
    <establishment-select ng-model="controller.establishmentErpCode"></establishment-select>
  </fieldset>
</totvs-modal-body>
<totvs-modal-footer>
  <button ng-click="controller.cancel()" class="btn btn-default">{{ 'l-cancel' | i18n}}</button>
  <button ng-click="controller.apply()" class="btn btn-primary">{{ 'l-apply' | i18n}}</button>
</totvs-modal-footer>