totvs-modal-header
    {{ 'l-advanced-search' | i18n}}
totvs-modal-body
    fieldset.row
        field.col-md-12(type="date", canclean="undefined", ng-model="controller.publicationDate", placeholder="{{ 'l-publication-date' | i18n}}")
            label {{ 'l-publication-date' | i18n}}
        establishment-select(ng-model="controller.establishmentErpCode")
totvs-modal-footer
    button.btn.btn-default(ng-click="controller.cancel()"){{ 'l-cancel' | i18n}}
    button.btn.btn-primary(ng-click="controller.apply()"){{ 'l-apply' | i18n}}
