.alinha-operation-action {
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  width: 146px !important;
}

.alinha-menu-dropdown {
  padding-left: 0px !important; 
  margin-right: 160px !important;
}