<div class="modal-header">
    <h3 class="modal-title">Pedido {{controller.orderManager.nr_pedido}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" role="form">                                         
            
            <!--
            <field type="combo" class="col-md-12"
                ng-model="controller.selectedOptionTask"
                ng-change="controller.changeOptionTask()"
                ng-options="controller.id as controller.descricao for controller in controller.taskOptionsList">
                <label>{{ 'Seleção de ação' | i18n : [] : 'dts/mpd/'}}</label>
            </field>
            -->
            
            <field type="combo" class="col-md-12"
                ng-model="controller.selectedOptionIdUnico"
                ng-change="controller.changeOptionTask(controller.taskOptionsList)"
                ng-options="controller.idUnico as controller.descricao for controller in controller.taskOptionsList">
                <label>{{ 'Seleção de ação' | i18n : [] : 'dts/mpd/'}}</label>
            </field>            
            
            <field ng-if="controller.selectedOptionIdUnico == 2" type="combo" class="col-md-12"
                ng-model="controller.selectedUserToTransfer" 
                ng-options="controller.username as controller.username for controller in controller.usersToTransfer">
                <label>{{ 'Usuário para Transferência' | i18n : [] : 'dts/mpd/'}}</label>
            </field>  
            
            <field ng-if="controller.selectedOptionIdUnico == 5" type="decimal" class="col-md-12" ng-model="controller.desconto" m-dec="2">
                <label>{{'l-desc-pre-aprovado' | i18n}}</label>
            </field>
                                                                                 
            <field ng-if="controller.selectedOptionTask != 0" type="textarea" class="col-md-12" ng-model="controller.observacao">
                   <label>{{'l-observacao-movimentacao' | i18n}}</label>
            </field>                                                                                                                                                                                   
        </form>                
    </div>           
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-ng-click="controller.saveAndSendTask();">{{'l-confirmar' | i18n}}</button>
    <button type="button" class="btn btn-default" data-ng-click="controller.close();">{{'l-close' | i18n}}</button>
</div>