<totvs-page type="list" totvs-custom-element="customPage">
    <totvs-page-navbar>
        <totvs-page-breadcrumb>
            <breadcrumb link="#/">{{'l-initial-page' | i18n}}</breadcrumb>
            <breadcrumb link="#/dts/mpd/portalconfigpdp/">{{'l-portal-config-clien-rep' | i18n}}</breadcrumb>
            <breadcrumb>{{'l-portal-msg' | i18n}}</breadcrumb>
        </totvs-page-breadcrumb>
        <totvs-page-header>
            <totvs-page-header-title title="{{'l-portal-msg' | i18n}}"
                                     total="{{controller.totalRecords}}">
            </totvs-page-header-title>
            <totvs-page-header-operation>
                <totvs-page-header-operation-action limit-primary-action="1">
                    <action link="#/dts/mpd/portalmsg/{{controller.idPortalConfigur}}/new"
                            icon="glyphicon-plus">{{ 'btn-add' | i18n }}</action>
                </totvs-page-header-operation-action>
            
                <totvs-page-header-operation-filter placeholder="{{ 'l-search' | i18n }}"
                                                    ng-submit="controller.loadData()"
                                                    ng-model="controller.quickSearchText">
                </totvs-page-header-operation-filter>
            </totvs-page-header-operation>
            <totvs-page-disclaimers disclaimer-list="controller.disclaimers"                                
                                    ng-click="controller.removeDisclaimer">
            </totvs-page-disclaimers>
        </totvs-page-header>    
    </totvs-page-navbar>
    <totvs-page-content>
        <totvs-list-item ng-repeat="portalMsg in controller.listResult">
            <totvs-list-item-header>                
                <totvs-list-item-title link="#/dts/mpd/portalmsg/detail/{{portalMsg['idi-seq']}}/{{portalMsg['idi-message']}}"
                                       title="{{'l-cod-msg' | i18n}}: {{portalMsg['idi-message']}}">
                </totvs-list-item-title>                </totvs-list-item-title>

                <totvs-list-item-action limit-primary-action="1">                    
                    <action link="#/dts/mpd/portalmsg/edit/{{portalMsg['idi-seq']}}/{{portalMsg['idi-message']}}" 
                            icon="glyphicon-pencil">{{ 'btn-edit' | i18n }}</action>
                    <action ng-click="controller.delete(portalMsg)"
                            icon="glyphicon-remove">{{ 'btn-remove' | i18n }}</action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content>
                <totvs-list-item-info title="{{ 'l-observation' | i18n }}"
                                      value="{{portalMsg['des-obs']}}">
                </totvs-list-item-info>                                      
            </totvs-list-item-content>
        </totvs-list-item>
                
        <totvs-list-pagination ng-if="controller.listResult.length < controller.totalRecords && controller.listResult.length" ng-click="controller.loadData(true);">
        </totvs-list-pagination>
    </totvs-page-content>
</totvs-page>