.tag-enabled:before {
    background-color: #76abd9;
    content: "1";
}

.tag-disabled:before {
    background-color: #a94442;
    content: "2";
}

.page-content .list-item.item-enabled {
    border-left: 5px solid #76abd9;
}

.page-content .list-item.item-disabled {
    border-left: 5px solid #a94442;
}

.modal-obs-aceite {
    list-style-type: disc;
}
