
<totvs-modal-header>
	{{ 'l-filter-sheet-update-conf' | i18n }}
</totvs-modal-header>

<totvs-modal-body>  

    <totvs-page-header>
        <totvs-page-disclaimers disclaimer-list="controller.modalDisclaimers">
        </totvs-page-disclaimers>  
        <h5 style="color:#888;font-weight: bold;margin-bottom: 0cm;">{{'l-restricted-to-situations' | i18n}}: <span style="font-weight: normal;">2-&nbsp{{ 'l-not-update' | i18n }}&nbsp{{ 'l-and' | i18n }}&nbsp 4-&nbsp{{ 'l-ok-to-inventory' | i18n }}</span></h5>
    </totvs-page-header>  

    <hr style="margin: 0px 0px 20px 0px;" />
 
	<totvs-page-form>
    	<fieldset> 
            <field type="select2"
                   class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                   data-ng-model="controller.conferentes['conf1']"                       
                   select-conector="{{ 'l-selected' | i18n: []: 'dts/mce' }}"
                   select-id="cod-usuario"
                   select-description="nome-usuar"
                   select-service="mce.material-usuar-1.zoom"
                   label="{{'l-checker' | i18n}} 1"
                   canclean>
                   <zoom zoom-service="mce.material-usuar-1.zoom"></zoom>
            </field> 
            <field type="select2"
                   class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                   data-ng-model="controller.conferentes['conf2']"                       
                   select-conector="{{ 'l-selected' | i18n: []: 'dts/mce' }}"
                   select-id="cod-usuario"
                   select-description="nome-usuar"
                   select-service="mce.material-usuar-2.zoom"
                   label="{{'l-checker' | i18n}} 2"
                   canclean>
                   <zoom zoom-service="mce.material-usuar-2.zoom"></zoom>
            </field>  
            <field type="select2"
                   class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                   data-ng-model="controller.conferentes['conf3']"                       
                   select-conector="{{ 'l-selected' | i18n: []: 'dts/mce' }}"
                   select-id="cod-usuario"
                   select-description="nome-usuar"
                   select-service="mce.material-usuar-3.zoom"
                   label="{{'l-checker' | i18n}} 3"
                   canclean>
                   <zoom zoom-service="mce.material-usuar-3.zoom"></zoom>
            </field>                                       
		</fieldset>
	</totvs-page-form>
    
</totvs-modal-body>

<totvs-modal-footer>
	<button class="btn btn-default" ng-click="controller.cancel()">{{ 'l-cancel' | i18n }}</button>
	<button class="btn btn-primary" ng-click="controller.apply()">{{ 'l-apply' | i18n }}</button>
</totvs-modal-footer>

