.widgetClima {
	width: 300px;
	height: 120px;
}
.wSlotMax, .wSlotMin {
	border: 2px solid #ccc;
	opacity: 0.9;
	float: left ;
	border-radius: 10px;
	margin: 1%;
	padding: 5%;
}
.wSlotMin {
	width: 36.6%;   
}
.wSlotMax {
	width: 86.6%;
}
.sMin {
	float: left;
	width: 100%;
	font-family: "Times New Roman", Times, serif;
}
.sMax {
	float: left;
	width: 50%;
}
img {
	width: 10%;
}
.temp {
	font-size: 30px !important;
	text-align: center;
}