<totvs-modal-header>
    Busca Avançada
</totvs-modal-header>
<totvs-modal-body style="height: 500px; overflow-y: auto;">
    <fieldset>       
        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdModalidadeInic"
                placeholder="1"
                maxlength="2"                
                label="Modalidade Inicial"
                ng-blur="afController.changeRange('cdModalidadeInic', 'cdModalidadeFim')">
        </field>
        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdModalidadeFim"
                placeholder="99"
                maxlength="2"                
                label="Modalidade Final"
                ng-blur="afController.changeRange('cdModalidadeInic', 'cdModalidadeFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
        </field>

        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdPlanoInic"
                placeholder="1"
                maxlength="2"                
                label="Plano Inicial"
                ng-blur="afController.changeRange('cdPlanoInic', 'cdPlanoFim')">
        </field>
        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdPlanoFim"
                placeholder="99"
                maxlength="2"                
                label="Plano Final"
                ng-blur="afController.changeRange('cdPlanoInic', 'cdPlanoFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
        </field>

        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdTipoPlanoInic"
                placeholder="1"
                maxlength="2"                
                label="Tipo de Plano Inicial"
                ng-blur="afController.changeRange('cdTipoPlanoInic', 'cdTipoPlanoFim')">
        </field>
        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdTipoPlanoFim"
                placeholder="99"
                maxlength="2"                
                label="Tipo de Plano Final"
                ng-blur="afController.changeRange('cdTipoPlanoInic', 'cdTipoPlanoFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
        </field> 

        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdFormaPagtoInic"
                placeholder="1"
                maxlength="2"                
                label="Forma Pagto Inicial"
                ng-blur="afController.changeRange('cdFormaPagtoInic', 'cdFormaPagtoFim')">
        </field>
        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdFormaPagtoFim"
                placeholder="99"
                maxlength="2"                
                label="Forma Pagto Final"
                ng-blur="afController.changeRange('cdFormaPagtoInic', 'cdFormaPagtoFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
        </field>

        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdModuloInic"
                placeholder="1"
                maxlength="3"                
                label="Módulo Inicial"
                ng-blur="afController.changeRange('cdModuloInic', 'cdModuloFim')">
        </field>
        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdModuloFim"
                placeholder="999"
                maxlength="3"                
                label="Módulo Final"
                ng-blur="afController.changeRange('cdModuloInic', 'cdModuloFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
        </field>

        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdEventoInic"
                placeholder="1"
                maxlength="3"                
                label="Evento Inicial"
                ng-blur="afController.changeRange('cdEventoInic', 'cdEventoFim')">
        </field>
        <field
                class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                type="input"
                numbers-only
                ng-model="afController.model.cdEventoFim"
                placeholder="999"
                maxlength="3"                
                label="Evento Final"
                ng-blur="afController.changeRange('cdEventoInic', 'cdEventoFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
        </field>
				
        <field
                class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                type="input"
                ng-model="afController.model.cdContaCtbInic"
                placeholder="1"
                maxlength="20"                
                label="Conta Contábil Inicial"
                ng-blur="afController.changeRange('cdContaCtbInic', 'cdContaCtbFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-1 col-md-1 hidden-sm hidden-xs">
        </field>
        <field
                class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                type="input"
                ng-model="afController.model.cdContaCtbFim"
                placeholder="99999999999999999999"
                maxlength="20"                
                label="Conta Contábil Final"
                ng-blur="afController.changeRange('cdContaCtbInic', 'cdContaCtbFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
        </field>
		
        <field
                class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                type="input"
                ng-model="afController.model.cdcCustoInic"
                placeholder="1"
                maxlength="20"                
                label="Centro Custo Inicial"
                ng-blur="afController.changeRange('cdcCustoInic', 'cdcCustoFim')">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-1 col-md-1 hidden-sm hidden-xs">
        </field>
        <field
                class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                type="input"
                ng-model="afController.model.cdcCustoFim"
                placeholder="99999999999999999999"
                maxlength="20"                
                label="Centro Custo Final"
                ng-blur="afController.changeRange('cdcCustoInic', 'cdcCustoFim')">
        </field>
		<field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
        </field>

        <totvs-field totvs-combo
            class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
			numbers-only
			t-options= "afController.listMeses"
            ng-model="afController.model.mmValInic"
            placeholder="00"
            maxlength="2"                
            label="Validade Mês Inicial">
        </totvs-field>
        <field type="input"
            class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
			numbers-only
			type="input"
			ng-model="afController.model.aaValInic"
			placeholder="0000"
			maxlength="4" 
            label="Validade Ano Inicial">
        </field>
        <field type="input"
                label="fake" style="visibility: hidden"
                class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
        </field>		
    </fieldset>
</totvs-modal-body>

<totvs-modal-footer>
    <button class="btn" ng-click="afController.cleanFields()">Limpar Campos</button>
    <button class="btn" ng-click="afController.cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="afController.search()">Buscar</button>
</totvs-modal-footer>

