.field-container
    label.field-label
    .field-input
        .input-group
            input.form-control( bind type="text" autonumeric data-a-dec="," data-a-sep="." ng-model-options="{ updateOn: 'blur' }")
            .input-group-addon
        .tooltip.bottom( ng-class="{'in': $fieldErrors.length, 'off': !$fieldErrors.length}")
            .tooltip-inner
                .help-inline(ng-repeat="error in $fieldErrors")
                    {{$validationMessages[error](this)}}
            .tooltip-arrow