div.floating-div
    div.content(ng-if="kanbanFloatingDiv.show" ng-transclude)
    div.button.is-pointer(ng-click="kanbanFloatingDiv.toggle($event)")
        span.fa.fa-angle-double-right(ng-if="!kanbanFloatingDiv.show")
        span.fa.fa-angle-double-left(ng-if="kanbanFloatingDiv.show")
