<totvs-page style="background-color: white; height: 100%; width: 100vw">
  <totvs-page-content
    style="
      border: none;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      max-width: 680px;
      gap: 36px;
      font-size: 19px;
      text-align: center;
    "
  >
    <h2 style="text-align: center; margin: 30px 15px">
      Essa rotina mudou de lugar!
    </h2>
    <p ng-if="controller.isMenuUpdated">
      A nova tela se encontra no menu através do caminho:
      <br />
      <br />
      <b
        >Manufatura / Produção / Tarefas / Pendência Apontamento Mobile - PO
        UI</b
      >
      <br />
      <br />
      ou através do código <b>html.pendingappointmentPO</b>, para acessar agora
      <br />
      <br />
      <button type="button" ng-click="controller.openNewLocation()">
        clique aqui!
      </button>
    </p>

    <p ng-if="!controller.isMenuUpdated">
      <b>Seu menu do produto está DESATUALIZADO</b>, para acessar a nova tela
      será necessário atualizá-lo.
    </p>
    <p ng-if="!controller.isMenuUpdated">
      A atualização poderá ser feita através do programa men/men706aa.r
      (Importação Menu Datasul) importando o arquivo men_mcp.d localizado na
      expedição FOUNDATION e posteriormente através da atualização de Menu do
      Usuário, men/mer010aa.r (Atualiza Menu Usuário).
    </p>

    <p ng-if="!controller.isMenuUpdated">
      Após atualização, para acessar a nova tela, efetue a busca por
      <b>html.pendingappointmentPO</b> no menu ou através da estrutura:
      <br />
      <br />
      <b
        >Manufatura / Produção / Tarefas / Pendência Apontamento Mobile - PO
        UI</b
      >
    </p>

    <small style="font-size: 14px; color: #333"
      >Em caso de dúvidas entrar em contato com administrador do sistema</small
    >
  </totvs-page-content>
</totvs-page>
