<div class="modal-header">
	<h3 class="modal-title">{{:: 'Parâmetros Pedido' | i18n : [] : 'dts/mpd' }}</h3>
</div>
<div class="modal-body">
    
    <div class="row">
        <totvs-page-detail-info-group>{{:: 'Parâmetros' | i18n : [] : 'dts/mpd' }}</totvs-page-detail-info-group>        
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['l-mostrar-saldo-item']"> {{:: 'Mostrar saldo disponível em estoque do Item' | i18n : [] : 'dts/mpd' }}</label></div>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['arredondar-qtde-lote']"> {{:: 'Arrendondar quantidade Item para múltipla do lote' | i18n : [] : 'dts/mpd' }}</label></div>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['log-livre-1']"> {{:: 'Manter item na inclusão de Itens' | i18n : [] : 'dts/mpd' }}</label></div>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['l-sugerir-refer-ant']"> {{:: 'Manter referência na inclusão de Itens' | i18n : [] : 'dts/mpd' }}</label></div>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['multiplicar-qtde']"> {{:: 'Multiplicar qtde componente pela qtde Composto' | i18n : [] : 'dts/mpd' }}</label></div>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['atribuir-preco-comp']"> {{:: 'Atribuir preço total dos Componentes ao Composto' | i18n : [] : 'dts/mpd' }}</label></div>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['atualizar-entregas']"> {{:: 'Atualizar Itens/Entregas atendidos parcialmente' | i18n : [] : 'dts/mpd' }}</label></div>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['l-reabrir-cotacao']"> {{:: 'Reabrir Cotação ao cancelar Pedido' | i18n : [] : 'dts/mpd' }}</label></div>
        <totvs-page-detail-info-group>{{:: 'Atualização' | i18n : [] : 'dts/mpd' }}</totvs-page-detail-info-group>
        
        <field type="combo" ng-model="modalParamscontroller.orderParameters['tp-exp-nat-oper']" class="col-sm-12">
            <totvs-options>
                <option value="1">{{:: 'Não atualizar itens' | i18n : [] : 'dts/mpd' }}</option>
                <option value="2">{{:: 'Atualizar itens com a mesma natureza' | i18n : [] : 'dts/mpd' }}</option>
                <option value="3">{{:: 'Atualizar todos os itens' | i18n : [] : 'dts/mpd' }}</option>
            </totvs-options>
            <label>{{:: 'Atualização Natureza Operação' | i18n : [] : 'dts/mpd'}}</label>
        </field>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['exp-nat-cod-mensagem']"> {{:: 'Atualizar Código da Mensagem' | i18n : [] : 'dts/mpd' }}</label></div>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['exp-nat-cons-final']"> {{:: 'Atualizar Consumidor Final' | i18n : [] : 'dts/mpd' }}</label></div>

        <totvs-page-detail-info-group></totvs-page-detail-info-group>
        <field type="combo" ng-model="modalParamscontroller.orderParameters['tp-exp-local-entrega']" class="col-sm-12">
            <totvs-options>
                <option value="1">{{:: 'Não atualizar itens' | i18n : [] : 'dts/mpd' }}</option>
                <option value="2">{{:: 'Atualizar itens com o mesmo local' | i18n : [] : 'dts/mpd' }}</option>
                <option value="3">{{:: 'Atualizar todos os itens' | i18n : [] : 'dts/mpd' }}</option>
            </totvs-options>
            <label>{{:: 'Atualização Local de Entrega' | i18n : [] : 'dts/mpd'}}</label>
        </field>
        <totvs-page-detail-info-group></totvs-page-detail-info-group>
        <field type="combo" ng-model="modalParamscontroller.orderParameters['tp-exp-dt-entrega']" class="col-sm-12">
            <totvs-options>
                <option value="1">{{:: 'Não atualizar itens' | i18n : [] : 'dts/mpd' }}</option>
                <option value="2">{{:: 'Atualizar itens com a mesma data' | i18n : [] : 'dts/mpd' }}</option>
                <option value="3">{{:: 'Atualizar todos os itens' | i18n : [] : 'dts/mpd' }}</option>
            </totvs-options>
            <label>{{:: 'Atualização Data de Entrega' | i18n : [] : 'dts/mpd'}}</label>
        </field>
        <totvs-page-detail-info-group></totvs-page-detail-info-group>
        <field type="combo" ng-model="modalParamscontroller.orderParameters['tp-exp-tb-preco']" class="col-sm-12">
            <totvs-options>
                <option value="1">{{:: 'Não atualizar itens' | i18n : [] : 'dts/mpd' }}</option>
                <option value="2">{{:: 'Atualizar itens com a mesma tabela' | i18n : [] : 'dts/mpd' }}</option>
                <option value="3">{{:: 'Atualizar todos os itens' | i18n : [] : 'dts/mpd' }}</option>
            </totvs-options>
            <label>{{:: 'Atualização Tabela Preços' | i18n : [] : 'dts/mpd'}}</label>
        </field>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['exp-desc-tab-preco']"> {{:: 'Atualizar Desconto Tab Preços' | i18n : [] : 'dts/mpd' }}</label></div>
        <totvs-page-detail-info-group></totvs-page-detail-info-group>
        <div class="checkbox col-sm-12"><label><input type="checkbox" ng-model="modalParamscontroller.orderParameters['relacao-item-cli']"> {{:: 'Utiliza relação Item x Cliente' | i18n : [] : 'dts/mpd' }}</label></div>
        <field type="combo" ng-model="modalParamscontroller.orderParameters['tp-relacao-item-cli']" class="col-sm-12">
            <totvs-options>
                <option value="1">{{:: 'Gerar automaticamente' | i18n : [] : 'dts/mpd' }}</option>
                <option value="2">{{:: 'Não gerar' | i18n : [] : 'dts/mpd' }}</option>
            </totvs-options>
            <label>{{:: 'Geração do Item x Cliente' | i18n : [] : 'dts/mpd'}}</label>
        </field>
        <totvs-page-detail-info-group></totvs-page-detail-info-group>
        <field type="combo" ng-model="modalParamscontroller.orderParameters['int-livre-1']" class="col-sm-12">
            <totvs-options>
                <option value="1">{{:: 'Não atualizar itens' | i18n : [] : 'dts/mpd' }}</option>
                <option value="2">{{:: 'Atualizar itens com a mesma unidade de negócio' | i18n : [] : 'dts/mpd' }}</option>
                <option value="3">{{:: 'Atualizar todos os itens' | i18n : [] : 'dts/mpd' }}</option>
            </totvs-options>
            <label>{{:: 'Atualização Unidade de Negócio' | i18n : [] : 'dts/mpd'}}</label>
        </field>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modalParamscontroller.confirm()">{{:: 'Salvar' | i18n : [] : 'dts/mpd' }}</button>    
    <button class="btn btn-warning" ng-click="modalParamscontroller.close()">{{:: 'Fechar' | i18n : [] : 'dts/mpd' }}</button>
</div>

