<% _.forEach(data, function(field) { %>

	<% if (field.fieldName == "peso-pedido") { %>
		<totvs-page-detail-info ng-if="orderController.pd4000['peso-pedido']"
			title="{{:: 'Peso Estimado Total' | i18n : [] : 'dts/mpd' }}" class="col-xs-6 col-sm-4 col-md-3">
			{{orderController.ttOrderPeso['pesoTotal'] | number : 4}}
		</totvs-page-detail-info>
	<% } %>

	<% if (field.fieldName == "peso-atendido-pedido") { %>
		<totvs-page-detail-info ng-if="orderController.pd4000['peso-atendido-pedido']"
			title="{{:: 'Peso Estimado Atendido' | i18n : [] : 'dts/mpd' }}" class="col-xs-6 col-sm-4 col-md-3">
			{{orderController.ttOrderPeso['pesoAtendido'] | number : 4}}
		</totvs-page-detail-info>
	<% } %>

	<% if (field.fieldName == "peso-aberto-pedido") { %>
		<totvs-page-detail-info ng-if="orderController.pd4000['peso-aberto-pedido']"
			title="{{:: 'Peso Estimado Em Aberto' | i18n : [] : 'dts/mpd' }}" class="col-xs-6 col-sm-4 col-md-3">
			{{orderController.ttOrderPeso['pesoAberto'] | number : 4}}
		</totvs-page-detail-info>
	<% } %>

<% }) %>
