<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-site' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc028'][0]['tta_cod_estab']}} - {{controller.request['tt_item_detalhe_final_doc028'][0]['ttv_des_cod_estab']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-id-apb-title' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc028'][0]['tta_num_id_tit_ap']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-sequence' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc028'][0]['tta_num_seq_refer']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-user-doc' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc028'][0]['tta_cod-usuar']}} - {{controller.request['tt_item_detalhe_final_doc028'][0]['tta_nome-usuar']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-forecast-payment' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc028'][0]['tta_dat_prev_pagto']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-value-payment' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc028'][0]['tta_val_pagto_tit_ap']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-anticipations-cull' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc028'][0]['tta_val_abat_antecip']}}">
</totvs-page-detail-info>

<span class="subtitulo" ng-show="controller.request['tt_item_detalhe_final_doc028'].length > 0">{{ 'l-items' | i18n}}</span>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<totvs-list-item
	    id="item{{item['seq']}}"
	    ng-class="tab-1"
	    ng-repeat="item in controller.request['tt_item_detalhe_final_doc028']"
	    totvs-custom-element="customDetail28_listItem">

	    <totvs-list-item-header>
	        <totvs-list-item-info title="{{ 'l-account-book' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cod_cta_ctbl']}} - {{item['ttv_des_cta_ctbl']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-business-unit' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cod_unid_negoc']}} - {{item['ttv_des_unid_negoc']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-cost-center' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cod_ccusto']}} - {{item['ttv_des_ccusto']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-currency' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cod_indic_econ']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-value-approve' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_val_aprop_ctbl']}}
			</totvs-list-item-info>
		</totvs-list-item-header>

		<totvs-list-item-content-detail>
			<totvs-list-item-info title="{{ 'l-vendor' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cdn_fornecedor']}} - {{item['tta_nom_pessoa']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-country' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cod_pais']}} - {{item['tta_nom_pais']}}
			</totvs-list-item-info>

			
			<span class="subtitulo">{{ 'l-title' | i18n}}</span>
			<totvs-list-item-info title="{{ 'l-species' | i18n}}" class="col-xs col-sm-6 col-md-4">
				{{item['tta_cod_espec_docto']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-series' | i18n}}" class="col-xs col-sm-6 col-md-4">
				{{item['tta_cod_ser_docto']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-title' | i18n}}" class="col-xs col-sm-6 col-md-4">
				{{item['tta_cod_tit_ap']}} - {{item['tta_cod_parcela']}}
			</totvs-list-item-info>
							
			<totvs-list-item-info title="{{ 'l-balance' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_val_sdo_tit_ap']}}
			</totvs-list-item-info>
			
			
			<span class="subtitulo">{{ 'l-date' | i18n}}</span>
			<totvs-list-item-info title="{{ 'l-emission-date' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_dat_emis_docto']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-expiration-date' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_dat_vencto_tit_ap']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-forecast-payment' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_dat_prev_pagto']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-discount-date' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_dat_desconto']}}
			</totvs-list-item-info>

			
			<span class="subtitulo">{{ 'l-financial-incubencies' | i18n}}</span>
			<totvs-list-item-info title="{{ 'l-value-interest' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_val_juros']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-fine-delay' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_val_multa_tit_ap']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-discount' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_val_desconto']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-abatement' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_val_abat_tit_ap']}}
			</totvs-list-item-info>

			<br>		
			<totvs-list-item-info title="{{ 'l-history' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['ttv_des_historico']}}
			</totvs-list-item-info>
		</totvs-list-item-content-detail>
	</totvs-list-item>
</div>
