<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-contract' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['nr-contrato']}} - {{controller.request['tt-medicao-contrat'][0]['desc-nr-contrato']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-site' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['cod-estabel']}} - {{controller.request['tt-medicao-contrat'][0]['desc-cod-estabel']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-requisition' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['numero-ordem']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-seq-item' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['num-seq-item']}} - {{controller.request['tt-medicao-contrat'][0]['it-codigo']}} - {{controller.request['tt-medicao-contrat'][0]['desc-it-codigo']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12 text-justify"
    title="{{ 'l-contract-item-text' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['narrativa-it-cn']}}">
</totvs-page-detail-info>
 
<totvs-page-detail-info class="col-xs col-sm-12 col-md-12 text-justify"
    title="{{ 'l-item-text' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['narrativa-item']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-seq-event' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['num-seq-event']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-measurement-seq' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['num-seq-medicao']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-um' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['un']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-expected-date' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['dat-prev-medicao']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-expected-quantity' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['qtd-prevista']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-measurement-value' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['valor-medicao']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-measurement-pec' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['perc-medicao']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-owner' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['responsavel']}} - {{controller.request['tt-medicao-contrat'][0]['desc-responsavel']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-status' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['desc-ind-sit-medicao']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12 text-justify"
    title="{{ 'l-observation' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['observacao']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12 text-justify"
    title="{{ 'l-total' | i18n}}"
    value="{{controller.request['tt-medicao-contrat'][0]['valor-doc']}}">
</totvs-page-detail-info>

<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" ng-show="controller.request['tt-matriz']" style="padding-top:10px">
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="4" class="text-center" style="text-transform: capitalize">{{ 'l-matriz' | i18n }}</th>
        </tr>
        <tr>
            <th class="col-xs-4">{{ 'l-account' | i18n }}</th>
            <th class="col-xs-4">{{ 'l-cost-center' | i18n }}</th>
            <th class="col-xs-2">{{ 'l-business-unit' | i18n }}</th>
            <th class="col-xs-2 text-center">{{ 'l-distrib' | i18n }}</th>
        </tr>
        <tr ng-repeat="m in controller.request['tt-matriz']">
            <td>{{m['ct-codigo']}}</td>
            <td>{{m['sc-codigo']}}</td>
            <td>{{m['cod-unid-negoc']}}</td>
            <td class="text-center">{{m['perc-rateio']}}</td>
        </tr>
    </table>
</div>
