<span class="subtitulo">{{ 'l-general-information' | i18n}}</span>
<totvs-page-detail-info title="{{ 'l-company' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Empresa -->
	{{controller.request['tt-lista'][0]['empresa']}} - {{controller.request['tt-lista'][0]['empresa-desc']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-site' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Filial -->
	{{controller.request['tt-lista'][0]['GW3_FILIAL']}} - {{controller.request['tt-lista'][0]['FILIAL-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-carrier' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Transportador -->
	{{controller.request['tt-lista'][0]['GW3_EMISDF']}} - {{controller.request['tt-lista'][0]['EMISDF-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-species' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Espécie -->
	{{controller.request['tt-lista'][0]['GW3_CDESP']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-series' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Série -->
	{{controller.request['tt-lista'][0]['GW3_SERDF']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-freight-document' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Documento de Frete -->
	{{controller.request['tt-lista'][0]['GW3_NRDF']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-emission-date' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Data Emissão -->
	{{controller.request['tt-lista'][0]['GW3_DTEMIS']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-document-type' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Tipo Documento -->
	{{controller.request['tt-lista'][0]['TPDF-desc']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-doc-status' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Situação Documento -->
	{{controller.request['tt-lista'][0]['SIT-desc']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-request-date' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Data Solicitação -->
	{{controller.request['tt-lista'][0]['GW3_DTENT']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-requisitor' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Solicitante -->
    {{controller.request['tt-lista'][0]['GW3_USUIMP']}} - {{controller.request['tt-lista'][0]['USUIMP-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-consignor' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Remetente -->
	{{controller.request['tt-lista'][0]['GW3_CDREM']}} - {{controller.request['tt-lista'][0]['CDREM-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-consignee' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Destinatário -->
	{{controller.request['tt-lista'][0]['GW3_CDDEST']}} - {{controller.request['tt-lista'][0]['CDDEST-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-cfop' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- CFOP -->
	{{controller.request['tt-lista'][0]['GW3_CFOP']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-cte-key' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Chave CT-e -->
	{{controller.request['tt-lista'][0]['GW3_CTE']}}
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-values' | i18n}}</span> <!-- Valores -->
<totvs-page-detail-info title="{{ 'l-freight-document-value' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor Documento de Frete -->
	{{controller.request['tt-lista'][0]['GW3_VLDF']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-total-fee' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor Taxas -->
	{{controller.request['tt-lista'][0]['GW3_TAXAS']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-toll-amt' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor Pedágio -->
	{{controller.request['tt-lista'][0]['GW3_PEDAG']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-weight-freight' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Frete Peso -->
	{{controller.request['tt-lista'][0]['GW3_FRPESO']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-value-freight' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Frete Valor -->
	{{controller.request['tt-lista'][0]['GW3_FRVAL']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-tax' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Imposto -->
	{{controller.request['tt-lista'][0]['TPIMP-desc']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-tax-amount' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor Imposto -->
	{{controller.request['tt-lista'][0]['GW3_VLIMP']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-taxation' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Tributação -->
	{{controller.request['tt-lista'][0]['TRBIMP-desc']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-tax-basis' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Base Imposto -->
	{{controller.request['tt-lista'][0]['GW3_BASIMP']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-percent' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Aliquota -->
	{{controller.request['tt-lista'][0]['GW3_PCIMP']}} %
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-load-data' | i18n}}</span> <!-- Dados da Carga -->
<totvs-page-detail-info title="{{ 'l-load-value' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor da Carga -->
	{{controller.request['tt-lista'][0]['GW3_VLCARG']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-document-quantity' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Quantidade Documentos -->
	{{controller.request['tt-lista'][0]['GW3_QTDCS']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-no-of-packages' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Quantidade Volumes -->
	{{controller.request['tt-lista'][0]['GW3_QTVOL']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-volumes' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Volumes -->
	{{controller.request['tt-lista'][0]['GW3_VOLUM']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-weight' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Peso -->
	{{controller.request['tt-lista'][0]['GW3_PESOR']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-cubic-weight' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Peso Cubado -->
	{{controller.request['tt-lista'][0]['GW3_PESOC']}}
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-blockade' | i18n}}</span> <!-- Bloqueio -->
<totvs-page-detail-info title="{{ 'l-block-date' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Data Bloqueio -->
	{{controller.request['tt-lista'][0]['GW3_DTBLQ']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-block-user' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Usuário Bloqueio -->
	{{controller.request['tt-lista'][0]['GW3_USUBLQ']}} - {{controller.request['tt-lista'][0]['GW3_USUBLQ']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-blocking-reason' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Motivo Bloqueio -->
	{{controller.request['tt-lista'][0]['GW3_MOTBLQ']}}
</totvs-page-detail-info>

