<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-contract' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['nr-contrato']}} - {{::controller.request['tt-contrato'][0]['des-contrat']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-contract-currency' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['mo-codigo']}} - {{::controller.request['tt-contrato'][0]['desc-mo-codigo']}} ({{ 'l-standart-currency' | i18n}}: {{controller.request['tt-contrato'][0]['moeda-padrao']}} - {{::controller.request['tt-contrato'][0]['desc-moeda-padrao']}})">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-site' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-estabel']}} - {{::controller.request['tt-contrato'][0]['desc-cod-estabel']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-type-mcc' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['desc-natureza']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-modality' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-tipo-contrat']}} - {{::controller.request['tt-contrato'][0]['desc-cod-tipo-contrat']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-vendor' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-emitente']}} - {{::controller.request['tt-contrato'][0]['desc-cod-emitente']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  
	ng-repeat="contrat in ::controller.request['tt-contrato']" ng-if="contrat.cod-projeto != ''" 
    title="{{ 'l-project-cod' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-projeto']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-status' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['desc-ind-sit-contrat']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-receipt-control' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['desc-ind-control-rec']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-message' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-mensagem']}} - {{::controller.request['tt-contrato'][0]['desc-mensagem']}}">
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-dates' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-contract-date' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['dt-contrato']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-initial-date' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['dt-ini-validade']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-final-date' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['dt-ter-validade']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-revision date' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['dat-revisao']}}">
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-owner' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-buyer' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-comprado']}} - {{::controller.request['tt-contrato'][0]['desc-cod-comprado']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-contact' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['contato']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-technical-manager' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['gestor-tecnico']}} - {{::controller.request['tt-contrato'][0]['desc-gestor-tecnico']}}">
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-transport' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-carrier' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-transp']}} - {{::controller.request['tt-contrato'][0]['desc-cod-transp']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-transport-via' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['desc-via-transp']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-freight' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['desc-frete']}}">
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-values-and-terms' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-payment-term-short' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-cond-pag']}} - {{::controller.request['tt-contrato'][0]['desc-cod-cond-pag']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-condition-billing' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['cod-cond-fatur']}} - {{::controller.request['tt-contrato'][0]['desc-cod-cond-fatur']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-limit-value' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['total-contrato']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-qty-variation' | i18n}}"
    value="{{::controller.request['tt-contrato'][0]['variacao-qtd']}} - {{::controller.request['tt-contrato'][0]['variacao-preco']}}">
</totvs-page-detail-info>

<span class="subtitulo">{{ 'l-narrative' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify"
    title=""
    value="{{::controller.request['tt-contrato'][0]['narrat-contrat']}}">
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-total' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title=""
    value="{{::controller.request['tt-contrato'][0]['valor-pendencia']}}">
</totvs-page-detail-info>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<br>
	<accordion close-others="false">
		<accordion-group is-open="true">
			<accordion-heading>
				<div>{{ 'l-items' | i18n}}</div>
			</accordion-heading>
			<totvs-list-item
			    id="item{{item['num-seq-item']}}"
			    ng-class="tab-1"
			    ng-repeat="item in ::controller.request['tt-item-contrat']"
			    totvs-custom-element="customDetail13_listItem">
			 	<totvs-list-item-header>			
					<totvs-list-item-info class="col-xs col-sm-12 col-md-3"
					    title="{{ 'l-seq-item' | i18n}}"
					    value="{{::item['num-seq-item']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-4 col-md-3"
					    title="{{ 'l-item' | i18n}}"
					    value="{{::item['it-codigo']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-8 col-md-6"
					    title="{{ 'l-description' | i18n}}"
					    value="{{::item['desc-it-codigo']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-6 col-md-6"
					    title="{{ 'l-vendor-price' | i18n}}"
					    value="{{::item['preco-fornec']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-6 col-md-6"
					    title="{{ 'l-total-quantity' | i18n}}"
					    value="{{::item['qtd-total']}}">
					</totvs-list-item-info>
				</totvs-list-item-header>
				<totvs-list-item-content-detail ng-show="item['matriz']">
					<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
					    <table class="table table-bordered table-striped">
					        <tr>
					            <th colspan="4" class="text-center" style="text-transform: capitalize">{{ 'l-matriz' | i18n }}</th>
					        </tr>
					        <tr>
					            <th class="col-xs-4">{{ 'l-account' | i18n }}</th>
					            <th class="col-xs-4">{{ 'l-cost-center' | i18n }}</th>
					            <th class="col-xs-2">{{ 'l-business-unit' | i18n }}</th>
					            <th class="col-xs-2 text-center">{{ 'l-distrib' | i18n }}</th>
					        </tr>
					        <tr ng-repeat="m in item['matriz']">
					            <td>{{m['ct-codigo']}}</td>
					            <td>{{m['sc-codigo']}}</td>
					            <td>{{m['cod-unid-negoc']}}</td>
					            <td class="text-center">{{m['perc-rateio']}}</td>
					        </tr>
					    </table>
					</div>
				 </totvs-list-item-content-detail>			
			</totvs-list-item>
		</accordion-group>

		<accordion-group is-open="true">
			<accordion-heading>
				<div>{{ 'l-attachments' | i18n}}</div>
			</accordion-heading>
			<totvs-list-item
			    id="anexo{{anexo['num-seq-anexo']}}"
			    ng-class="tab-1"
			    ng-repeat="anexo in ::controller.request['tt-anexo']"
			    totvs-custom-element="customDetail13_listAnexo">
			 	<totvs-list-item-header>
					<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
					    title="{{ 'l-sequence' | i18n}}"
					    value="{{::anexo['num-seq-anexo']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-8 col-md-4"
					    title="{{ 'l-description' | i18n}}"
					    value="{{::anexo['des-anexo']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-12 text-justify"
					    title="{{ 'l-narrative' | i18n}}"
					    value="{{::anexo['narrat-anexo']}}">
					</totvs-list-item-info>
				</totvs-list-item-header>		
			</totvs-list-item>
		</accordion-group>

		<accordion-group is-open="true">
			<accordion-heading>
				<div>{{ 'l-terms' | i18n}}</div>
			</accordion-heading>
			<totvs-list-item
			    id="clausula{{clausula['num-seq-clausula']}}"
			    ng-class="tab-1"
			    ng-repeat="clausula in ::controller.request['tt-clausula']"
			    totvs-custom-element="customDetail13_listClausula">
			    <totvs-list-item-header>
					<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
					    title="{{ 'l-sequence' | i18n}}"
					    value="{{::clausula['num-seq-clausula']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-8 col-md-4"
					    title="{{ 'l-description' | i18n}}"
					    value="{{::clausula['des-clausula']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-12 text-justify"
					    title="{{ 'l-narrative' | i18n}}"
					    value="{{::clausula['narrat-clausula']}}">
					</totvs-list-item-info>
				</totvs-list-item-header>
			</totvs-list-item>
		</accordion-group>
		<accordion-group ng-show="controller.request['tt-matriz']" is-open="true">
			<accordion-heading>
				<div style="text-transform: capitalize">{{ 'l-matriz' | i18n}}</div>
			</accordion-heading>
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" style="padding-top: 10px">
			    <table class="table table-bordered table-striped">
			        <tr>
			            <th class="col-xs-4">{{ 'l-account' | i18n }}</th>
			            <th class="col-xs-4">{{ 'l-cost-center' | i18n }}</th>
			            <th class="col-xs-2">{{ 'l-business-unit' | i18n }}</th>
			            <th class="col-xs-2 text-center">{{ 'l-distrib' | i18n }}</th>
			        </tr>
			        <tr ng-repeat="m in controller.request['tt-matriz']">
			            <td>{{m['ct-codigo']}}</td>
			            <td>{{m['sc-codigo']}}</td>
			            <td>{{m['cod-unid-negoc']}}</td>
			            <td class="text-center">{{m['perc-rateio']}}</td>
			        </tr>
			    </table>
			</div>
		</accordion-group>

		<accordion-group is-open="true">
			<accordion-heading>
				<div style="text-transform: capitalize">{{ 'l-updates' | i18n}}</div>
			</accordion-heading>
			<totvs-list-item id="histAlter{{item['num-seq-item']}}"
							 ng-class="tab-1"
							 ng-repeat="changes in ::controller.request['tt-hist-alter']"
							 totvs-custom-element="customDetail13_listHistAlter">
			 	<totvs-list-item-header>			
					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
										  title="{{ 'l-item' | i18n}}"
										  value="{{::changes['num-seq-item']}} - {{::changes['it-codigo']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
										  title="{{ 'l-attachement' | i18n}}"
										  value="{{::changes['num-seq-anexo']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
										  title="{{ 'l-term' | i18n}}"
										  value="{{::changes['num-seq-clausula']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
										  title="{{ 'l-user' | i18n}}"
										  value="{{::changes['usuario']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
					    				  title="{{ 'l-date' | i18n}}"
					    				  value="{{::changes['dat-alter']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
							  			  title="{{ 'l-hour' | i18n}}"
										  value="{{::changes['hra-alter']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
										  title="{{ 'l-change-description' | i18n}}"
										  value="{{::changes['des-tipo-alter']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
										  title="{{ 'l-change-origin' | i18n}}"
										  value="{{::changes['alter-origem']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
										  title="{{ 'l-change-destiny' | i18n}}"
										  value="{{::changes['alter-destino']}}">
					</totvs-list-item-info>

				</totvs-list-item-header>
				<totvs-list-item-content-detail>
					<totvs-list-item-info class="col-xs col-sm-12 col-md-12"
										  title="{{ 'l-motive' | i18n}}"
										  value="{{::changes['des-motivo-alter']}}">
					</totvs-list-item-info>
				 </totvs-list-item-content-detail>
			</totvs-list-item>
		</accordion-group>


	</accordion>
</div>
