<totvs-page-detail-info title="{{ 'l-company' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['empresa']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-site' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['estabelec']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-contract' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['cod-contrato']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-sequence' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['num-seq']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-supplier-contract' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['fornec-contrato']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-payment-favored' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['fornec-pagto']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-product' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['produto']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-advance-mode' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['modalid-adto']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-banking-data' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['dados-bancarios']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-expiration-date' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['dat-vencimento']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-value' | i18n}}" class="col-xs col-sm-12 col-md-12">
	{{controller.request['tt-detalhe'][0]['valor']}}
</totvs-page-detail-info>
