<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-requisition' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['numero-ordem']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-seq-event' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['seq-evento']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-contract' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['nr-contrato']}} - {{controller.request['tt-evento-ped'][0]['desc-nr-contrato']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-site' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['cod-estabel']}} - {{controller.request['tt-evento-ped'][0]['desc-cod-estabel']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-seq-item' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['num-seq-item']}} - {{controller.request['tt-evento-ped'][0]['it-codigo']}} - {{controller.request['tt-evento-ped'][0]['desc-it-codigo']}}">
</totvs-page-detail-info>



<span class="subtitulo">{{ 'l-event' | i18n}}</span>
<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-buyer' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['cod-comprado']}} - {{controller.request['tt-evento-ped'][0]['desc-cod-comprado']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-event-date' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['dt-evento']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-expected-date' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['dat-prev-event']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-realization-date' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['dat-realiz']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-new-realization' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['dat-nova-realiz']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-expected-perc' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['perc-lib-previst']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-payment-term' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['cod-cond-pag']}} - {{controller.request['tt-evento-ped'][0]['desc-cond-pagto']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-status' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['desc-ind-sit-event']}}">
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-contract' | i18n}}</span>
<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-modality' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['cod-tipo-contr']}} - {{controller.request['tt-evento-ped'][0]['desc-cod-tipo-contr']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-expected-delivery' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['dat-prev-entr']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-expected-perc' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['perc-lib-previst']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-expected-value' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['valor-evento']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-expected-quantity' | i18n}}"
    value="{{controller.request['tt-evento-ped'][0]['qtd-prevista']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-release-partial-measurements' | i18n}}">    
    <span ng-bind="controller.checkLogValue(controller.request['tt-evento-ped'][0]['log-liber-autom'])"></span>
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-observation' | i18n}}</span>
<span class="col-xs col-sm-12 col-md-12 text-justify"> {{controller.request['tt-evento-ped'][0]['observacao']}} </span>

<span class="subtitulo">{{ 'l-narrative' | i18n}}</span>
<span class="col-xs col-sm-12 col-md-12 text-justify"> {{controller.request['tt-evento-ped'][0]['narrativa']}} </span>
