<span class="subtitulo">{{ 'l-general-information' | i18n}}</span>
<totvs-page-detail-info title="{{ 'l-service-request' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['nr-soli-serv']}} - {{controller.request['tt-detalhe'][0]['descricao']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-date-time-creation' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['data']}} - {{controller.request['tt-detalhe'][0]['hora']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-priority' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['prioridade']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-equipment' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-equipto']}} - {{controller.request['tt-detalhe'][0]['des-equipto']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-tag' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-tag']}} - {{controller.request['tt-detalhe'][0]['des-tag']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-family' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['fm-equipto']}} - {{controller.request['tt-detalhe'][0]['des-fam-equipto']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-cost-center' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cc-codigo']}} - {{controller.request['tt-detalhe'][0]['des-centro-custo']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-start-date' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['dt-inicio']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-end-date' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['dt-termino']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-user' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['nome-usua']}} - {{controller.request['tt-detalhe'][0]['des-nome-usua']}}
</totvs-page-detail-info>



<span class="subtitulo">{{ 'l-budget-values' | i18n}}</span>
<totvs-page-detail-info title="{{ 'l-budget-material' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['vl-orcado-mat']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-budget-labor' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['vl-orcado-mob']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-budget-overhead' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['vl-orcado-ggf']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-total-budget' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['total-orcado']}}
</totvs-page-detail-info>



<span class="subtitulo">{{ 'l-planning' | i18n}}</span>
<totvs-page-detail-info title="{{ 'l-cause' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-sint-padr']}} - {{controller.request['tt-detalhe'][0]['des-sint-padr']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-sympthom' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-causa-padr']}} - {{controller.request['tt-detalhe'][0]['des-causa-padr']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-intervention' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-interv-padr']}} - {{controller.request['tt-detalhe'][0]['des-interv-padr']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-maintenance' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-manut']}} - {{controller.request['tt-detalhe'][0]['des-manut']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-origin-plan' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['des-plano-orig']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-stop-maintenance' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['des-parada']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-stop-plan' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-parada']}} - {{controller.request['tt-detalhe'][0]['des-mi-parada']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-team' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-equip-res']}} - {{controller.request['tt-detalhe'][0]['des-equipe']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-planner' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-planejado']}} - {{controller.request['tt-detalhe'][0]['des-planejador']}}
</totvs-page-detail-info>



<span class="subtitulo">{{ 'l-complement' | i18n}}</span>
<totvs-page-detail-info title="{{ 'l-origin-order' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['nr-ord-orig']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-origin-task' | i18n}}" class="col-xs col-sm-12 col-md-12">
    {{controller.request['tt-detalhe'][0]['cd-tarefa']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-observations' | i18n}}" class="col-xs col-sm-12 col-md-12 text-justify">
    {{controller.request['tt-detalhe'][0]['msg-exp']}}
</totvs-page-detail-info>
