<style type="text/css" scoped="true">
@media screen and (max-width: 768px){
	.marginLeft10{
		margin-left: -5px !important;
	}
}
</style>

<div class="row marginLeft10">
	<div class="col-xs-12">
		<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			title="{{:: 'l-process' | i18n}}"
			value="{{::controller.request['tt-processo'][0]['nr-processo']}} - {{::controller.request['tt-processo'][0]['descricao']}}">
		</totvs-list-item-info>

		<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			title="{{:: 'l-site' | i18n}}"
			value="{{::controller.request['tt-processo'][0]['cod-estabel']}} - {{::controller.request['tt-processo'][0]['desc-cod-estabel']}}">
		</totvs-list-item-info>

		<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			title="{{:: 'l-buyer' | i18n}}"
			value="{{::controller.request['tt-processo'][0]['cod-comprado']}}">
		</totvs-list-item-info>

		<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			title="{{:: 'l-initial-date' | i18n}}"
			value="{{::controller.request['tt-processo'][0]['dt-inicio']}}">
		</totvs-list-item-info>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<span class="subtitulo" ng-show="controller.request['tt-ordem-proc'].length > 0">{{:: 'l-requisitions' | i18n}}</span>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<totvs-list-item
				id="ord{{::ord['numero-ordem']}}"
				ng-class="tab-1"
				ng-repeat="ord in ::controller.request['tt-ordem-proc']"
				totvs-custom-element="customDetail10_listOrd">
				<totvs-list-item-header>	 		
					<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
						title="{{:: 'l-requisition' | i18n}}"
						value="{{::ord['numero-ordem']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
						title="{{:: 'l-item' | i18n}}"
						value="{{::ord['it-codigo']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
						title="{{:: 'l-description' | i18n}}"
						value="{{::ord['desc-it-codigo']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs-12 col-sm-2 col-md-6 col-lg-6"
						title="{{:: 'l-um' | i18n}}"
						value="{{::ord['un']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs-12 col-sm-4 col-md-6 col-lg-6"
						title="{{:: 'l-quantity' | i18n}}"
						value="{{::ord['qt-solic']}}">
					</totvs-list-item-info>

					<totvs-list-item-info class="col-xs-12 col-sm-4 col-md-6 col-lg-6"
						title="{{:: 'l-approved' | i18n}}">
						<span ng-bind="controller.checkLogValue(ord['aprovada'])"></span>
					</totvs-list-item-info>		
				</totvs-list-item-header>

				<totvs-list-item-content-detail 
					ng-init="numOrdem = ord['numero-ordem']" 
					open="controller.viewDetail(ord['numero-ordem'])" 
					close="controller.viewDetail(ord['numero-ordem'])">
						<div ng-if="controller.showDetail[ord['numero-ordem']]" ng-include="'/dts/mla/html/template/detail/quotation.html'" id="quotation"></div>
				</totvs-list-item-content-detail>
			</totvs-list-item>
		</div>
	</div>
</div>

<div class="row marginLeft10">
	<div class="col-xs-12">
		<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			style="margin-top:15px"
			title="{{:: 'l-total-to-aprove' | i18n}}"
			value="{{::controller.request['tt-processo'][0]['valor-a-aprovar']}}">
		</totvs-list-item-info>

		<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			title="{{:: 'l-total-approved' | i18n}}"
			value="{{::controller.request['tt-processo'][0]['valor-aprovado']}}">
		</totvs-list-item-info>

		<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			title="{{:: 'l-total-value-of-package' | i18n}}"
			value="{{::controller.request['tt-processo'][0]['valor-total']}}">
		</totvs-list-item-info>
	</div>
</div>
