<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-site' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['cod-estabel']}} - {{controller.request['tt-ped-venda'][0]['nome']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-order' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['nr-pedido']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-customer' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['cod-emitente']}} - {{controller.request['tt-emitente'][0]['nome-abrev']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-emission-date' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['dt-emissao']}}">
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-status-all' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-credit-line-plus' | i18n}}">
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-de-lim-credito']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2 text-center">
    	( + )
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-d-moeda']}}
    </div>
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-order-total-approved' | i18n}}">
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-de-totvlap-vw']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2 text-center">
    	( - )
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-c-totpdap']}}
    </div>
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-order-total-refused' | i18n}}">
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-de-totvlre-vw']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-c-totpdre']}}
    </div>
</totvs-page-detail-info>	

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-order-total-to-approve' | i18n}}" >
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-de-totvlaa-vw']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2"></div>
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-c-totpdaa']}}
    </div>
</totvs-page-detail-info>	

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
 	title="{{ 'l-invoice-cr' | i18n}}">
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-de-vl-nota-vw']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2 text-center">
    	( - )
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-c-totpdcr']}}
    </div>
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-balance-due-cr' | i18n}}">
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-de-saldo-cr-vw']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-p5-vl-cr-abe']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	( - )
    </div>
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-credit-balance-ap-vi' | i18n}}">
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-de-saldo-ap-vw']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-p6-vl-ap-abe']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	( + )
    </div>
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-current-balance' | i18n}}">
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-de-saldo-vw']}}
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    	{{controller.request['tt-valores2'][0]['tt-c-sinal']}} 
    </div>
    <div class="col-xs col-sm-2 col-md-2">
    </div>
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-customer-information' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-customer' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['cod-emitente']}} - {{controller.request['tt-emitente'][0]['nome-abrev']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-representative' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['cod-repres']}} - {{controller.request['tt-emitente'][0]['nome-repres']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-business-address' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['endereco']}} - {{controller.request['tt-emitente'][0]['bairro']}} - {{controller.request['tt-emitente'][0]['cidade']}} - {{controller.request['tt-emitente'][0]['estado']}} - {{controller.request['tt-emitente'][0]['cep']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-local-collection' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['endereco-cob']}} - {{controller.request['tt-emitente'][0]['bairro-cob']}} - {{controller.request['tt-emitente'][0]['cidade-cob']}} - {{controller.request['tt-emitente'][0]['estado-cob']}} - {{controller.request['tt-emitente'][0]['cep-cob']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-cnpj' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['cgc-cob']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-state-registration' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['ins-est-cob']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-phone' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['telefone1']}} - {{controller.request['tt-emitente'][0]['telefone2']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-credit-line' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['lim-credito']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-limit-date' | i18n}}"
    value="{{controller.request['tt-emitente'][0]['dt-lim-cred']}}">
</totvs-page-detail-info>




<span class="subtitulo">{{ 'l-general' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-site' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['cod-estabel']}} - {{controller.request['tt-ped-venda'][0]['nome']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-channel-sales' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['cod-canal-venda']}} - {{controller.request['tt-ped-venda'][0]['desc-canal']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-currency' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['mo-codigo']}} - {{controller.request['tt-ped-venda'][0]['desc-moeda']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-payment-term-short' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['cod-cond-pag']}} - {{controller.request['tt-ped-venda'][0]['desc-pagto']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-tab-price' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['nr-tabpre']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-tab-financ' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['nr-tab-finan']}} - {{controller.request['tt-ped-venda'][0]['nr-ind-finan']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-discount-customer' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['perc-desco1']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-discount-customer2' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['perc-desco2']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-all-order-value' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['vl-tot-ped']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-liquid-order-value' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['vl-liq-ped']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-all-open-value' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['vl-liq-abe']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-order-rep' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['nr-pedrep']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-emission-date' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['dt-emissao']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-date-implements' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['dt-implant']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-delivery-date' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['dt-entrega']}}">
</totvs-page-detail-info>

<span class="col-xs col-sm-12 col-md-12">{{controller.request['tt-ped-venda'][0]['observacao']}}</span>


<span class="subtitulo">{{ 'l-credit' | i18n}}</span>
<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-who-aprov' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['quem-aprovou']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-status-credit' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['desc-sit-aval']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-date-aprov-credit' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['dt-apr-cred']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-why-block' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['desc-bloq-cr']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-why-no-block' | i18n}}"
    value="{{controller.request['tt-ped-venda'][0]['desc-forc-cr']}}">
</totvs-page-detail-info>

<span class="col-xs col-sm-12 col-md-12"> {{controller.request['tt-ped-venda'][0]['narrativa']}} </span>

<span class="subtitulo" ng-show="controller.request['tt-ped-item'].length > 0">{{ 'l-items' | i18n}}</span>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <totvs-list-item
        id="item{{item['nr-sequencia']}}"
        ng-class="tab-1"
        ng-repeat="item in controller.request['tt-ped-item']"
        totvs-custom-element="customDetail21_listItem">
        <totvs-list-item-header>
    		<totvs-list-item-info class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
    		    title="{{ 'l-seq' | i18n}}"
    		    value="{{item['nr-sequencia']}}">
    		</totvs-list-item-info>

    		<totvs-list-item-info class="col-xs-12 col-sm-9 col-md-9 col-lg-9"
    		    title="{{ 'l-item' | i18n}}"
    		    value="{{item['it-codigo']}} - {{item['descricao-1']}}">
    		</totvs-list-item-info>

    		<totvs-list-item-info class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
    		    title="{{ 'l-reference' | i18n}}"
    		    value="{{item['cod-refer']}}">
    		</totvs-list-item-info>

    		<totvs-list-item-info class="col-xs-12 col-sm-4 col-md-3 col-lg-3"
    		    title="{{ 'l-quantity-balance' | i18n}}"
    		    value="{{item['qt-pedida']}}">
    		</totvs-list-item-info>

    		<totvs-list-item-info class="col-xs-12 col-sm-4 col-md-2 col-lg-3"
    		    title="{{ 'l-um' | i18n}}"
    		    value="{{item['un']}}">
    		</totvs-list-item-info>

    		<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
    		    title="{{ 'l-all-open-value' | i18n}}"
    		    value="{{item['vl-liq-abe']}}">
    		</totvs-list-item-info>
    	</totvs-list-item-header>
    </totvs-list-item>
</div>
