<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-site' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc025'][0]['tta_cod_estab']}} - {{controller.request['tt_item_detalhe_final_doc025'][0]['ttv_des_cod_estab']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-reference' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc025'][0]['tta_cod_refer']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-user-doc' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc025'][0]['tta_cod-usuar']}} - {{controller.request['tt_item_detalhe_final_doc025'][0]['tta_nome-usuar']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-transaction-date' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc025'][0]['tta_dat_transacao']}}">
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    title="{{ 'l-title-value' | i18n}}"
    value="{{controller.request['tt_item_detalhe_final_doc025'][0]['tta_val_tit_ap']}}">
</totvs-page-detail-info>


<span class="subtitulo" ng-show="controller.request['tt_item_detalhe_final_doc025'].length > 0">{{ 'l-items' | i18n}}</span>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<totvs-list-item
	    id="item{{item['seq']}}"
	    ng-class="tab-1"
	    ng-repeat="item in controller.request['tt_item_detalhe_final_doc025']"
	    totvs-custom-element="customDetail25_listItem">

	    <totvs-list-item-header>
	        <totvs-list-item-info title="{{ 'l-flow-type' | i18n}}" class="col-xs col-sm-12 col-md-6">
				{{item['tta_cod_tip_fluxo_financ']}} - {{item['ttv_des_tip_fluxo_financ']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-accounts-plan' | i18n}}" class="col-xs col-sm-12 col-md-6">
				{{item['tta_cod_plano_cta_ctbl']}} - {{item['ttv_des_plano_cta_ctbl']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-account-book' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cod_cta_ctbl']}} - {{item['ttv_des_cta_ctbl']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-business-unit' | i18n}}" class="col-xs col-sm-12 col-md-6">
				{{item['tta_cod_unid_negoc']}} - {{item['ttv_des_unid_negoc']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-center-plan' | i18n}}" class="col-xs col-sm-12 col-md-6">
				{{item['tta_cod_plano_ccusto']}} - {{item['ttv_des_plano_ccusto']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-cost-center' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cod_ccusto']}} - {{item['ttv_des_ccusto']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-value-approve' | i18n}}" class="col-xs col-sm-6 col-md-6">
				{{item['tta_val_aprop_ctbl']}}
			</totvs-list-item-info>
		</totvs-list-item-header>

		<totvs-list-item-content-detail>
			<totvs-list-item-info title="{{ 'l-vendor' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cdn_fornecedor']}} - {{item['tta_nom_pessoa']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-country' | i18n}}" class="col-xs col-sm-12 col-md-7">
				{{item['tta_cod_pais']}} - {{item['tta_nom_pais']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-species' | i18n}}" class="col-xs col-sm-6 col-md-5">
				{{item['tta_cod_espec_docto']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-series' | i18n}}" class="col-xs col-sm-6 col-md-3">
				{{item['tta_cod_ser_docto']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-title' | i18n}}" class="col-xs col-sm-6 col-md-4">
				{{item['tta_cod_tit_ap']}} - {{item['tta_cod_parcela']}}
			</totvs-list-item-info>
			
			<br>
			
			<totvs-list-item-info title="{{ 'l-bearer' | i18n}}" class="col-xs col-sm-6 col-md-5">
				{{item['tta_cod_portador']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-emission-date' | i18n}}" class="col-xs col-sm-6 col-md-3">
				{{item['tta_dat_emis_docto']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-expiration-date' | i18n}}" class="col-xs col-sm-6 col-md-4">
				{{item['tta_dat_vencto_tit_ap']}}
			</totvs-list-item-info>
		
			<totvs-list-item-info title="{{ 'l-currency' | i18n}}" class="col-xs col-sm-6 col-md-5">
				{{item['tta_cod_indic_econ']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-quotation' | i18n}}" class="col-xs col-sm-6 col-md-3">
				{{item['tta_val_cotac_indic_econ']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-inverse-quotation' | i18n}}" class="col-xs col-sm-6 col-md-4">
				{{item['ttv_val_cotac_indic_inver']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-value' | i18n}}" class="col-xs col-sm-6 col-md-5">
				{{item['tta_val_tit_ap']}}
			</totvs-list-item-info>

			<totvs-list-item-info title="{{ 'l-payment-mode' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['ttv_ind_modo_pagto']}} - {{item['tta_des_forma_pagto']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-payment-method' | i18n}}" class="col-xs col-sm-12 col-md-12">
				{{item['tta_cod_forma_pagto']}} - {{item['tta_des_forma_pagto']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-check-number' | i18n}}" class="col-xs col-sm-6 col-md-3">
				{{item['tta_num_cheque']}}
			</totvs-list-item-info>
			<totvs-list-item-info title="{{ 'l-talonario' | i18n}}" class="col-xs col-sm-6 col-md-5">
				{{item['tta_num_talon_cheq']}}
			</totvs-list-item-info>
			
			<totvs-list-item-info title="{{ 'l-favored' | i18n}}" class="col-xs col-sm-12 col-md-7">
				{{item['tta_ind_favorec_cheq']}} - {{item['tta_nom_favorec_cheq']}}
			</totvs-list-item-info>
			
			<br>

			<totvs-list-item-info title="{{ 'l-history' | i18n}}" class="col-xs col-sm-12 col-md-12 text-justify">
				{{item['tta_des_text_histor']}}
			</totvs-list-item-info>
		</totvs-list-item-content-detail>
	</totvs-list-item>
</div>
