<span class="subtitulo">{{ 'l-general-information' | i18n}}</span>
<totvs-page-detail-info title="{{ 'l-company' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Empresa -->
	{{controller.request['tt-lista'][0]['empresa']}} - {{controller.request['tt-lista'][0]['empresa-desc']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-site' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Filial -->
	{{controller.request['tt-lista'][0]['GW6_FILIAL']}} - {{controller.request['tt-lista'][0]['FILIAL-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-carrier' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Transportador -->
	{{controller.request['tt-lista'][0]['GW6_EMIFAT']}} - {{controller.request['tt-lista'][0]['EMIFAT-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-series' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Série -->
	{{controller.request['tt-lista'][0]['GW6_SERFAT']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-freight-invoice' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Fatura de Frete -->
	{{controller.request['tt-lista'][0]['GW6_NRFAT']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-emission-date' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Data Emissão -->
	{{controller.request['tt-lista'][0]['GW6_DTEMIS']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-expiration-date' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Data Vencimento -->
	{{controller.request['tt-lista'][0]['GW6_DTVENC']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-request-date' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Data Solicitação -->
	{{controller.request['tt-lista'][0]['GW6_DTCRIA']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-requisitor' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Solicitante -->
    {{controller.request['tt-lista'][0]['GW6_USUBLO']}} - {{controller.request['tt-lista'][0]['USUBLO-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-origin' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Origem -->
	{{controller.request['tt-lista'][0]['ORIGEM-desc']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-observation' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Observação -->
	{{controller.request['tt-lista'][0]['GW6_OBS']}}
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-values' | i18n}}</span> <!-- Valores -->
<totvs-page-detail-info title="{{ 'l-freight-invoince-amt' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor Fatura de Frete -->
	{{controller.request['tt-lista'][0]['GW6_VLFATU']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-discount-value' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor Desconto -->
	{{controller.request['tt-lista'][0]['GW6_VLDESC']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-value-interest' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor Juros -->
	{{controller.request['tt-lista'][0]['GW6_VLJURO']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-tax-amount-icms' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor ICMS -->
	{{controller.request['tt-lista'][0]['GW6_VLICMS']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-retained-tax-amt' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor ICMS Ret -->
	{{controller.request['tt-lista'][0]['GW6_VLICRE']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-tax-amount-iss' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor ISS -->
	{{controller.request['tt-lista'][0]['GW6_VLISS']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-retained-tax-amt-iss' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Valor ISS Ret -->
	{{controller.request['tt-lista'][0]['GW6_VLISRE']}}
</totvs-page-detail-info>


<span class="subtitulo">{{ 'l-blockade' | i18n}}</span> <!-- Bloqueio -->
<totvs-page-detail-info title="{{ 'l-block-date' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Data Bloqueio -->
	{{controller.request['tt-lista'][0]['GW6_DTBLOQ']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-block-time' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Hora Bloqueio -->
	{{controller.request['tt-lista'][0]['GW6_HRBLOQ']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-block-user' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Usuário Bloqueio -->
	{{controller.request['tt-lista'][0]['GW6_USUBLO']}} - {{controller.request['tt-lista'][0]['USUBLO-nome']}}
</totvs-page-detail-info>

<totvs-page-detail-info title="{{ 'l-blocking-reason' | i18n}}" class="col-xs col-sm-12 col-md-12"> <!-- Motivo Bloqueio -->
	{{controller.request['tt-lista'][0]['GW6_MOTBLO']}}
</totvs-page-detail-info>

