<totvs-page type="list" totvs-custom-element="customPage">
    <totvs-page-navbar>
        <totvs-page-breadcrumb>
            <breadcrumb link="#/">{{ 'l-initial-page' | i18n }}</breadcrumb>
            <breadcrumb link="#/dts/mpd/portalconfigpdp/">{{ 'l-portal-config-clien-rep' | i18n }}</breadcrumb>
            <breadcrumb>{{ 'l-portal-model' | i18n }}</breadcrumb>
        </totvs-page-breadcrumb>

        <totvs-page-header>
            <totvs-page-header-title title="{{ 'l-portal-model' | i18n }}" total="{{ controller.totalRecords }}">
            </totvs-page-header-title>

            <totvs-page-header-operation>
                <totvs-page-header-operation-action limit-primary-action="1">
                    <action link="#/dts/mpd/portalmodel/new/{{ controller.idPortalConfigur }}/0" icon="glyphicon-plus">
                        {{ 'btn-add' | i18n }}
                    </action>

                    <action ng-click="controller.openCopyModal()" icon="glyphicon-copy">
                        {{ 'l-copy-model' | i18n }}
                    </action>
                </totvs-page-header-operation-action>

                <totvs-page-header-operation-filter placeholder="{{ 'l-search' | i18n }}"
                    ng-submit="controller.loadData()" ng-model="controller.quickSearchText">
                </totvs-page-header-operation-filter>
            </totvs-page-header-operation>

            <totvs-page-tags>
				<tag class="tag-1 btn btn-link" ng-click="controller.loadData(null, 1)">
                    {{ 'l-desc-order-model-type' | i18n }}
                </tag>
				<tag class="tag-2 btn btn-link" ng-click="controller.loadData(null, 2)">
                    {{ 'l-desc-quotation-model-type' | i18n }}
                </tag>             
			</totvs-page-tags>

            <totvs-page-disclaimers disclaimer-list="controller.disclaimers" ng-click="controller.removeDisclaimer">
            </totvs-page-disclaimers>
        </totvs-page-header>
    </totvs-page-navbar>

    <totvs-page-content>
        <totvs-list-item ng-repeat="portalModel in controller.listResult" class="tag-{{ portalModel.tag }}">
            <totvs-list-item-header>
                <totvs-list-item-title
                    link="#/dts/mpd/portalmodel/detail/{{ portalModel['idi-seq'] }}/{{ portalModel['idi-model'] }}"
                    title="{{ portalModel['idi-model'] }} - {{ portalModel['nom-model'] }}"
                >
                </totvs-list-item-title>

                <totvs-list-item-action limit-primary-action="1">
                    <action
                        link="#/dts/mpd/portalmodel/edit/{{ portalModel['idi-seq'] }}/{{ portalModel['idi-model'] }}"
                        icon="glyphicon-pencil"
                        role="button"
                    >
                        {{ 'btn-edit' | i18n }}
                    </action>

                    <action ng-click="controller.delete(portalModel)" icon="glyphicon-remove">
                        {{ 'btn-remove' | i18n }}
                    </action>

                    <action
                        link="#/dts/mpd/portalmodelval/{{ portalModel['idi-seq'] }}/{{ portalModel['idi-model'] }}"
                        icon="glyphicon-plus"
                    >
                        {{ 'btn-model-val' | i18n }}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>

            <totvs-list-item-content>
                <totvs-list-item-info class="col-lg-2 col-md-2 col-sm-4 col-xs-12" title="{{ 'l-model-type' | i18n }}">
                    <b ng-if="portalModel['cdn-tipo-model'] == 1" style="font-weight: inherit">
                        {{ 'l-order-model-type' | i18n }}
                    </b>
                    <b ng-if="portalModel['cdn-tipo-model'] == 2" style="font-weight: inherit">
                        {{ 'l-quotation-model-type' | i18n }}
                    </b>
                </totvs-list-item-info>

                <totvs-list-item-info
                    class="col-lg-1 col-md-2 col-sm-4 col-xs-12"
                    title="{{ 'l-ativo' | i18n }}"
                    value="{{ portalModel['log-ativo'] | booleanI18N }}"
                >
                </totvs-list-item-info>

                <totvs-list-item-info
                    class="col-lg-10 col-md-8 col-sm-12 col-xs-12"
                    title="{{ 'l-descricao' | i18n }}"
                    value="{{ portalModel['nom-descr'] }}"
                >
                </totvs-list-item-info>

            </totvs-list-item-content>
        </totvs-list-item>

        <totvs-list-pagination
            ng-if="controller.listResult.length < controller.totalRecords && controller.listResult.length"
            ng-click="controller.loadData(true);"
        >
        </totvs-list-pagination>
    </totvs-page-content>
</totvs-page>
