<totvs-modal-header>
    {{'l-whouses' | i18n}}
</totvs-modal-header>

<totvs-modal-body>
    <totvs-page-form>
        <totvs-row>
            <totvs-field totvs-input
                        class="col-xs-12"
                        ng-model="openDepositoCtrl.ttDeposito"
                        id="cod-depos"
                        zoom-id="cod-depos"
                        zoom-description="nome"
                        zoom-service="mce.deposito.zoom"
                        zoom-multiple
                        label="{{ 'l-whouses' | i18n }}"
                        canclean>
            </totvs-field>
            </totvs-row>
    </totvs-page-form>
</totvs-modal-body>

    <totvs-modal-footer>
        <button class="btn btn-default" ng-click="openDepositoCtrl.close()">{{ 'l-cancel' | i18n }}</button>
        <button class="btn btn-primary" ng-click="openDepositoCtrl.confirmar()">{{ 'l-confirm' | i18n }}</button>
    </totvs-modal-footer>