<totvs-list-item-info class="col-xs col-sm-4 col-md-3"
    title="{{ 'l-site-short' | i18n}}"
    value="{{request['GW6_FILIAL']}}"> <!-- Estab -->
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-carrier' | i18n}}"
    value="{{request['GW6_EMIFAT']}} - {{request['EMIFAT-nome']}}"> <!-- Transportador -->
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-date' | i18n}}"
    value="{{request['GW6_DTCRIA']}}"> <!-- Data -->
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-requester' | i18n}}"
    value="{{request['USUBLO-nome']}}"> <!-- Requisitante -->
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-value' | i18n}}"
    value="{{request['GW6_VLFATU']}}"> <!-- Valor -->
</totvs-list-item-info>
