
<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-date' | i18n}}"
    value="{{request['dt-requisicao']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-requester' | i18n}}"
    value="{{request['nome-abrev']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-value' | i18n}}"
    value="{{request['valor']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4" ng-hide="request['situacao-doc'] == '1'"
    title="{{ 'l-status' | i18n}}"
    value="{{request['situacao-doc-desc']}}">
</totvs-list-item-info>
