<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-item' | i18n}}"
    value="{{request['it-codigo']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-contract' | i18n}}"
    value="{{request['nr-contrato']}}">
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-4"
    title="{{ 'l-date' | i18n}}"
    value="{{request['data-pedido']}}">
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-8 col-md-4"
    title="{{ 'l-payment-term-short' | i18n}}"
    value="{{request['desc-cond-pagto']}}">
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-4"
    title="{{ 'l-owner' | i18n}}"
    value="{{request['responsavel']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-vendor' | i18n}}"
    value="{{request['nome-abrev']}} - {{request['nome-emit']}}">
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-4"
    title="{{ 'l-type-mcc' | i18n}}"
    value="{{request['desc-natureza']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-value' | i18n}}"
    value="{{request['valor']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-3" ng-hide="request['situacao-doc'] == '1'"
    title="{{ 'l-status' | i18n}}"
    value="{{request['situacao-doc-desc']}}">
</totvs-list-item-info>
