<totvs-list-item-info class="col-xs col-sm-12 col-md-8"
    title="{{ 'l-site' | i18n}}"
    value="{{request['cod-estabel']}} - {{request['nome']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-customer' | i18n}}"
    value="{{request['cod-emitente']}} - {{request['nome-abrev']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-order-total-value' | i18n}}"
    value="{{request['valor']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-emission-date' | i18n}}"
    value="{{request['dt-emissao'] | progressDate}}">
</totvs-list-item-info>
