<totvs-list-item-info class="col-xs col-sm-12 col-md-6"
    title="{{ 'l-site' | i18n}}"
    value="{{request['tta_cod_estab']}} - {{request['tta_nom_pessoa']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-3"
    title="{{ 'l-sequence' | i18n}}"
    value="{{request['tta_num_seq_refer']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-6"
    title="{{ 'l-title-value' | i18n}}"
    value="{{request['mla-doc-pend-aprov-valor-doc']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-6"
    title="{{ 'l-transaction-date' | i18n}}"
    value="{{request['tta_dat_transacao'] | progressDate}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-12 col-md-12"
    title="{{ 'l-user-doc' | i18n}}"
    value="{{request['tta_cod-usuar']}}">
</totvs-list-item-info>
