
<totvs-list-item-info class="hidden-xs col-sm-4 col-md-4"
    title="{{ 'l-date' | i18n}}"
    value="{{request['dt-requisicao'] | progressDate}}">
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-4"
    title="{{ 'l-requester' | i18n}}"
    value="{{request['nome-abrev']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-4"
    title="{{ 'l-item' | i18n}}"
    value="{{request['it-codigo']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-item-value' | i18n}}"
    value="{{request['val-item']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4" ng-hide="request['situacao-doc'] == '1'"
    title="{{ 'l-status' | i18n}}"
    value="{{request['situacao-doc-desc']}}">
</totvs-list-item-info>
