<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12"
    title="{{ 'l-contract' | i18n}}"
    value="{{request['des-contrat']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-3"
    title="{{ 'l-seq-item' | i18n}}"
    value="{{request['num-seq-item']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-3"
    title="{{ 'l-requisition' | i18n}}"
    value="{{request['numero-ordem']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-3"
    title="{{ 'l-seq-event' | i18n}}"
    value="{{request['num-seq-event']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-3"
    title="{{ 'l-site' | i18n}}"
    value="{{request['cod-estabel']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-6"
    title="{{ 'l-item' | i18n}}"
    value="{{request['it-codigo']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-3"
    title="{{ 'l-value' | i18n}}"
    value="{{request['valor']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-3" ng-hide="request['situacao-doc'] == '1'"
    title="{{ 'l-status' | i18n}}"
    value="{{request['situacao-doc-desc']}}">
</totvs-list-item-info>
