<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-expiration-date' | i18n}}"
    value="{{request['dat-vencimento']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-value' | i18n}}"
    value="{{request['valor']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-supplier-contract' | i18n}}"
    value="{{request['fornec-contrato']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-payment-favored' | i18n}}"
    value="{{request['fornec-pagto']}}">
</totvs-list-item-info>
