<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-description' | i18n}}"
    value="{{request['descricao']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-equipment' | i18n}}"
    value="{{request['cd-equipto']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-tag' | i18n}}"
    value="{{request['cd-tag']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-family' | i18n}}"
    value="{{request['fm-equipto']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-priority' | i18n}}"
    value="{{request['prioridade']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-user' | i18n}}"
    value="{{request['nome-usua']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-date' | i18n}}"
    value="{{request['data']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-total-budget' | i18n}}"
    value="{{request['total-orcado']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4" ng-hide="request['situacao-doc'] == '1'"
    title="{{ 'l-status' | i18n}}"
    value="{{request['situacao-doc-desc']}}">
</totvs-list-item-info>
