<totvs-list-item-info class="col-xs col-sm-4 col-md-3"
    title="{{ 'l-site-short' | i18n}}"
    value="{{request['estab']}}">
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-requester' | i18n}}"
    value="{{request['USUCRI']}}">
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-date' | i18n}}"
    value="{{request['DTCRIA']}}">
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-carrier' | i18n}}"
    value="{{request['CDEMIT']}} - {{request['desc-transp']}}">
</totvs-list-item-info>

<!-- Negociação - l-negotiatn -->
<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-negotiatn' | i18n}}"
    value="{{request['NRNEG']}}">
</totvs-list-item-info>

<!-- Valor da Cotação - l-quotation-amount -->
<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-quotation-amount' | i18n}}"
    value="{{request['VALCOT']}}">
</totvs-list-item-info>
