<totvs-list-item-info class="col-xs col-sm-12 col-md-8"
    title="{{ 'l-site' | i18n}}"
    value="{{request['tta_cod_estab']}} - {{request['tta_nom_pessoa']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-sequence' | i18n}}"
    value="{{request['tta_num_seq_refer']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-value-payment' | i18n}}"
    value="{{request['mla-doc-pend-aprov-valor-doc']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-anticipations-cull' | i18n}}"
    value="{{request['tta_val_abat_tit_ap']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-forecast-payment' | i18n}}"
    value="{{request['tta_dat_prev_pagto'] | progressDate}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4"
    title="{{ 'l-user-doc' | i18n}}"
    value="{{request['tta_cod-usuar']}}">
</totvs-list-item-info>
