<totvs-list-item-info class="col-xs-12 col-sm-8 col-md-8"
    title="{{ 'l-description' | i18n}}"
    value="{{request['des-contrat']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-contract-date' | i18n}}"
    value="{{request['dt-contrato']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-12 col-md-4"
    title="{{ 'l-payment-term' | i18n}}"
    value="{{request['desc-cod-cond-pag']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-8 col-md-4"
    title="{{ 'l-start-validity' | i18n}}"
    value="{{request['dt-ini-validade']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-end-validity' | i18n}}"
    value="{{request['dt-ter-validade']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-limit-value' | i18n}}"
    value="{{request['limite-valor']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-limit-quantity' | i18n}}"
    value="{{request['limite-quantidade']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
    title="{{ 'l-value' | i18n}}"
    value="{{request['valor']}}">
</totvs-list-item-info>

<totvs-list-item-info class="col-xs col-sm-6 col-md-4" ng-hide="request['situacao-doc'] == '1'"
    title="{{ 'l-status' | i18n}}"
    value="{{request['situacao-doc-desc']}}">
</totvs-list-item-info>
