<totvs-list-item-info class="col-xs col-sm-4 col-md-3"
    title="{{ 'l-site-short' | i18n}}"
    value="{{request['GW3_FILIAL']}}"> <!-- Estab -->
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-carrier' | i18n}}"
    value="{{request['GW3_EMISDF']}} - {{request['EMISDF-nome']}}"> <!-- Transportador -->
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-date' | i18n}}"
    value="{{request['GW3_DTENT']}}"> <!-- Data -->
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-requester' | i18n}}"
    value="{{request['USUIMP-nome']}}"> <!-- Requisitante -->
</totvs-list-item-info>

<totvs-list-item-info class="hidden-xs col-sm-4 col-md-3"
    title="{{ 'l-value' | i18n}}"
    value="{{request['GW3_VLDF']}}"> <!-- Valor -->
</totvs-list-item-info>
