<div class="modal-header">
    <h3 class="modal-title">{{:: 'l-copy' | i18n : [] : 'dts/mpd'}}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
            <totvs-grid grid-data="controller.rulesOperationsDataCopy" 
                        grid-dirty-items="controller.rulesOperationsDataEditedCopy" 
                        editable="true"
                        resizable="true"
                        navigatable="true"
                        grid-height="400"
                        grid-options="controller.getGridOptionsCopy"
                        grid="controller.gridRulesOperationsCopy" 
                        on-edit="controller.itemsGridEdit(event, column)"
						grid-selected-item="controller.singleRulesOperationsSelectedCopyGrid"
            </totvs-grid>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-ng-click="controller.beforeCopy();">{{ 'l-copy' |  i18n : [] : 'dts/mpd' }}</button>
    <button type="button" class="btn btn-danger" data-ng-click="controller.close();">{{ 'btn-cancel' |  i18n : [] : 'dts/mpd' }}</button>
</div>