<div ng-controller="salesorder.dashboard.messagecustomer.Controller as controllerMessage">
	<totvs-widget>
		<totvs-widget-header title="{{ 'l-messages' | i18n : [] : 'dts/mpd/' }}">
		</totvs-widget-header>
		<totvs-widget-body>
			<ul ng-if="controllerMessage.hasMessage">
				<li ng-repeat="m in controllerMessage.userMessagesData">
					{{m}}
				</li>
			</ul>
			<ul ng-if="!controllerMessage.hasMessage">
				<li>
					<p>{{ 'l-no-messages' | i18n : [] : 'dts/mpd/' }}</p>
				</li>
			</ul>
		</totvs-widget-body>
	</totvs-widget>
</div>

