.page-content .list-item.vermelho {
    border-color: #b8312f;
}
.page-content .list-item.amarelo {
    border-color: #fac51c;
}
.page-content .list-item.verde {
    border-color: #41a85f;
}
.page-content .list-item.azul {
    border-color: #428bca;
}

.page-head .page-tags .tag:before
{
    content: "" !important
}

.bg-vermelho, .tag.vermelho:before  {
    background-color: #b8312f;
}
.bg-amarelo, .tag.amarelo:before {
    background-color: #fac51c;
}
.bg-verde, .tag.verde:before {
    background-color: #41a85f;
}
.bg-azul, .tag.azul:before {
    background-color: #428bca;
}
.bg-vermelho .cartao-conteudo .rounded-text {
    background-color: #872523;
} 
.bg-amarelo .cartao-conteudo .rounded-text {
    background-color: #ffa700;
}
.bg-azul .cartao-conteudo .rounded-text {
    background-color: #286090;
}
.bg-verde .cartao-conteudo .rounded-text {
    background-color: #5bd75b;
}
.faixa-kanban {
    background-color: #DADADA;
}
.faixa-fixa, .faixa-kanban-label {
    background-color: #737373;
}

.check-nivel input[type=checkbox]:checked + label {
    background-color: #ca2100;
}
.check-nivel label, .cartao-label, .floating-div > div {
    background-color: #ffffff;
}
.check-nivel {
    background-color: #dddddd;
}
.is-color-green {
  color: #41a85f;
}
.is-color-yellow {
  color: #fac51c;
}
.is-color-red {
  color: #b8312f;
}
.is-color-blue {
  color: #428bca;
}

.bg-vermelho .cartao-conteudo, .faixa-kanban-label, .faixa-fixa, .faixa-kanban-label a, .faixa-kanban-label a:link, .faixa-kanban-label a:hover, .faixa-kanban-label a:active, .faixa-kanban-label a:visited {
    color: white;
}
.bg-amarelo .cartao-conteudo, .bg-azul .cartao-conteudo, .bg-verde .cartao-conteudo, .cartao-label {
    color: black;
}
.page-content .list-item.success-parameter span.status-icon {
    color: #41a85f;
}
.page-content .list-item.error-parameter span.status-icon {
    color: #b8312f;
}
.floating-div .button, .classifier-select li {
    color: #0e9abd;
}
.parametersIntegrationLabel, .input-label {
    color: gray;
}
.lista-centro-trabalho li.centro-trabalho-disable {
    color: #bdbdbd;
}

.is-pointer {
    cursor: pointer;
} 

.faixa-kanban-filled {
    height: 20%;
    margin-bottom: 5px;
}

.horizontal-scroll {
    overflow-x: auto;
}

.horizontal-scroll {
    white-space: nowrap;
}

.horizontal-scroll {
    overflow-y: hidden;
}
.floating-div .content {
    overflow-y: auto;
}

.pilha-kanban {
    display: inline-block;
    min-width: 300px;
}

.faixa-kanban {
    padding: 5px;
    margin-top: 0;
    margin: 2px;
}

.faixa-kanban-label {    
    margin-bottom: 0;
}

.faixa-kanban-fill {
    position: absolute;
    height: 50%;
    margin: 0;
    bottom: 0;
    left: 0;
}

.faixa-kanban .content {
    display: block;
    font-weight: bold;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
}

.check-nivel {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.check-nivel input[type=checkbox] {
    visibility: hidden;
}
.check-nivel label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.quadro .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

.panel-body {
  height: 119%;
  padding: 15px;
  width: 100%;  
}

.classifiers-panel .panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.board-settings {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cartao {
    min-width: 150px;
    border: 1px solid #d7d7d7;
    border-top: 3px solid #d7d7d7;
    display: inline-block;
    margin-left: 4px;
}

.cartao-label {
    font-weight: bold;
    padding-right: 4px;
    padding-left: 4px;
}

.cartao-conteudo .rounded-text {
    margin-top: 15px;
    border-radius: 50%;
    padding: 5px;
}

.cartao-conteudo {
    padding: 4px;
    font-weight: normal;
    text-align: center;
}

.faixa-cartao {
    padding: 4px;
    padding-right: 8px;
    display: inline-block;
}

.faixa-fixa {
    font-weight: bold;
}

.width-fill {
    width: 100%;
}

.ui-select-bootstrap > ul.ui-select-choices.truncate {
    width: 100% !important;
}

.content-header {
    padding: 10px 10px 10px 12px;
}

.field-addon-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.consumeButton{
    margin-top: 30px;
}

.floating-div {
    position: fixed;
    top: 80px;
    left: 0;
    height: 100%;
    z-index: 997;
    height: -moz-calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    height: -o-calc(100% - 80px);
    height: calc(100% - 80px);
}

.floating-div > div {
    display:inline-block;
    position: relative;
    box-shadow:2px 2px 6px rgba(23,69,88,0.5);
    vertical-align: top;
}

.floating-div .content {
    height: 100%;
    z-index: 1;
}

.floating-div .button {
    height: 100%;
    font-size: 18px;
    z-index: 0;
    margin-left: -4px;
    padding: 15px 5px 15px 5px;
}

.classifier-select ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
}

.classifier-select li {
    display: block;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}

li.category {
    border-left: 5px solid #286090;
}

li.classifier {
    padding-left: 50px;
}

.dashboard-padding-right {
    padding-right: 15px;
}

.dashboard.breadcrumb {
    margin-bottom: 0px;
}

.dashboard.breadcrumb > .active {
    font-weight: bold;
}

.tooltip-inner {
    max-width: 400px;
    text-align: left;
}

ul.truncate a > span {
    display:block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.parametersIntegrationLabel {
    font-family:'Arial';
    font-size:14px;
}

.cursebreaker span.k-dirty {
    display: none;
}

.lista-centro-trabalho {
    list-style: none;
    padding-left: 18px;
    margin-top: 10px;
    padding-bottom: 7px;
}

.lista-centro-trabalho li {
    display: inline-block;
}

.lista-centro-trabalho li:not(:first-child) {
    margin-left: 10px;
    border-left: 1px #777676 dashed;
    padding-left: 17px;
}

/*parece não estar sendo usado*/
.lista-centro-trabalho sub {
    right: 3%;
    margin-right: 5px;
}

.lista-centro-trabalho .fraction-number {
    font-size: 2em;
}

.btn-max-width {
    font-size: 26px;
}

.btn-group-bottom {
    margin-bottom: 10px;
    margin-top: 20px;
}

.alert-fill-height {
    position: inherit;
    height: 100%;
}

/*parece não estar sendo usado*/
.item-container .initialwrap.title {
    white-space: normal;
}

.legend-classifiers {
    font-family: Arial;
    color: #808080;
    font-weight: 200;
    font-size: 12px;
}
