
field-addon[type="textarea"] .field-input .input-group, .field-addon[type="textarea"] .field-input .input-group {
	display: flex
}
field-addon[type="checkbox"] .input-group .form-control, .field-addon[type="checkbox"] .input-group .form-control {
	width: auto !important;
	margin-top: -5px
}
field-addon[type="radio"] .input-group .radio, .field-addon[type="radio"] .input-group .radio {
	float: left;
	width: auto !important;
	margin-right: 10px
}
field-addon[type="radio"] .input-group .radio>input, .field-addon[type="radio"] .input-group .radio>input {
	margin-left: 0;
	margin-right: 5px;
	position: unset
}
field-addon[required] label, .field-addon[required] label, field-addon[ng-required="true"] label, .field-addon[ng-required="true"] label {
	font-weight: bold
}
field-addon[required] label:after, .field[required] label:after, field-addon[ng-required="true"] label:after, .field-addon[ng-required="true"] label:after {
	content: "   *";
	color: red
}
field-addon .field-label, .field-addon .field-label {
	font-family: 'Arial';
	margin-bottom: 5px;
	font-weight: 200;
	font-size: 12px;
	color: gray
}

field-addon .field-container, .field-addon .field-container {
	margin-right: 0 !important;
	padding-right: 0 !important;
	margin-top: 5px
}
/*field-addon .field-input .input-group, .field .field-input .input-group {
	right: 0;
	display: block
}*/
field-addon .field-input .input-group>span.input-group-addon, .field-addon .field-input .input-group>span.input-group-addon {
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 30px !important
}
field-addon .field-input .input-group.no-block, .field-addon .field-input .input-group.no-block {
	display: table
}
field-addon .field-input .tooltip.off, .field-addon .field-input .tooltip.off {
	display: none
}
field-addon .field-input .tooltip .tooltip-inner, .field-addon .field-input .tooltip .tooltip-inner {
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}
field-addon .field-input .tooltip .tooltip-arrow, .field-addon .field-input .tooltip .tooltip-arrow {
	color: #fff;
	border-bottom-color: #d43f3a !important
}