<totvs-modal-header>
	{{ (controller.model.num_id > 0 ? controller.model.nom_tip_campanha : ('btn-new-campaign-type' | i18n: []: 'dts/crm' )) }}
</totvs-modal-header>

<totvs-modal-body>

	<fieldset class="row">

		<field type="input"
			   ng-required="true"
			   ng-model="controller.model.nom_tip_campanha"
			   canclean="undefined"
			   placeholder="{{ 'l-name' | i18n: []: 'dts/crm' }}"
			   focus>
			<label>{{ 'l-name' | i18n: []: 'dts/crm' }}</label>
		</field>

		<field type="select"
			   ng-required="true"
			   ng-model="controller.model.ttClassification"
			   placeholder="{{ 'l-classification' | i18n: []: 'dts/crm' }}"
			   canclean="undefined">
			<label>{{ 'l-classification' | i18n: []: 'dts/crm' }}</label>
			<include>
				<ui-select-match placeholder="{{ 'l-classification' | i18n: []: 'dts/crm' }}">
					{{ $select.selected.name }}
				</ui-select-match>
				<ui-select-choices repeat="class in controller.classifications track by $index">
					<span ng-bind-html="class.name | highlight: $select.search"></span>
				</ui-select-choices>
			</include>
		</field>

	</fieldset>

</totvs-modal-body>

<totvs-modal-footer>
	<button class="btn btn-default" 
			ng-click="controller.close()">
		{{ 'btn-cancel' | i18n: []: 'dts/crm' }}
	</button>
	<button class="btn btn-default" 
			ng-click="controller.save(true)"
			ng-if="controller.editMode === false;">
		{{ 'btn-save-new' | i18n: []: 'dts/crm' }}
	</button>
	<button class="btn btn-primary" 
			ng-click="controller.save()">
		{{ 'btn-save' | i18n: []: 'dts/crm' }}
	</button>
</totvs-modal-footer>
