<style type="text/css" scoped>
	.customLabel {
		font-family: 'Arial';
		margin-bottom: 5px;
		font-weight: 200;
		font-size: 12px;
		color: gray;
		font-weight: 500 !important;
	}

	.subtitle {
		padding: 25px 30px 5px 30px;
	}

	.subtitle label {
		padding:0px;
		border-bottom: 1px solid #e8e8e8;		
	}

	.nopadding {
		padding:0px !important;
	}
</style>
<totvs-modal-header>
	{{:: 'l-advanced-search' | i18n: []: 'dts/mcc' }}
</totvs-modal-header>

<totvs-modal-body>
	<div class="row">
		<form role="form">
			
			<div class="col-xs-12 subtitle">
				<label class="col-sm-12">{{:: 'l-attendance-phase' | i18n: []: 'dts/mcc' }}</label>
			</div>
			
			<div class="col-xs-12">
				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-not-approved-gen' | i18n }}" tooltip-placement="top">{{:: 'l-not-approved-gen' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
										 t-bsswitch
										 ng-model="controller.model.notApproved">
							</totvs-field>
						</div>
					</div>
				</div>

				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-approved-m' | i18n }}" tooltip-placement="top">{{:: 'l-approved-m' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
										 t-bsswitch
										 ng-model="controller.model.approved">
							</totvs-field>
						</div>
					</div>
				</div>

				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-partial-received-man' | i18n }}" tooltip-placement="top">{{:: 'l-partial-received-man' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
								   		 t-bsswitch
										 ng-model="controller.model.receivedPartial">
							</totvs-field>
						</div>
					</div>
				</div>

				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-received-total-m' | i18n }}" tooltip-placement="top">{{:: 'l-received-total-m' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
										 t-bsswitch
										 ng-model="controller.model.receivedTotal">
							</totvs-field>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-deleted-m' | i18n }}" tooltip-placement="top">{{:: 'l-deleted-m' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
										 t-bsswitch
										 ng-model="controller.model.eliminated">
							</totvs-field>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 subtitle">
				<label class="col-sm-12">{{:: 'l-printing' | i18n: []: 'dts/mcc' }}</label>
			</div>

			<div class="col-xs-12">
				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-printed' | i18n }}" tooltip-placement="top">{{:: 'l-printed' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
										 t-bsswitch
										 ng-model="controller.model.printed"
										 >
							</totvs-field>
						</div>
					</div>
				</div>

				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-not-printed' | i18n }}" tooltip-placement="top">{{:: 'l-not-printed' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
										 t-bsswitch
										 ng-model="controller.model.notPrinted"
										 >
							</totvs-field>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 subtitle">
				<label class="col-sm-12">{{:: 'l-urgency' | i18n: []: 'dts/mcc' }}</label>
			</div>

			<div class="col-xs-12">
				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-emergency' | i18n }}" tooltip-placement="top">{{:: 'l-emergency' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
										 t-bsswitch
										 ng-model="controller.model.emergency"
										 >
							</totvs-field>
						</div>
					</div>
				</div>

				<div class="field-container ng-scope col-xs-3 col-sm-3">
					<label class="customLabel" tooltip="{{:: 'l-normal' | i18n }}" tooltip-placement="top">{{:: 'l-normal' | i18n }}</label>
					<div class="field-input">
						<div class="input-group">
							<totvs-field totvs-checkbox
										 t-bsswitch
										 ng-model="controller.model.normal"
										 >
							</totvs-field>
						</div>
					</div>
				</div>
			</div>
<!-- Pedido Inicial e Final -->
			<div class="col-xs-12 nopadding">
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.purchaseNumberIni"
								 label="{{:: 'l-initial-order' | i18n}}"
								 numbers-only
								 maxlength="8"
								 canclean
								 placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
	
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.purchaseNumberEnd"
								 label="{{:: 'l-final-order' | i18n}}"
								 numbers-only
								 maxlength="8"
								 canclean
								 placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
			</div>
<!-- Estabelecimento -->
			<div class="col-xs-12 nopadding">
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.establishmentIni"
								 label="{{:: 'l-initial-site' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
	
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.establishmentEnd"
								 label="{{:: 'l-final-site' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
			</div>
<!--Data-->
			<div class="col-xs-6">
				<field type="daterange"
					   class="col-xs-12 col-sm-12 col-md-12"
					   ng-model="controller.model.purchaseDate"
					   start-placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}"
					   end-placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}"
					   start-date="31/12/1969">
					<label>{{:: 'l-date' | i18n: []: 'dts/mcc' }}</label>
				</field>
			</div>
<!-- Contrato Inicial-->
			<div class="col-xs-12 nopadding">
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.contractNumberIni"
								 label="{{:: 'l-initial-contract' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>

				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.contractNumberEnd"
								 label="{{:: 'l-final-contract' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
			</div>
<!--Responsável -->
			<div class="col-xs-12 nopadding">
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.responsibleIni"
								 label="{{:: 'l-initial-responsible' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>

				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.responsibleEnd"
								 label="{{:: 'l-final-responsible' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
			</div>

			<div class="col-xs-12 subtitle">
				<label class="col-sm-12">{{:: 'l-vendor' | i18n: []: 'dts/mcc' }}</label>
			</div>

<!--Código inicial e final do fornecedor -->
			<div class="col-xs-12 nopadding">
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
							     ng-model="controller.model.supplierIni"
								 label="{{:: 'l-initial-code' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>

				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.supplierEnd"
								 label="{{:: 'l-final-code' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
			</div>

<!--Nome abreviado do fornecedor -->
			<div class="col-xs-12 nopadding">
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.supplierShortNameIni"
								 label="{{:: 'l-initial-vendor-short-name' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>

				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.supplierShortNameEnd"
								 label="{{:: 'l-final-vendor-short-name' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
			</div>

<!--Nome do fornecedor -->
			<div class="col-xs-12 nopadding">
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.supplierNameIni"
								 label="{{:: 'l-initial-name' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>

				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.supplierNameEnd"
								 label="{{:: 'l-final-name' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
			</div>

<!--CNPJ -->
			<div class="col-xs-12 nopadding">
				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.supplierCNPJIni"
								 label="{{:: 'l-initial-cnpj' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-home' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>

				<div class="col-xs-12 col-sm-6">
					<totvs-field totvs-input
								 class="col-xs-12"
								 ng-model="controller.model.supplierCNPJEnd"
								 label="{{:: 'l-final-cnpj' | i18n}}"
								 canclean
								 placeholder="{{:: 'l-end' | i18n: []: 'dts/mcc' }}">
					</totvs-field>
				</div>
			</div>
		</form>
	</div>
</totvs-modal-body>

<totvs-modal-footer>
	<button class="btn btn-default" ng-click="controller.cancel()">{{:: 'l-cancel' | i18n: []: 'dts/mcc' }}</button>
	<button class="btn btn-primary" ng-click="controller.apply()">{{:: 'l-apply' | i18n: []: 'dts/mcc' }}</button>
</totvs-modal-footer>
