<totvs-page type="edit">
        <totvs-page-navbar>  
            <totvs-page-breadcrumb>
                <breadcrumb link="#/">{{ 'l-home' | i18n }}</breadcrumb>
                <breadcrumb link="#/dts/mmi/training">{{'l-trainings' | i18n}}</breadcrumb>
                <breadcrumb>{{ controller.breadcrumbTitle }}</breadcrumb>
            </totvs-page-breadcrumb>   
            <totvs-page-header>
                <totvs-page-header-title title="{{controller.headerTitle}}"></totvs-page-header-title>       
                <totvs-page-header-operation>
                    <totvs-page-header-operation-action hide-save-new="{{controller.idDisabled}}">
                    </totvs-page-header-operation-action>
                </totvs-page-header-operation>
            </totvs-page-header>   
        </totvs-page-navbar>
        <totvs-page-content>     
            <totvs-page-form>
                <fieldset>
                <totvs-field 
                        ng-disabled="controller.idDisabled"
                        totvs-input
                        numbers-only
                        id="cdn-curso"
                        name-id="cdn-curso"
                        class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                        ng-model="controller.model['cdn-curso']"
                        maxlength="6"
                        required
                        label="{{'l-training' | i18n}}">
                 </totvs-field>
                 <field type="input"
                        name-id="des-curso"
                        class="col-lg-9 col-md-9 col-sm-9 col-xs-12"
                        ng-model="controller.model['des-curso']"
                        maxlength="40"
                        required>
                     <label>{{ 'l-description' | i18n }}</label>
                 </field>
                 <totvs-field totvs-checkbox
                      t-bsswitch
                      required
                      ng-change="controller.change()"
                      label="{{'l-active' | i18n}}"
                      ng-model="controller.model['log-ativo']">
                 </totvs-field>
                 <field
                     class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                     type="textarea"
                     maxlength="2000"
                     ng-model="controller.model.narrativa"
                     rows="8"
                     label="{{'l-narrative' | i18n}}">
                 </field>
                </fieldset>                       
            </totvs-page-form>
        </totvs-page-content>
    </totvs-page>