<totvs-modal-header>
    Busca Avançada
</totvs-modal-header>
<totvs-modal-body style="height: 290px; overflow-y: auto;">
    <fieldset>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="6"            
                label="Código Inicial"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.cdnRegraDescFaturInic"
                ng-blur="afController.changeRange('cdnRegraDescFaturInic','cdnRegraDescFaturFim')">
        </field>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="6"            
                label="Código Final"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.cdnRegraDescFaturFim">
        </field>

        <field type="input"
               label="fake" style="visibility: hidden"
               class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-sm-height">
        </field>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="2"            
                label="Modalidade Inicial"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.cdnModalidInic"
                ng-blur="afController.changeRange('cdnModalidInic','cdnModalidFim')">
        </field>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="2"            
                label="Modalidade Final"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.cdnModalidFim">
        </field>

        <field  type="input"    
                required                        
                numbers-only
                maxlength="6"                
                label="Contrato Inicial"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.cdnContratInic"
                ng-blur="afController.changeRange('cdnContratInic','cdnContratFim')">
        </field>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="6"            
                label="Contrato Final"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.cdnContratFim">
        </field>

        <field  type="input"    
                required                        
                numbers-only
                maxlength="9"                
                label="Contratante Inicial"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.cdnContrnteInic"
                ng-blur="afController.changeRange('cdnContrnteInic','cdnContrnteFim')">
        </field>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="9"            
                label="Contratante Final"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.cdnContrnteFim">
        </field>  

        <field type="input"
               label="fake" style="visibility: hidden"
               class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-sm-height">
        </field>  
        
        <totvs-field totvs-datepicker
               class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
               label="Data Inicial"
               format="dd/MM/yyyy"
               ng-model="afController.model.datInicVigenc"
               culture="pt"
               canclean
               ng-show="true"
               required
               ng-blur="afController.changeRange('datInicVigenc','datFimVigenc')">
        </totvs-field>
                        
        <totvs-field totvs-datepicker
              class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
               label="Data Final"
               format="dd/MM/yyyy"
               ng-model="afController.model.datFimVigenc"
               culture="pt"
               canclean
               ng-show="true"
               required>
        </totvs-field>
    </fieldset>
</totvs-modal-body>

<totvs-modal-footer>
    <button class="btn" ng-click="afController.cleanFields()">Limpar Campos</button>
    <button class="btn" ng-click="afController.cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="afController.search()">Buscar</button>
</totvs-modal-footer>

