<totvs-modal-header>
    {{methodEditControl.headerTitle}}
</totvs-modal-header>

<totvs-modal-body>

	<totvs-page-content style="border:0px">           
	              
        <totvs-page-detail style="padding-top:0px">
          <div class="row">
            <div class="col-sm-12">	           
	            <totvs-field totvs-select
			                 class="col-sm-12"
			                 ng-model="methodEditControl.method['cd-tarefa']"
			                 ng-disabled="methodEditControl.method.isNew === false"
			                 select-id="cd-tarefa"
			                 id="cd-tarefa"
			                 select-description="descricao"
			                 select-service="mmi.ord-taref.zoom"
			                 zoom-service="mmi.ord-taref.zoom"
			                 label="{{ 'l-task' | i18n }}"
			                 required
			                 canclean>
              	</totvs-field>               
            </div>
            <div class="col-sm-12">
	            <totvs-field totvs-select
			                 class="col-sm-12"
			                 ng-model="methodEditControl.method.fichaMetodo"
			                 ng-disabled="methodEditControl.method.isNew === false"
			                 select-id="fi-codigo"
			                 id="fi-codigo"
			                 select-description="descricao"
			                 select-service="mmi.mntFichaMetodo.zoom"
			                 zoom-service="mmi.mntFichaMetodo.zoom"
			                 return-object="select-id"
			                 label="{{ 'l-method-sheet' | i18n }}"
			                 required
			                 canclean>
                </totvs-field>              
            </div>
          </div>          
		</totvs-page-detail>
				
	</totvs-page-content>
	
</totvs-modal-body>

<totvs-modal-footer>
    <button type="button" class="btn btn-default" data-ng-click="methodEditControl.close()">{{ 'l-cancel' | i18n }}</button>
    <button ng-if="methodEditControl.method.isNew" type="button" class="btn btn-default" data-ng-click="methodEditControl.save(true);">{{ 'l-save-new' | i18n }}</button>
    <button type="button" class="btn btn-primary" data-ng-click="methodEditControl.save(false)">{{ 'l-save' | i18n }}</button>    
</totvs-modal-footer>