<totvs-modal-header>
   {{ criarImpedimentoCtrl.ttImpedimento.nrOrdProdu | orderNumberMask}} - {{ 'l-create-impediment' | i18n }}
</totvs-modal-header>

<totvs-modal-body>

	<div class="row">
		<totvs-page-child>        
	        <totvs-page-content>
            
                <div class="col-xs-12">
					<totvs-field
						totvs-select
						class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
						ng-model="criarImpedimentoCtrl.ttImpedimento.codMotivo"
						select-id="cd-pend-padr"
						id="cd-pend-padr"
						select-description="descricao"
						select-service="mmi.pendencia.zoom"
						zoom-service="mmi.pendencia.zoom"
						return-object="select-id"
						label="{{ 'l-holdover' | i18n }}"
						canclean="undefined"
						focus
						required>
					</totvs-field>				
                </div>		
                
                <div class="col-xs-12">
					<totvs-field totvs-datepicker
								 t-mask-date
								 class="col-xs-5"
								 label="{{ 'l-start-date' | i18n }}"
								 ng-model="criarImpedimentoCtrl.ttImpedimento.dtIniImped"
								 output-format="date"
								 canclean
								 required>
					</totvs-field>
					
					<totvs-field totvs-time
                           ng-model="criarImpedimentoCtrl.ttImpedimento.horaIniImped"
                           label="{{ 'l-hour' | i18n }}"
						   class="col-xs-3"
						   required>
                	</totvs-field>
				</div>
				
				<div class="col-xs-12">
					<totvs-field
                        totvs-input
                        numbers-only
						class="col-lg-5 col-md-5 col-sm-5 col-xs-5"
						ng-model="criarImpedimentoCtrl.ttImpedimento.codTarefa"
                        zoom-id="num-seq"                        
						id="num-seq"
						zoom-service="mab.mmv-tar-ord-manut.zoom"
                        zoom-description=""
						label="{{ 'l-task' | i18n }}"
						canclean="undefined">
                    </totvs-field>
                </div>	

                <div class="col-xs-12">
                    <field
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        type="textarea"
                        ng-model="criarImpedimentoCtrl.ttImpedimento.desObs"
                        maxlength="2000"
                        rows="4"
                        autofocus>
                        <label class="field-label">{{ 'l-observation' | i18n }}</label>
					</field>	
                </div>

                <div class="col-xs-12">
					<totvs-field totvs-input
								 class="col-xs-9"
								 label="{{ 'l-user' | i18n }}"
								 ng-model="criarImpedimentoCtrl.username"
                                 ng-disabled="true">
					</totvs-field>	
                </div>

	        </totvs-page-content>
	    </totvs-page-child>
	</div>
	
</totvs-modal-body>

<totvs-modal-footer>
    <button type="button" class="btn btn-default" data-ng-click="criarImpedimentoCtrl.cancelar()">{{ 'l-cancel' | i18n }}</button>
	<button type="button" class="btn btn-primary" data-ng-click="criarImpedimentoCtrl.criaImpedimento()">{{ 'l-save' | i18n }}</button>        
</totvs-modal-footer>
