<totvs-page-form>
    <totvs-modal-header>{{ 'l-comission-movement-detail' | i18n }}</totvs-modal-header>

    <totvs-modal-body>
        <form class="form-horizontal" role="form">
            <totvs-page-content>
                <totvs-page-detail>

                    <div class="col-md-12">

                        <div class="col-md-3"></div>

                        <totvs-page-detail-info 
                            class="col-xs-12 col-md-3 text-center" 
                            title="{{ 'l-comission-amount' |i18n }}">
                            {{ controller.detailComis.transAmountEconIndic | currency: ('l-currency-format' | i18n: []: 'dts/acr') }}
                        </totvs-page-detail-info>

                        <totvs-page-detail-info 
                            class="col-xs-12 col-md-3  text-center" 
                            title="{{ 'l-transaction-date' |i18n }}">
                            {{ controller.detailComis.transactionDate | date : ('l-date-format' | i18n: []: 'dts/acr') }}
                        </totvs-page-detail-info>

                        <div class="col-md-3"></div>

                    </div>
                    <div class="col-md-12">

                        <div class="col-md-3"></div>

                        <totvs-page-detail-info 
                            class="col-xs-12 col-md-3 text-center" 
                            title="{{ 'l-calc-basis' |i18n }}">
                            {{ controller.detailComis.commCalcBasis | currency: ('l-currency-format' | i18n: []: 'dts/acr') }}
                        </totvs-page-detail-info>

                        <totvs-page-detail-info 
                            class="col-xs-12 col-md-3 text-center" 
                            title="{{ 'l-print-date' | i18n }}">
                            {{ controller.detailComis.printDate | date : ('l-date-format' | i18n: []: 'dts/acr') }}
                        </totvs-page-detail-info>

                        <div class="col-md-3"></div>

                    </div>

                    <div class="col-md-12">

                        <div class="col-md-5"></div>

                        <totvs-widget class="col-md-2">

                            <totvs-wigdet-header title="{{ 'l-currency' | i18n }}">
                                {{ 'l-currency' | i18n }}: {{ controller.detailComis.econIndicator }}
                            </totvs-wigdet-header>

                        </totvs-widget>

                        <div class="col-md-5"></div>

                    </div>

                    <div class="col-md-12">

                        <div class="col-md-12">

                            <totvs-widget>

                                <totvs-widget-body>

                                    <div class="col-md-12">

                                        <totvs-page-detail-info 
                                            class="col-md-4 text-center" 
                                            title="{{ 'l-nature' | i18n : [] : 'dts/acr'}}">
                                            {{ controller.detailComis.typeGLTrans }}
                                        </totvs-page-detail-info>

                                        <totvs-page-detail-info 
                                            class="col-md-4 text-center" 
                                            title="{{ 'l-transaction' | i18n : [] : 'dts/acr'}}">
                                            {{ controller.detailComis.commTrans }}
                                        </totvs-page-detail-info>
                                        
                                        <totvs-page-detail-info 
                                            class="col-md-4 text-center" 
                                            title="{{ 'l-movement-type' | i18n : [] : 'dts/acr'}}">
                                            {{ controller.detailComis.transactionType }}
                                        </totvs-page-detail-info>

                                    </div>

                                    <div class="col-md-12">

                                        <totvs-page-detail-info 
                                            class="col-md-4 text-center" 
                                            title="{{ 'l-transaction-source' | i18n : [] : 'dts/acr'}}">
                                            {{ controller.detailComis.transactionSource }}
                                        </totvs-page-detail-info>

                                        <totvs-page-detail-info 
                                            class="col-md-4 text-center" 
                                            title="{{ 'l-transaction-status' | i18n : [] : 'dts/acr'}}">
                                            {{ controller.detailComis.transactionStatus }}
                                        </totvs-page-detail-info>

                                    </div>

                                </totvs-widget-body>

                            </totvs-widget>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">

                            <totvs-widget>

                                <strong>
                                    <totvs-widget-header 
                                        class="text-center" 
                                        title="{{ 'l-source-document' | i18n }}">
                                    </totvs-widget-header>
                                </strong>

                                <totvs-widget-body>

                                    <totvs-row>

                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-site' |i18n }}">
                                            {{ controller.detailComis.siteAR}}
                                        </totvs-page-detail-info>

                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-series' |i18n }}">
                                            {{ controller.detailComis.documentSeriesAR}}
                                        </totvs-page-detail-info>

                                    </totvs-row>
                                    <totvs-row>

                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-document' |i18n }}">
                                            {{ controller.detailComis.documentCodeAR}}
                                        </totvs-page-detail-info>

                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-customer' |i18n }}">
                                            {{ controller.detailComis.customerShortName}}
                                        </totvs-page-detail-info>

                                    </totvs-row>
                                    <totvs-row>

                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-class' |i18n }}">
                                            {{ controller.detailComis.documentClassAR}}
                                        </totvs-page-detail-info>

                                        <div class="col-md-6"></div>

                                    </totvs-row>

                                </totvs-widget-body>

                            </totvs-widget>

                        </div>
                        <div class="col-md-6">

                            <totvs-widget>

                                <strong>
                                    <totvs-widget-header 
                                        class="text-center" 
                                        title="{{ 'l-bond-to-pay' | i18n }}">
                                    </totvs-widget-header>
                                </strong>

                                <totvs-widget-body>

                                    <totvs-row>

                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-site' | i18n }}">
                                            {{ controller.detailComis.siteAP}}
                                        </totvs-page-detail-info>
                                        
                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-series' |i18n }}">
                                            {{ controller.detailComis.documentSeriesAP}}
                                        </totvs-page-detail-info>

                                    </totvs-row>

                                    <totvs-row>

                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-document' |i18n }}">
                                            {{ controller.detailComis.documentCodeAP}}
                                        </totvs-page-detail-info>
                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-vendor' |i18n }}">
                                            {{ controller.detailComis.vendorShortName}}
                                        </totvs-page-detail-info>

                                    </totvs-row>

                                    <totvs-row>

                                        <totvs-page-detail-info 
                                            class="col-xs-12 col-sm-6 text-center" 
                                            title="{{ 'l-class' |i18n }}">
                                            {{ controller.detailComis.documentClassAP}}
                                        </totvs-page-detail-info>

                                    </totvs-row>

                                </totvs-widget-body>

                            </totvs-widget>

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">

                            <totvs-widget>

                                <strong>
                                    <totvs-widget-header 
                                        class="col-md-12" 
                                        title="{{'l-history' | i18n}}">
                                    </totvs-widget-header>
                                </strong>

                                <totvs-widget-body>
                                    {{controller.detailComis.transactionHistory}}
                                </totvs-widget-body>

                            </totvs-widget>
                        </div>
                    </div>

                </totvs-page-detail>

            </totvs-page-content>

        </form>
        
    </totvs-modal-body>

    <totvs-modal-footer>

        <button 
            type="button" 
            class="btn btn-default" 
            ng-disabled="controller.disablePrevious" 
            data-ng-click="controller.prevComis();">
            {{ 'l-previous' | i18n }}
        </button>

        <button 
            type="button" 
            class="btn btn-default" 
            ng-disabled="controller.disableNext" 
            data-ng-click="controller.nextComis();">
            {{ 'l-next' | i18n }}
        </button>

        <button 
            type="button" 
            class="btn btn-default" 
            data-ng-click="controller.cancel();">
            {{ 'btn-close' | i18n }}
        </button>

    </totvs-modal-footer>

</totvs-page-form>
