<totvs-modal-header>
    Busca Avançada
</totvs-modal-header>
<totvs-modal-body style="height: 290px; overflow-y: auto;">
    <fieldset>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="4"            
                label="Ano Inicial"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.numAnoIni"
                ng-blur="afController.changeRange('numAnoIni','numAnoFim')">
        </field>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="4"            
                label="Ano Final"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.numAnoFim">
        </field>

        <field type="input"
               label="fake" style="visibility: hidden"
               class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-sm-height">
        </field>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="2"            
                label="Mês Inicial"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.numMesIni"
                ng-blur="afController.changeRange('numMesIni','numMesFim')">
        </field>

        <field  type="input"  
                required                          
                numbers-only
                maxlength="2"            
                label="Mês Final"
                class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                data-ng-model="afController.model.numMesFim">
        </field>
    </fieldset>
</totvs-modal-body>

<totvs-modal-footer>
    <button class="btn" ng-click="afController.cleanFields()">Limpar Campos</button>
    <button class="btn" ng-click="afController.cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="afController.search()">Buscar</button>
</totvs-modal-footer>

