<totvs-page type="base">
    <totvs-page-navbar >
        <totvs-page-breadcrumb>
                <breadcrumb link="#dtshrs/abiAnalysis">ABI</breadcrumb>
                <breadcrumb link="#dtshrs/abiAnalysisAttendance/{{controller.abiAnalysis.cdProtocoloAbi}}">Atendimentos da ABI {{controller.abiAnalysis.nrAbi}}</breadcrumb>
                <breadcrumb>{{controller.nomeTab}}</breadcrumb>
        </totvs-page-breadcrumb>
        <totvs-page-header>
            <totvs-page-header-title
                title="{{controller.nomeTab}}">
            </totvs-page-header-title>
            <totvs-page-header-operation>
                <totvs-page-header-operation-action limit-primary-action="5">
                    <action ng-click="controller.onCancel();">Voltar</action>
                </totvs-page-header-operation-action>
            </totvs-page-header-operation>
        </totvs-page-header>
    </totvs-page-navbar>
    <totvs-page-content>
        <totvs-page-form t-name="controller.abiForm">
            <fieldset>
                <totvs-tabset>
                    <totvs-tab heading="Detalhes do Atendimento">
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Competência"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Benef Unimed"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Internação"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Nascimento"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Beneficiário"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Apresentação"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Tunerp/IVR"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Importação"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Saída"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Limite Pagamento"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Procedimentos"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Limite Contestação"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Valor Total Indeferido"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Telefone 1"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Identificação"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Telefone 2"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="GRU"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Prestador /Local"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Cidade"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="UF"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <legend>Observação</legend>
                        <totvs-row>
                            <field
                                type="textarea"
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    ng-model="controller.abiAnalysisAttendance.dsObservacao"
                                    maxlength="300"
                                    ng-disabled="true">
                            </field>
                        </totvs-row>
                    </totvs-tab>
                    <totvs-tab heading="Detalhes Complementares">
                        <totvs-row>
                            <legend>Detalhes do Atendimento</legend>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Nome UPS"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Natureza"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Endereço"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                    label="Município"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                                    label="Estado"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                            <totvs-field totvs-input
                                    class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                                    label="CEP"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <legend>Dados do Atendimento</legend>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Competência"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Número do Atendimento"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Data de Início do Atendimento"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Data Final do Atendimento"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Caráter de Internação"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Código do Beneficiário"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Código CCO"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Data de Nascimento"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Quantidade de Dias de Internação"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Quantidade de Dias do Plano"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Data final de Carência Eletiva"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Data final de Carência Urgente"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Dentro do Período"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Beneficiário em carência"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Procedimento sem cobertura de plano"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Plano de co-participação"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Cobertura parcial temporária"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Fora da região de abrangência"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Beneficiário inadimplente"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <legend>Procedimentos</legend>
                        </totvs-row>
                        <totvs-row>
                            <!--<totvs-grid
                               grid-data"{1:controller}.{2:data}"
                               editable="{3:true}"
                               resizable="{4:true}"
                               grid-height="{5:300}"
                               grid-options="{1:controller}"."{6:gridOptions}"
                               grid="{1:controller}.{7:myGrid}">
                            </totvs-grid>-->
                        </totvs-row>
                        <totvs-row>
                            <legend>Totais</legend>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Valor Total do Atendimento"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                        <totvs-row>
                            <totvs-field totvs-input
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    label="Valor Total com Deferimentos"
                                    ng-model="controller.abiAnalysisAttendance.dsCompetencia"
                                    ng-disabled="true">
                            </totvs-field>
                        </totvs-row>
                    </totvs-tab>
                </totvs-tabset>
            </fieldset>
        </totvs-page-form>
    </totvs-page-content>
</totvs-page>


