.central-page {
    height: 100% !important;
}

.tile {
    margin: 10px;
    height: 80px;
    overflow: hidden;
}

.tile:hover {
    opacity: 0.8;
}

.tile> .letter {
    position: relative;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    width: 80px;
    height: 90px;
    margin-left: -25px;
    margin-top: -5px;
}

.tile> .letter> span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-left: 22px;
    margin-top: 5px;
}

.tile> .title {
    width: 75%;
    display: inline-block;
    padding: 10px;
}

.tile> .title> .name {
    font-weight: bold;
}

.tile> .title> .name,
.tile> .title> .detail {
    color: white;
    display: block;
}

.trash {
    color: rgb(209, 91, 71);
}

.list-group-item:hover,
a.list-group-item:focus {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.list-group {
    margin-bottom: 0px;
}

.myfield-label {
    font-family: 'Arial';
    margin-bottom: 0 !important;
    font-size: 12px;
    color: #808080;
    font-weight: 200 !important;
}

.myfield-input {
    padding-left: 15px;
    padding-right: 15px;
}

.my-btn-group {
    padding: 0 5px 5px;
}

.domain-item {
    margin-top: 0;
    margin-left: -5px;
}

.page-content .list-item.shortcut-type-1 {
    border-left: 5px solid #E2421D;
}

.page-content .list-item.shortcut-type-2 {
    border-left: 5px solid #198762;
}

.page-content .list-item.shortcut-type-3 {
    border-left: 5px solid #861B47;
}

.page-content .list-item.shortcut-type-4 {
    border-left: 5px solid #5C3393;
}

.page-tags .tag.legend.shortcut-type-1:before {
    background-color: #E2421D;
    content: "1";
}

.page-tags .tag.legend.shortcut-type-2:before {
    background-color: #198762;
    content: "2";
}

.page-tags .tag.legend.shortcut-type-3:before {
    background-color: #861B47;
    content: "3";
}

.page-tags .tag.legend.shortcut-type-4:before {
    background-color: #5C3393;
    content: "4";
}