.div-arvore { 
  background-color:#e3eff9; 
  color:#777; 
  font-weight:bold; 
  padding-top:10px; 
  margin-bottom:5px 
}

.div-nivel1 { 
  cursor:pointer; 
  padding-left:10px; 
  padding-top:2px; 
  padding-bottom:5px; 
  color:#777 
}

.div-nivel2 { 
  cursor:pointer; 
  padding-left:35px; 
  padding-top:2px; 
  padding-bottom:2px; 
  color:#777
} 

.div-nivel3 { 
  cursor:pointer; 
  padding-left:60px; 
  padding-top:2px; 
  padding-bottom:2px; 
  color:#777
}

.div-nivel4 { 
  cursor:pointer; 
  padding-left:85px; 
  padding-top:2px; 
  padding-bottom:2px; 
  color:#777
}

.nivel-selecionado { 
  background-color: #34799b; 
  color:#ffffff !important;
}