.div-nivel-especialidade { 
  cursor:pointer; 
  padding-left:10px; 
  padding-top:2px; 
  padding-bottom:5px; 
  color:#777;
  margin-top:5px;
}

.especialidade-selecionada { 
  background-color: #34799b; 
  color:#ffffff !important;
}

.no-padding-hh {
	padding: 0;
}

.div-backlog {
	overflow: auto;
	margin-left:2px !important;
	margin-right: 2px !important;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 5px;
}

.div-tabela-backlog { 
  color:#777; 
  font-weight:bold; 
  padding-top:5px; 
  padding-bottom:5px 
}

.div-arvore-backlog {
	padding:5px; 
	border: 1px solid lightgray; 
	border-radius: 4px; 
	margin-left:1px;
	height:765px;
	padding:0;	
}