<totvs-modal-header>{{'l-search-advanced' | i18n}}</totvs-modal-header>
<totvs-modal-body>
    <div class="row">
        <form class="form-horizontal" role="form">
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.codItemIni">
                <label>{{'l-cod-item' | i18n}}</label>
            </field>
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.codItemFin">
                <label>{{'l-to' | i18n}}</label>
            </field>            
        </form>
        <form class="form-horizontal" role="form">
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.codReferIni">
                <label>{{'l-cod-refer' | i18n}}</label>
            </field>
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.codReferFin">
                <label>{{'l-to' | i18n}}</label>
            </field>
        </form>
        <form class="form-horizontal" role="form">
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.cdnCondPagIni">
                <label>{{'l-cdn-cond-pag' | i18n}}</label>
            </field>
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.cdnCondPagFin">
                <label>{{'l-to' | i18n}}</label>
            </field>            
        </form>
        <form class="form-horizontal" role="form">
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.cdnTbPrecoIni">
                <label>{{'l-cod-tab-preco' | i18n}}</label>
            </field>
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.codTbPrecoFin">
                <label>{{'l-to' | i18n}}</label>
            </field>            
        </form>
        <form class="form-horizontal" role="form">
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.cdnTpOperacaoIni">
                <label>{{'l-operation-type' | i18n}}</label>
            </field>
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.codTpOperacaoFin">
                <label>{{'l-to' | i18n}}</label>
            </field>            
        </form>
		<form class="form-horizontal" role="form">
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.cdnCanalVendaIni">
                <label>{{'l-canal-venda' | i18n}}</label>
            </field>
            <field type="input" class="col-md-6" data-ng-model="controller.advancedSearch.codCanalVendaFin">
                <label>{{'l-to' | i18n}}</label>
            </field>            
        </form>
    </div>
</totvs-modal-body>
<totvs-modal-footer>
    <button type="button" class="btn btn-primary" data-ng-click="controller.search();">{{ 'btn-search' | i18n }}</button>
    <button type="button" class="btn btn-default" data-ng-click="controller.close();">{{ 'btn-cancel' | i18n }}</button>
</totvs-modal-footer>