<totvs-list-item>
    <totvs-list-item-header>
        <totvs-list-item-title
            title="{{proc.rotulo}}"
            link="">
        </totvs-list-item-title>
    </totvs-list-item-header>
    <totvs-list-item-content>
        <totvs-list-item-info
            class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-sm-height"
            title="Data de Realização"
            value="{{proc.dtRealizacao | date : 'dd/MM/yyyy'}}"
            ng-if="controller.transaction.lgDataRealizacaoUnica === false">
        </totvs-list-item-info>
        <totvs-list-item-info
            class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
            title="Hora Realização Inicial"
            value="{{proc.hrRealizacao}}"
            ng-if="controller.transaction.lgDataRealizacaoUnica === false">
        </totvs-list-item-info>

        <totvs-list-item-info
            class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
            title="Hora Realização Final"
            value="{{proc.hrRealizacaoFim}}"
            ng-if="controller.transaction.lgDataRealizacaoUnica === false">
        </totvs-list-item-info>

        <totvs-list-item-info
            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
            title="Quantidade"
            value="{{proc.qtMovimento}}">
        </totvs-list-item-info>

        <totvs-list-item-info
            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
            title="Via de Acesso"
            value="{{proc.accessWay}}">
        </totvs-list-item-info>

        <totvs-list-item-info
            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
            title="Técnica Utilizada"
            value="{{proc.techniqueLabel}}">
        </totvs-list-item-info>

        <totvs-list-item-info
            ng-if="controller.transaction.lgUtilizaPercentual === true"
            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
            title="Fator de Redução/Acréscimo"
            value="{{proc.percentageType}}">
        </totvs-list-item-info>
    </totvs-list-item-content>
</totvs-list-item>
