<totvs-page type="list">

    <link type="text/css" rel="stylesheet" href="/dts/hgp/html/assets/css/hrc.css"/>
    <totvs-page-navbar id="navBar" >

        <totvs-page-breadcrumb id="breadcrumb">
                <breadcrumb>Central Guias TISS</breadcrumb>

                <!--  tem o segundo breadcumb para que eles fiquem centralizados verticalmente -->
                <breadcrumb></breadcrumb>
        </totvs-page-breadcrumb>

        <totvs-page-header>
            <totvs-page-header-title title="{{controller.pageTitle}}" 
                                     total="{{controller.listOfdocumentCount}}"
                                     settings="controller.openConfigWindow()">
            </totvs-page-header-title>

            <totvs-page-header-operation>

                <totvs-page-header-operation-action limit-primary-action="1" 
                                                    items="controller.listOfdocument"
                                                    items-as="document"
                                                    ng-show="controller.disclaimers.length == 0
                                                    || controller.listOfdocumentCount <= 1 ">
                    <action class="glyphicon-plus"
                            link="#/dts/hgp/hrc-document/new">
                        Incluir Documento
                    </action>
                </totvs-page-header-operation-action>

                <totvs-page-header-operation-action limit-primary-action="1" 
                                                    items="controller.listOfdocument"
                                                    items-as="document"
                                                    ng-show="controller.disclaimers.length  != 0
                                                    && controller.listOfdocumentCount > 1"
                                                    totvs-custom-element="customListAction">
                    <action class="glyphicon-plus"
                            link="#/dts/hgp/hrc-document/new">
                        Incluir Documento
                    </action>

                    <action ng-click="controller.removeDocuments()" 
                            ng-show="(!controller.allDocsRessus)&&(controller.listaPorMovimento == 0)"
                            id="removeAllDocumentsAction" 
                            icon="glyphicon-trash">Remover Todos</action>

                    <action ng-click="controller.openRestrictionValidation()" 
                            ng-show="!controller.allDocsRessus"
                            id="restrictionValidationAllDocsAction" 
                            icon="glyphicon-thumbs-down">Validar Glosas</action>

                    <action ng-click="controller.openManualRestriction()"
                            ng-show="!controller.allDocsRessus"
                            id="manualRestrictionAllDocumentsAction" 
                            icon="glyphicon-thumbs-down">Glosa Manual</action>

                    <action ng-click="controller.openUndoManualRestriction()"
                            ng-show="!controller.allDocsRessus"
                            id="undoManualRestrictAllDocsAction" 
                            icon="glyphicon-usd">Desfazer Glosa Manual</action>

                    <action ng-click="controller.releaseDocuments()" 
                            ng-show="(!controller.allDocsRessus)&&(controller.listaPorMovimento == 0)"
                            id="releaseAllDocumentsAction"
                            icon="glyphicon-usd">Liberação dos Documentos</action>

                    <action ng-click="controller.unreleaseDocuments()"
                            ng-show="(!controller.allDocsRessus)&&(controller.listaPorMovimento == 0)"
                            id="unreleaseAllDocumentsAction"
                            icon="glyphicon-usd">Desfazer Liberação dos Documentos</action>

                    <action ng-click="controller.openDocumentValues()"
                            ng-show="controller.listaPorMovimento == 0"
                            id="valuesAllDocumentsAction" 
                            icon="glyphicon-usd">Soma de Valores dos Documentos</action>

                    <action ng-click="controller.openLinkDocuments()" 
                            ng-show="(!controller.allDocsRessus)&&(controller.listaPorMovimento == 0)"
                            id="linkAllDocumentsAction" 
                            icon="glyphicon-check">Vincular Documentos nas Internações</action>

                    <action ng-click="controller.openMedicalAuditor()" 
                            ng-show="(!controller.allDocsRessus)&&(controller.listaPorMovimento == 0)"
                            id="informMedicalAuditorAllDocsAction"
                            icon="glyphicon-copy">Informar Médico/Enfermeiro Auditor</action>

                    <action ng-click="controller.printCSV()" 
                            id="printCSVAction" 
                            icon="glyphicon-check">Exportar para CSV</action>

                </totvs-page-header-operation-action>

                <totvs-page-header-operation-filter placeholder="Pesquisar"
                                                    ng-submit="controller.search()"
                                                    ng-model="controller.searchInputText"
                                                    advanced-search="controller.openAdvancedSearch">
                </totvs-page-header-operation-filter>

            </totvs-page-header-operation>

            <totvs-page-tags>
                <tag class="tag-{{$index + 1}}" ng-repeat="item in DOCUMENT_STATUS_ENUM.ENUMERATION_VALUES">{{item.label}}</tag>
            </totvs-page-tags>

            <div class="btn-group btn-group-sm actions pull-right"
                 role="group" aria-label="item-actions"
                 ng-show="controller.listOfdocument.length > 0"
                 style="position: absolute; right: 17px; margin-top: 10px; z-index: 200">

                <a role="button" class="btn btn-default hidden-xs clickable" 
                    ng-class="{'active' : controller.listaPorMovimento == 0}"
                    ng-click="controller.setListVisualization(0)">
                <span>Documento</span>
                </a>

                <a role="button" class="btn btn-default hidden-xs clickable" 
                    ng-class="{'active' : controller.listaPorMovimento == 1}"
                    ng-click="controller.setListVisualization(1)"
                    style="margin-right: 10px">
                    <span>Movimento</span>
                </a>

                <a role="button" class="btn btn-default hidden-xs clickable" 
                   ng-class="{'active' : controller.documentDetailLevel == 0}"
                   ng-if="controller.listaPorMovimento == 0"
                   ng-click="controller.setDocumentVisualization(0)">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a role="button" class="btn btn-default hidden-xs clickable"
                   ng-class="{'active' : controller.documentDetailLevel == 1}"
                   ng-if="controller.listaPorMovimento == 0"
                   ng-click="controller.setDocumentVisualization(1)">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
                <a role="button" class="btn btn-default hidden-xs clickable"
                   ng-class="{'active' : controller.documentDetailLevel == 2}"
                   ng-if="controller.listaPorMovimento == 0"
                   ng-click="controller.setDocumentVisualization(2)">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>

                <totvs-page-quick-filter
                    ng-show="controller.listaPorMovimento == 0"
                    on-select-orderby="controller.onListOrderChange"
                    orderby-list="controller.documentOrderFields"
                    orderby-selected="controller.selectedOrderDocField"
                    style="margin-left: 10px">
                </totvs-page-quick-filter> 

                <totvs-page-quick-filter
                    ng-show="controller.listaPorMovimento == 1"
                    on-select-orderby="controller.onListOrderChange"
                    orderby-list="controller.movementOrderFields"
                    orderby-selected="controller.selectedOrderMovField">
                </totvs-page-quick-filter>                

                           
            </div>

            <totvs-page-disclaimers
                disclaimer-list="controller.disclaimers"
                ng-click="controller.removeDisclaimer">
            </totvs-page-disclaimers>

        </totvs-page-header>

    </totvs-page-navbar>

    <totvs-page-content id="pageContent">
        
        <!-- se ja carregou as configuracoes e estas nao possuem filtros-->
        <totvs-page-alert 
            ng-if="controller.config.lgBuscarAoAbrirTela != undefined
               && !(controller.disclaimers.length > 0)"
            type="info"
            message="Nenhum filtro informado">
        </totvs-page-alert>
        
        <totvs-page-alert 
            ng-if="controller.hasDoneSearch == true && controller.listOfdocument.length <= 0"
            type="info"
            message="Nenhum registro encontrado">
        </totvs-page-alert>

        <totvs-page-form style="height: 100%"ng-if="controller.listaPorMovimento == 1">
            <totvs-tabset>
                <totvs-tab heading="Ambos ({{controller.bothMovementList.length}} de {{controller.listOfdocumentCount}})"  ng-click="controller.changeServiceTypeTab(0)">
                    <div ng-include="'/dts/hgp/html/hrc-document/ui/bothMovementTableList.html'"/>        
                </totvs-tab>   
                <totvs-tab heading="Procedimentos ({{controller.proceduresCount}} de {{controller.totalProceduresCount}})"  ng-click="controller.changeServiceTypeTab(SERVICE_TYPE_ENUM.PROCEDURE)">
                    <div ng-include="'/dts/hgp/html/hrc-document/ui/procedureTableList.html'"/>
                </totvs-tab>
                <totvs-tab heading="Insumos ({{controller.inputsCount}} de {{controller.totalInputsCount}})" ng-click="controller.changeServiceTypeTab(SERVICE_TYPE_ENUM.INPUT)">
                    <div ng-include="'/dts/hgp/html/hrc-document/ui/inputTableList.html'"/>        
                </totvs-tab>                
            </totvs-tabset>                
        </totvs-page-form>

        <totvs-list-item
            ng-if="controller.listaPorMovimento == 0"
            id="document{{$index}}"
            class="tag-{{DOCUMENT_STATUS_ENUM.getIndexByKey(document.inStatus) + 1}}"
            ng-repeat="document in controller.listOfdocument | filter:{ filterField: controller.searchInputText}"
            selected="document"
            totvs-custom-element="customListItemDocumentTitle">

            <totvs-list-item-header>

                 <totvs-list-item-title>
                    <span 
                    > <a href="#/dts/hgp/hrc-document/detail/{{document.urlChave}}" 
                         id="linkDocumentTitle"> 
                        <b>Trans</b> {{(StringTools.fill(document.cdTransacao, "0", 4))}} 
                        | <b>Série</b> {{document.nrSerieDocOriginal}} 
                        | <b>Número</b> {{(StringTools.fill(document.nrDocOriginal, "0", 8))}} 
                        | <b>Sequência</b> {{(StringTools.fill(document.nrDocSistema, "0", 9))}} 
                        | <b>Período</b> {{document.rotuloPeriodo}} 
                    </a>
                    </span>
                </totvs-list-item-title>

                <totvs-list-item-action limit-primary-action="1" id="listActionDocument">
                    <action link="#/dts/hgp/hrc-document/edit/{{document.urlChave}}" icon="glyphicon-pencil">Editar</action>
                    
                    <action ng-if="document.inStatus < DOCUMENT_STATUS_ENUM.RELEASED && !document.isRessus"
                            ng-click="controller.removeDocuments(document)" 
                            icon="glyphicon-trash"
                            id="removeDocumentAction">Remover</action>
                    
                    <action ng-if="document.inStatus < DOCUMENT_STATUS_ENUM.RELEASED && !document.isRessus"
                            ng-click="controller.openRestrictionValidation(document)" 
                            icon="glyphicon-thumbs-down"
                            id="restrictionValidationDocumentAction">Validar Glosas</action>
                    
                    <action ng-if="document.inStatus < DOCUMENT_STATUS_ENUM.PAID && !document.isRessus"
                            ng-click="controller.openManualRestriction(document)" 
                            icon="glyphicon-thumbs-down"
							id="manualRestrictionDocumentAction">Glosa Manual</action>

                    <action ng-if="document.inStatus < DOCUMENT_STATUS_ENUM.PAID && !document.isRessus"
                            ng-click="controller.openUndoManualRestriction(document)" 
                            icon="glyphicon-usd"
							id="undoManualRestrictDocAction">Desfazer Glosa Manual</action>        
                    
                    <action ng-if="document.inStatus < DOCUMENT_STATUS_ENUM.RELEASED && !document.isRessus"
                            ng-click="controller.releaseDocuments(document)" 
                            icon="glyphicon-usd"
                            id="releaseDocumentAction">Liberação do Documento</action>
                    
                    <action ng-if="document.inStatus == DOCUMENT_STATUS_ENUM.RELEASED && !document.isRessus"
                            ng-click="controller.unreleaseDocuments(document)" 
                            icon="glyphicon-usd"
                            id="unreleaseDocumentAction">Desfazer Liberação do Documento</action>
                    
                    <action ng-click="controller.openDocumentValues(document)" 
                            icon="glyphicon-usd"
                            id="valuesDocumentAction">Valores do Documento</action>

                    <action ng-click="controller.openLinkDocuments(document, false)"
                            ng-if="document.inTipoTransacao == 1 && !document.isRessus" 
                            icon="glyphicon-check"
						    id="linkDocumentsAction">Documentos a Vincular</action> 

                    <action ng-click="controller.openLinkDocuments(document, true)"
                            ng-if="document.inTipoTransacao == 1" 
                            icon="glyphicon-check"
                            id="linkedDocumentsAction">Documentos Vinculados</action>

                    <action ng-if="!document.isRessus"
                            ng-click="controller.openDocumentCopy(document)"
                            icon="glyphicon-duplicate"
							id="copyDocumentAction">Cópia de Documento</action>
                </totvs-list-item-action>
            </totvs-list-item-header>

            <totvs-list-item-content class="beneficiary-details">

                <totvs-list-item-info class="{{controller.listItemInfoClasses}}" 
                                      title="Beneficiário" value-break="false">
                    <a ng-if="document.idPessoa != 0"
                       href="#/menu-html/program-html/hvp.personInformation/#/F/{{document.idPessoa}}">
                        {{document.rotuloBenef}}
                    </a>

                    <a ng-if="document.idPessoa == 0"
                        href="#/menu-html/program-html/hvp.personInformation/#/I/{{(StringTools.fill(document.cdUnidadeCarteira, '0', 4))}}{{(StringTools.fill(document.cdCarteiraUsuario, '0', 13))}}">
                        {{document.rotuloBenef}}
                    </a>
                </totvs-list-item-info>

                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                                      title="Prestador Principal" value-break="false">                    
                    <a href="#/dts/hgp/global-provider/detail/{{(StringTools.fill(document.cdUnidadePrestadora, '0', 4))}}{{(StringTools.fill(document.cdPrestadorPrincipal, '0', 8))}}">
                        {{document.rotuloPrestador}} 
                    </a>
                </totvs-list-item-info>

                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                                      title="Internação"
                                      ng-if="document.dtInternacao != undefined"
                                      value="{{document.rotuloInternacao}}">
                </totvs-list-item-info>               
            </totvs-list-item-content>

            <totvs-list-item-content class="provider-details">

                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                                      title="Transação"
                                      value="{{document.rotuloTransacao}}">
                </totvs-list-item-info>
                
                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                                      title="Guia do Prestador"
                                      value="{{(document.nrGuiaPrestador == '' ? '-' : document.nrGuiaPrestador)}}">
                </totvs-list-item-info>

                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                                      title="Autorização"
                                      value="{{(document.nrGuiaAtendimento === 0 ? '-' : document.aaGuiaAtendimento + StringTools.fill(document.nrGuiaAtendimento, '0', 8))}}">
                </totvs-list-item-info>

                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                                      title="Lote de Importação"              
                                      value="{{(document.nrLoteImp == 0 ? '-' : StringTools.fill(document.nrLoteImp, '0', 8) + '/' + StringTools.fill(document.nrSequenciaImp, '0', 3))}}">
                </totvs-list-item-info>

                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                                      title="Fatura"
                                      value="{{document.urlFatura == '' ? '-' : document.urlFatura}}">
                </totvs-list-item-info>

                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                                      title="NDR"
                                      value="{{document.urlNdr === '' ? '-' : document.urlNdr}}">
                </totvs-list-item-info>
            </totvs-list-item-content>

            <totvs-list-item-content-detail class="doc-content-detail"
                ng-click="controller.openCloseDetail($index)"            
                ng-if="controller.documentDetailLevel != 2">
            </totvs-list-item-content-detail>
        </totvs-list-item>

        <totvs-list-pagination
            ng-if="controller.numRegisters < controller.listOfdocumentCount && controller.numRegisters"
            ng-click="controller.search(true);">
        </totvs-list-pagination>

    </totvs-page-content>
</totvs-page>
