<totvs-modal-header>
    Aplicar Tolerância de Reconsulta
</totvs-modal-header>
<totvs-modal-body id="modalReturnVisitToleranceParams" style="height: 300px; overflow-y: auto;">
    <fieldset>
        <totvs-page-detail>
            

            <legend>Parâmetros</legend>

            <totvs-page-detail-info 
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                title="Ano/Período do revisão de Contas"
                value="{{controller.periodKey}}">

            </totvs-page-detail-info>
            <field type="checkbox"
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                label="Aplicar regra para consultas com outras classes de erro"
                data-ng-model="controller.lgOtherErrorClasses">
            </field>
            <field type="checkbox"
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                label="Simulação"
                data-ng-model="controller.lgSimulation">
            </field>
        </totvs-page-detail>
    </fieldset>
</totvs-modal-body>

<totvs-modal-footer>
    <button class="btn" ng-click="controller.cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="controller.applyReturnVisitTolerance()">Executar</button>
</totvs-modal-footer>
