

#mce_advancedSearch {
   text-align:left; 
   vertical-align:middle; 
   margin-top:5px;
   padding-left:0px;
}


.displayInitialAndFinalQuantity {
    color : #888;    
}

.displayInitialAndFinalQuantity h5 {
    font-weight: bold;
    padding: 0;
    margin-top: 10px;
}

@media (min-width: 490px){
    #mce_advancedSearch {
        font-size:12px!important;
    }   
}

@media (max-width: 480px){
    #mce_advancedSearch {
        font-size:10px!important;
    }
}


@media (min-width: 767px) {
    .positionBalance {
        padding-top: 30px!important;
    }
}   
  

@media (max-width: 767px) {
    .positionBalance {
        padding-top: 10px!important;
    }
}




