<totvs-page type="list">
    <totvs-page-navbar>
        <totvs-page-breadcrumb id="breadcrumb">
                <breadcrumb>Atualização de dados de Prestadores para o eSocial</breadcrumb>
        </totvs-page-breadcrumb>
        <totvs-page-header>
            <totvs-page-header-title title="Atualização de dados de Prestadores para o eSocial">
            </totvs-page-header-title>
            <totvs-page-header-operation>
                <totvs-field
                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                    totvs-upload
                    ng-model="controller.arqImportacao"
                    t-show-drag-drop="true"
                    t-drop-files-here="Arraste o arquivo aqui"
                    t-remove="Remove"
                    t-multiple="false"
                    t-with-credentials="false"
                    t-select="Selecione o arquivo de prestadores"
                    t-show-file-list="false"
                    t-save-field="Importar"
                    t-status-uploaded="Upload realizado com sucesso"
                    t-status-uploading="Realizando upload do arquivo"
                    t-on-success="controller.onUploadSuccess"
                    t-on-select="controller.onUploadSelect"
                    t-save-url="controller.uploadURL">
                </totvs-field>
            </totvs-page-header-operation>
        </totvs-page-header>
    </totvs-page-navbar>
    <totvs-page-content>
        <totvs-row>
            <totvs-page-alert ng-if="controller.eSocialConfigCSV.length <= 0"
                type="info"
                message="Nenhum registro encontrado">
            </totvs-page-alert>
            <totvs-list-item ng-repeat="config in controller.eSocialConfigCSV">
                <totvs-list-item-header>
                    <totvs-list-item-title
                    title="Registro: {{config.desTabela}}">
                </totvs-list-item-title>
            </totvs-list-item-header>
            <totvs-list-item-content ng-repeat="configItem in config">
                <totvs-list-item-info class="{{controller.listItemInfoClasses}}"
                title="{{configItem.cdnOrdem}} - {{configItem.nmParamLabel}}"
                value="{{configItem.nmParamDescription}}">
            </totvs-list-item-info>
        </totvs-row>
    </totvs-list-item-content>
</totvs-list-item>
</totvs-page-content>
</totvs-page>


