<totvs-modal-header>{{ 'l-period-info' | i18n }}</totvs-modal-header>
<totvs-modal-body>
    <div class="row" ng-repeat="period in informacaoSprintCtrl.sprint">

        <totvs-widget class="col-md-11" style="float: none; margin: auto;">
            <totvs-widget-header title="{{ 'l-period' | i18n }}">{{period.periodo}}</totvs-widget-header>

            <totvs-widget-body>
                <div class="col-md-6">
                    <h5><b>{{ 'l-status' | i18n }}: </b>{{period.desSituacao}}</h5>
                </div>
                <div class="col-md-6">
                    <h5><b>{{ 'l-order-qty' | i18n }}: </b>{{period.qtdOrdem}}</h5>
                </div>
                <div class="col-md-6">
                    <h5><b>{{ 'l-initial-date' | i18n }}: </b>{{period.dataInicial | date : 'dd/MM/yyyy' }}</h5>
                </div>
                <div class="col-md-6">
                    <h5><b>{{ 'l-final-date' | i18n }}: </b>{{period.dataFinal | date : 'dd/MM/yyyy' }}</h5>
                </div>
            </totvs-widget-body>
            <br/>
        </totvs-widget>
    </div>
</totvs-modal-body>
<totvs-modal-footer>
    <button type="button" class="btn btn-default" ng-click="informacaoSprintCtrl.fechar()">{{ 'l-close' | i18n }}</button>
</totvs-modal-footer>