html {
  overflow-y: hidden;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all ease 0.2s;
}

.check-element {
  opacity: 1;
}

.div-ordens { 
  background-color:#e3eff9; 
  color:#777; 
  padding-top:10px; 
  margin-bottom:5px; 
}

.div-programacao { 
  color:#777; 
  padding-top:10px; 
  border-style: none none solid none;
  border-width:0.5px;
  border-color:silver
}

.tree-expand { 
  width: 28%; 
  float:left 
}

.main-collapse { 
  width: 72%; 
  float:left 
}

.tree-collapse { 
  width: 2%; 
  float:left 
}

.main-expand { 
  width: 98%; 
  float:left 
}

.sprint { 
  background-color: #eff0f2; 
  height: 727px; 
  overflow:auto 
}

.sprint-title { 
  height:21px
}

.situacao-1 {
  background-color: #f0ca38;
}

.situacao-2 {
  background-color: #5f9653;
}

.situacao-info-1 {
  color: #f0ca38
}

.situacao-info-2 {
  color: #5f9653;
}

.card-ordem {
  width:85px; 
  float:left; 
  box-shadow: 2px 2px 1px grey; 
  margin:3px; 
  background-color:white; 
  height:75px; 
  color:#555;
  padding-top:10px 
}

div.card-ordem:hover {
  background-color: #e8e9ea
}

.tipo-borda-1 {
  border-style: none none none solid; 
  border-width:5px;
  border-color: #008A00;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.label-backlog {
  font-family: 'Arial';
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 12px;
  color: gray;
  margin-top: 8px;
}

.my-col-md-1 {
  display: block;
  padding: 0 15px;
  float: left;
  width: 4%;
}

.my-col-md-3 {
  display: block;
  padding: 0 15px;
  float: left;
  width: 25%;
}

.my-col-md-8 {
  display: block;
  padding: 0 15px;
  float: left;
  width: 71%;
}

.my-col-md-11 {
  display: block;
  padding: 0 15px;
  float: left;
  width: 96%;
}

.k-scheduler-footer {
  /* esconde botão "Exibir horário comercial"  */
  display: none;

  /* prevent height and paddings from influencing the size calculations */
  height: 0;
  padding: 0;
  overflow: hidden;
}

/* Ordem no calendario */
.k-event {
  color: white;
  border-color: #008A00;
  background-color: #008A00;
}


.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-padding-esquerda {
  padding-left: 0px;
}

.no-padding-direita {
  padding-right: 0px;
}

.alinha-totvs-grid {
  padding-left: 0px        !important;
  padding-right: 0px       !important; 
  padding-top: 5px         !important; 
  border-right-width: 0px  !important;
  border-left-width: 0px   !important; 
  border-bottom-width: 0px !important;
}