<totvs-modal-header>
    {{ 'l-config' | i18n: []: 'dts/mcc' }}
</totvs-modal-header>

<totvs-modal-body>
    <div class="row">
		<form class="form-horizontal" role="form">
            
            <field type="radio" class="col-md-12"
                   ng-model="controller.sight">
                <label>{{ 'l-view-as' | i18n: []: 'dts/mcc' }}</label>
                <totvs-options>
                    <totvs-option value="0">{{ 'l-request' | i18n: []: 'dts/mcc' }}</totvs-option>
                    <totvs-option value="1">{{ 'l-request-items' | i18n: []: 'dts/mcc' }}</totvs-option>
                </totvs-options>
            </field>

        </form> 
    </div>      
</totvs-modal-body>

<totvs-modal-footer>
    <button class="btn btn-default" ng-click="controller.cancel()">{{ 'l-cancel' | i18n: []: 'dts/mcc' }}</button>
    <button class="btn btn-primary" ng-click="controller.apply()">{{ 'l-apply' | i18n: []: 'dts/mcc' }}</button>
</totvs-modal-footer>
