<totvs-page-content style="border-top: 1px dotted #e4e4e4;">

	<totvs-page-content-header style="border-bottom: 0px;">
		<fieldset>
			<field type="input"
				canclean="undefined"
				maxlength="8"
				numbers-only
			    class="col-xs-12 col-sm-4 col-md-4"
				ng-model="controllerRemoveProcess.basicFilter.opportunity.num_id"
				placeholder="{{ 'l-code' | i18n: []: 'dts/crm' }}">
				<label>{{ 'l-code' | i18n: []: 'dts/crm' }}</label>
			</field>
			<field type="daterange"
				canclean="undefined"
				class="col-xs-12 col-sm-6 col-md-7"
				ng-model="controllerRemoveProcess.basicFilter.opportunity.dat_cadastro"
				start-placeholder="{{ 'l-start' | i18n: []: 'dts/crm' }}"
				end-placeholder="{{ 'l-end' | i18n: []: 'dts/crm' }}">
				<label>{{ 'l-date-create' | i18n: []: 'dts/crm' }}</label>
			</field>
			<div class="col-xs-12 col-sm-2 col-md-1" style="margin-top: 27px;">
				<button class="btn btn-default pull-right"
						ng-click="controllerRemoveProcess.search(false, true);">{{ 'btn-apply' | i18n: []: 'dts/crm' }}
				</button>
			</div>
		</fieldset>
	</totvs-page-content-header>

	<totvs-page-content-header>
		<totvs-page-quick-select
			title="{{ 'l-select-all' | i18n: []: 'dts/crm' }} (Selecionados {{(controllerRemoveProcess.listOfOpportunities | filter:{$selected:'true'}).length}} de {{controllerRemoveProcess.listOfOpportunitiesCount}})"
			list="controllerRemoveProcess.listOfOpportunities">
		</totvs-page-quick-select>
	</totvs-page-content-header>

	<totvs-page-alert
		ng-if="controllerRemoveProcess.listOfOpportunities.length <= 0"
		type="info"
		message="{{ 'msg-not-found-search' | i18n: []: 'dts/crm' }}">
	</totvs-page-alert>

	<totvs-list-item
		id="opportunity{{opportunity.num_id}}"
		class="crm-default {{opportunity.nom_cor}}"
		ng-repeat="opportunity in controllerRemoveProcess.listOfOpportunities"
		selected="opportunity">

		<totvs-list-item-header>
			<totvs-list-item-title
				class="legend"
				ng-class="[opportunity.nom_cor, (opportunity.log_anexo ? 'crm-attachment' : '')]">
				{{ opportunity.num_id }} - {{opportunity.des_oportun_vda}}
			</totvs-list-item-title>
		</totvs-list-item-header>

		<totvs-list-item-content>
			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-account' | i18n: []: 'dts/crm' }}"
				value="{{ opportunity.ttConta.nom_razao_social }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-phase' | i18n: []: 'dts/crm' }}"
				value="{{ opportunity.ttFaseDesenvolvimento.des_fase }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-user-responsible' | i18n: []: 'dts/crm' }}"
				value="{{ opportunity.ttResponsavel.nom_usuar }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-sales-strategy' | i18n: []: 'dts/crm' }}"
				value="{{ (opportunity.ttEstrategia ? opportunity.ttEstrategia.des_estrateg_vda : '') }}">
			</totvs-list-item-info>
		</totvs-list-item-content>

		<totvs-list-item-content-detail>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-campaign' | i18n: []: 'dts/crm' }}"
				value="{{ (opportunity.ttCampanha ? opportunity.ttCampanha.nom_campanha : '') }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-probability-of-sale' | i18n: []: 'dts/crm' }}"
				value="{{ (opportunity.ttProbabilidade ? opportunity.ttProbabilidade.des_probab_fechto : '') }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-date-create' | i18n: []: 'dts/crm' }}"
				value="{{ opportunity.dat_cadastro | date : ('l-date-format' | i18n: []: 'dts/crm') }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-date-close' | i18n: []: 'dts/crm' }}"
				value="{{ opportunity.dat_fechto_oportun | date : ('l-date-format' | i18n: []: 'dts/crm') }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-date-close-forecast' | i18n: []: 'dts/crm' }}"
				value="{{ opportunity.dat_prev_fechto | date : ('l-date-format' | i18n: []: 'dts/crm') }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-12 "
				title="{{ 'l-observation' | i18n: []: 'dts/crm' }}"
				value="{{ opportunity.dsl_oportun_vda }}">
			</totvs-list-item-info>

			<totvs-list-item-info
				class="col-xs-12 col-sm-3"
				title="{{ 'l-suspended' | i18n: []: 'dts/crm' }}"
				value="{{ (opportunity.log_suspenso == true ? 'l-yes' : 'l-no') | i18n: []: 'dts/crm' }}">
			</totvs-list-item-info>
		</totvs-list-item-content-detail>

	</totvs-list-item>

	<totvs-list-pagination
		ng-if="controllerRemoveProcess.listOfOpportunities.length < controllerRemoveProcess.listOfOpportunitiesCount && controllerRemoveProcess.listOfOpportunities.length"
		ng-click="controllerRemoveProcess.search(true);">
	</totvs-list-pagination>

</totvs-page-content>
