totvs-modal-header
    {{ controller.getLabelByAction(controller.myParams.action) | i18n }}
totvs-modal-body
    totvs-page-form(id="justificativeForm",role="form")
        field.col-md-12(type="input", ng-model="controller.myParams.model.des_justif", maxlength="100", placeholder="{{ 'l-description' | i18n }}", required, label="{{ 'l-description' | i18n}}")
            
        field.col-md-12(type="select", ng-model="controller.myParams.model.num_id_categ", label="{{ 'l-category' | i18n }}", required, ng-disabled="controller.myParams.action == 'edit'")
            include
                ui-select-match(placeholder="{{ 'l-category' | i18n }}") {{ $select.selected.nom_category | i18n }} 
                ui-select-choices(repeat="motv in controller.motives | filter: $select.search track by $index")
                    span(data-ng-bind-html="motv.nom_category | highlight: $select.search")
totvs-modal-footer
    button.btn.btn-default(data-ng-click="controller.cancel();")
        {{ 'btn-cancel' | i18n }}
    button.btn.btn-primary(data-ng-click="controller.save(controller.myParams.action, controller.myParams.model);")
        {{ 'btn-ok' | i18n }}
