totvs-page(type="list")
    totvs-page-navbar
        totvs-page-breadcrumb
            breadcrumb(link="#/") {{ 'l-home' | i18n }}
            breadcrumb {{ 'l-justificative' | i18n }}
        totvs-page-header
            totvs-page-header-title(title="{{ 'l-justificative' | i18n }}" total="{{controller.totalRecords}}")
            totvs-page-header-operation
                totvs-page-header-operation-action(limit-primary-action="2")
                    action(icon="glyphicon-plus", ng-click="controller.openModalJustificativeNew(justificative);") {{ 'l-new-justificative' | i18n }}
                totvs-page-header-operation-filter(placeholder="{{ 'l-justificative-search' | i18n}}", ng-submit="controller.quickSearch()", ng-model="controller.quickSearchText")
            totvs-page-disclaimers(disclaimer-list="controller.filtersApplied", ng-click="controller.removeFilter")
    totvs-page-content
        totvs-page-content-header
            totvs-page-quick-filter(filters-list="controller.preSavedFilters",
                                    on-select-filter="controller.selectQuickFilter")
        totvs-page-alert(ng-if="controller.listJustificative.length == 0" type="info" message="{{ 'msg-not-found' | i18n }}")
        totvs-list-item(data-ng-repeat="justificative in controller.listJustificative")
            totvs-list-item-header
                totvs-list-item-title(title="{{justificative.des_justif}}")
                totvs-list-item-action(limit-primary-action="1")
                    action(icon="glyphicon-pencil", data-ng-click="controller.openModalJustificativeEdit(justificative)") {{ 'l-edit' | i18n }} 
                    action(icon="glyphicon-remove", data-ng-click="controller.remove(justificative)") {{ 'l-to-exclude' | i18n }}
            totvs-list-item-content
                totvs-list-item-info.col-md-3(title="{{ 'l-category' | i18n }}", value="{{controller.getCategoryDesc(justificative.num_id_categ)}}")
        .container(align="center")
            pagination.pagination-sm(total-items="controller.totalRecords" ng-model="controller.bigCurrentPage" max-size="8" boundary-links="false" rotate="true" ng-change="controller.changePage()" num-pages="numPages", items-per-page="controller.pageSize", previous-text="{{'l-previous' | i18n}}", next-text="{{'l-next' | i18n}}")
