<totvs-page type="base"> 

    <totvs-page-navbar >

        <totvs-page-breadcrumb>
                <breadcrumb link="#/dts/hgp/hrs-nature/">Naturezas de Impugnação</breadcrumb>
                <breadcrumb>Manutenção Naturezas de Impugnação</breadcrumb>
        </totvs-page-breadcrumb>

        <totvs-page-header>

            <totvs-page-header-title 
                title="{{(controller.action === 'INSERT' ? 'Incluir' : (controller.action === 'EDIT' ? 'Editar' : 'Detalhar'))}} Naturezas de Impugnação">
            </totvs-page-header-title>

            <totvs-page-header-operation>
                <totvs-page-header-operation-action limit-primary-action="5">
                    <action ng-click="controller.onCancel();">
                            {{controller.action == 'DETAIL' ? 'Fechar': 'Cancelar'}}</action>
                    <action ng-click="controller.save();" 
                            ng-if="controller.action != 'DETAIL'">Salvar</action>
                    <action ng-click="controller.saveNew();" 
                            ng-if="controller.action != 'DETAIL'">Salvar e Novo</action>
                    <action class="btn-primary"
                            ng-click="controller.saveClose();" 
                            ng-if="controller.action != 'DETAIL'">Salvar e Fechar</action>
                </totvs-page-header-operation-action>
            </totvs-page-header-operation>

        </totvs-page-header>

    </totvs-page-navbar>

    <totvs-page-content>
        <totvs-page-form t-name="controller.natureForm">
            <fieldset>
                 <totvs-row>
                 	<totvs-field totvs-number
                 			class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                 			label="Código"
                 			ng-model="controller.nature.idNatureza"
                 			ng-required="true"
                 			min="1"
                 	  		ng-disabled="controller.action != 'INSERT'">
                            <validator key="required">Este campo é obrigatório!</validator>
                            <validator key="min">Insira um valor maior que zero</validator>
                 	</totvs-field>
                 	<totvs-field totvs-input
                 			class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                 			label="Descrição Natureza"
                 			ng-model="controller.nature.dsNatureza"
                 			ng-required="true"
                 	  		ng-disabled="controller.action == 'DETAIL'">
                 	        <validator key="required">Este campo é obrigatório!</validator>
                 	</totvs-field>
                 </totvs-row>
                 <totvs-row>
					<field
						type="textarea"
                 			class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 			label="Observação"
                 			ng-model="controller.nature.dsObservacao"
                 			maxlength="300"
                 	  		ng-disabled="controller.action == 'DETAIL'">
                 	</field>
                 </totvs-row>
            </fieldset>
        </totvs-page-form>        
    </totvs-page-content>   
</totvs-page>