<totvs-page-child type="list">

	<totvs-page-header class="row" style="margin-bottom: -20px;">

		<!--totvs-lodash-template src="/dts/mpd/html/customers/customers-list-header.html"
							   template-data="controller.customerListProfileConfig"></totvs-lodash-template-->

		<totvs-page-tags>
			<tag class="btn btn-link portal-list-customer-green-tag" ng-click="controller.setQuickFilter(controller.ACTIVECUSTOMERS);">{{ 'l-active' | i18n }}</tag>
			<tag class="btn btn-link portal-list-customer-red-tag" ng-click="controller.setQuickFilter(controller.INACTIVECUSTOMERS);">{{ 'l-inactive' | i18n }}</tag>
		</totvs-page-tags>

		<br/>

	</totvs-page-header>

	<!--totvs-divider></totvs-divider-->

  <totvs-lodash-template src="/dts/mpd/html/customers/customers-list.html"
						 template-data="controller.customerListProfileConfig"></totvs-lodash-template>

</totvs-page-child>
