.t1 .title-form-application {color: #c5530e !important; font-weight: bold !important;}
.t1 { height: auto !important; min-height: 0 !important; padding: 0 5px !important; background-color: #eae7d6; }
.t1 input { margin-bottom: 0 !important;}
.t1 .form-field {margin-bottom: 15px !important;}
.t1 label {font-weight: normal; color: #84791a;}
.t1 .form-field label.label-field-properties {font-weight: normal; color: #84791a;}
.t1 .title-form-application { margin: 5px 5px 20px; padding: 0 0px 10px; font-size: 1.5em; font-weight: normal; color: #006699; border-bottom: 1px dashed #ccc; }
.t1 .required input, .required select, .required textarea { border-color: #eeabad !important; box-shadow: 0px 0px 5px rgba(255, 0, 0, .3) !important; }
.t1 .is-required { display: none; color: #c43b1d; font-size: 1.2em; }
.t1 .paragraph-is-required { margin: 0 5px 1em !important; }