#result > div:hover, [obj]:hover{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 20px #008000;
	border-radius: 5px;
    cursor:pointer;
    z-index:1;
    position:absolote;
}
#result .row, 
#result .col-md-1, 
#result .col-md-2, 
#result .col-md-3, 
#result .col-md-4, 
#result .col-md-5, 
#result .col-md-6, 
#result .col-md-7, 
#result .col-md-8, 
#result .col-md-9, 
#result .col-md-10,
#result .col-md-11,
#result .col-md-12{
    border: 1px solid #ccc;
	border-radius: 5px;
    cursor:pointer;
    padding: 15px 5px;
}
/*
.objeto {
	border: 3px solid #ccc;
	width: 90%;
	padding: 25px 50px;
	margin: 20px auto;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	background-color: #FFF;
}
#codigo {
	position: fixed;
	left: 99%;
	top: 40%;
	height: 50%;
}
#codigo:hover {
	left: 50%;
}
#css {
	position: fixed;
	left: 99%;
	top: 10%;
	height: 20%
}
#css:hover {
	left: 50%;
}
#componente {
	position: fixed;
	top: 1%;
	right: 99%;
	width: 15%;
}
#componente:hover {
	right: 85%;
}
.div {
	border: 3px solid #ccc;
	padding: 5px 5px;
	width: 50px;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	background-color: #FFF;
	display: inline;
}
.textarea {
	width: 50%;
	height: 90%;
	border-radius: 10px;
	border: 1px solid #000;
}
#idteste {
	top: -60%;
	position: fixed;
	height: 50%;
	width: 80%;
}
#idteste:hover {
	top: -5%;
}
.fieldset {
	border: 3px solid #ccc;
	padding: 10px 30px;
	margin: 2px auto;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	background-color: #FFF;
	width: 18%;
	float: left;
	font-size: 15px;
}*/