.btMenu {
	margin: 10px auto;
}

.nameTable {
	border: 0px solid #c0c0c0 !important;
	background: rgba(0, 0, 0, 0) !important;
	border: 0px solid rgba(0, 0, 0, 0) !important;
}

.slot {
	border: 3px solid #ccc;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 5px;
	background-color: #ffffff;
	float: left; padding : 15px 15px !important;
	margin: 5px auto;
	padding: 15px 15px !important;
}

.block1 {
	width: 100% !important;
	height: 40% !important;
}

.block2 {
	width: 10% !important;
	height: 100% !important;
}

.block3 {
	width: 89.6% !important;
	height: 100% !important;
	overflow: scroll;
}

.block4 {
	width: 50%;
	height: 100%;
	position: relative;
	overflow: scroll;
}

.block5 {
	width: 50%;
	height:20%;
	position: relative;
}