.input {
	width: 100% !important;
}
/*Tema do Chat*/
#obsBackup {
	display: none;
}
.chat:hover {
	left: 69%;
}
.chat {
	position: fixed;
	padding: 10px 10px 10px 100px;
	top: 15%;
	left: 95%;
	width: 30%;
	border: 3px solid #ccc;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	background-color: #ffffff;
}
.chat input[type="button"] {
	margin: 0px 5px auto;
}
.chat span {
	transform: rotate(270deg);
	transform-origin: left top 0;
	float: left;
	position: absolute;
	margin: -40px -90px auto;
}
/* Tema dark */
input, select, textarea, body {
	border: 1px solid #0091d7;
	box-shadow: 5px 5px 5px #888888;
	border-radius: 5px;
	background-color: #3c3c3c;
	color: #0091d7;
	padding: 5px 10px;
	font-family: Courier, "Lucida Console", monospace;
	font-weight: bold;
}
input[type="button"] {
	background-color: #242424;
	cursor: pointer;
}
hr {
	border: 1px solid #0091d7;
}