.menu{
     float:left;
     position: fixed !important;
     z-index:3; 
     top: 50% !important;
}
.logo{
	border-radius: 50px;
	width: 45px;
	height: 45px;	
}
.btMenu{
	display:inline-block; 
	padding:1% 1%; 
	font-weight: bold; 
	text-align: center;
	font-size: 16px;
	cursor:pointer; 
	border-left: 3px solid #ccc;
}
#iframeindex{
	width: 100%;
	height: 700px;
}
#titleTime{
	 border-bottom: 3px solid #ccc !important;
	 padding: 0% 3% 0% 3%;
	 float:left;
	 color:#d3d7cf;
	 font-family: "Times New Roman", Times, serif;
}
 .header{
	 border: 1px solid #ccc !important;
	 box-shadow: 10px 10px 5px #888888 !important;
	 border-radius: 5px !important;
	 background-color: #3465a4 !important;
	 width: 100%;*/
}
