.objeto {
    border: 3px solid #ccc;
    width: 90%;
    padding: 15px 20px;
    margin: 20px auto;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
    background-color: #ffffff;
}
.title{
    background-color: #000000; 
    color: #ffffff;
    box-shadow: 10px 10px 5px #888888; 
}
.allspace{
    width: 100%;
}
.rodape{
    position: fixed;
    bottom: 0%;
    width: 100%;
}
.legend{  
    color: #CB4921 !important;
}
[req]:after {
     content: " *" !important;
     color: red !important;
}
form{
    padding: 1px 20px;
}