/*Folha de estilo da biblioteca RCS*/
/*Calendar*/
#tbcalendario tr td b {
	color: black !important;
}
#tbcalendario tr td {
	border: 1px solid #ccc !important;
	border-radius: 1px !important;
	padding: 5px 35px !important;
}
#tbcalendario tr th {
	border: 1px solid #ccc !important;
	border-radius: 1px !important;
	padding: 5px 5px !important;
	background-color: #b9b9ff !important;
}
#objcalendario, #objcalendario > input {
	border-radius: 5px !important;
	font-family: "Agency FB" !important;
}
.dtnull {
	background-color: #e8e8e8 !important;
}
#objcalendario input:hover {
	background-color: #e8e8e8 !important;
}
#tbcalendario tr td:hover {
	background-color: #91dfa3 !important;
}
#tbcalendario tr td:first-child {
	color: red !important;
}
/*calendar min*/
#minCalendar {
	border: 2px solid #888888 !important;
	box-shadow: 5px 5px 5px #888888 !important;
	border-radius: 5px !important;
	background-color: #b9b9ff !important;
	padding: 5px 10px !important;
	width: 8% !important;
	border-style: outset !important;
	font-family: "Agency FB" !important;
	cursor: pointer !important;
	position: absolute !important;
}
#calBody > td {
	background-color: #ffffff !important;
	border-radius: 5px !important;
}
#cDia {
	font-size: 50px !important;
}
#cAno {
	font-size: 13px !important;
}
/*time*/
#timeClock {
	border: 2px solid #888888 !important;
	box-shadow: 5px 5px 5px #888888 !important;
	border-radius: 5px !important;
	background-color: #f3f3f3 !important;
	padding: 5px 10px !important;
	width: 75px !important;
	border-style: outset !important;
	font-family: "Agency FB" !important;
}
#sec {
	font-size: 10px !important;
}
#hr::before {
	content: "⌚" !important;
}
#timeClock:hover {
	background-color: #fdfdfd !important;
}
/*Calc*/
#calc {
	border: 3px solid #ccc !important;
	box-shadow: 10px 10px 5px #888888 !important;
	border-radius: 10px !important;
	background-color: #FFF !important;
	display: inline-block !important;
	width: 160px !important;
	font-family: "Agency FB" !important;
}
#calcDisplay {
	background-color: #b9b9ff !important;
	padding: 15px 15px !important;
}
#calcDisplay > input {
	border: 1px solid #ccc !important;
	border-radius: 7px !important;
	padding: 1px 5px !important;
	text-align: right !important;
	width: 100% !important;
	font-family: "Agency FB" !important;
	font-size: 15px !important;
}
#calcButtom {
	padding: 15px 15px !important;
	background-color: #f4f4f4 !important;
}
#calcButtom > input {
	border: 1px solid #ccc !important;
	border-radius: 3px !important;
	margin: 2px 2px auto !important;
	width: 21% !important;
	padding: 5px 5px !important;
	font-family: "Agency FB" !important;
}
#calcButtom > input:hover, #bksp:hover, #del:hover {
	background-color: #91dfa3 !important;
}
#bksp, #del {
	width: 36% !important;
	display: inline-block !important;
	margin: 2px 2px auto !important;
	border: 1px solid #ccc !important;
	border-radius: 3px !important;
	padding: 5px 5px !important;
	text-align: center !important;
	cursor: pointer !important;
	font-size: 15px !important;
}
/*Alert*/
.alfundo {
	background-color: #c5c5c5 !important;
	position: fixed !important;
	width: 100% !important;
	height: 100% !important;
	top: 0% !important;
	left: 0% !important;
	opacity: 0.9 !important;
	z-index: 1 !important;
}
#custalert {
	opacity: 1 !important;
	border: 2px solid #000 !important;
	box-shadow: 10px 10px 5px #888888 !important;
	border-radius: 10px !important;
	background-color: #FFF !important;
	position: fixed !important;
	cursor: pointer !important;
	z-index: 2 !important;
	top: 20% !important;
	left: 35% !important;
	width: 30% !important;
}
#altitle {
	padding: 10px 15px !important;
	border-radius: 9px !important;
}
.info {
	background-color: #b9b9ff !important;
}
.erro {
	background-color: #ff8c8c !important;
}
.warn {
	background-color: #ffff5e !important;
}
.sucess {
	background-color: #91dfa3 !important;
}
#albody {
	padding: 10px 15px !important;
}
#albody > textarea {
	border: 3px solid #fff !important;
	width: 100% !important;
	height: 200px !important;
	padding: 5px 5px !important;
}
#altitle, #albody > textarea {
	font-family: "Agency FB" !important;
	font-size: 18px !important;
	color: #6a6a6a !important;
}
/*Load*/
#albody > center > h1 {
	font-family: "Agency FB" !important;
	color: #6a6a6a !important;
}
/*Alt*/
#custalt {
	background-color: #ccccff !important;
	position: fixed !important;
	opacity: 0.9 !important;
	z-index: 1 !important;
	opacity: 1 !important;
	border: 1px solid #000 !important;
	box-shadow: 10px 10px 5px #888888 !important;
	border-radius: 5px !important;
	padding: 5px 5px !important;
}
/*HTML Express Pocket*/
#htmlExpress {
	background-color: #f7f7f7 !important;
	position: fixed !important;
	opacity: 1 !important;
	border: 1px solid #000 !important;
	box-shadow: 10px 10px 5px #888888 !important;
	border-radius: 5px !important;
	padding: 5px 5px !important;
	z-index: 2 !important;
	left: 80% !important;
	width: 15% !important;
	height: 90% !important;
}
#htmlExpress #heLb {
	padding: 5px 5px !important;
	left: 35% !important;
}
#htmlExpress #heBt {
	float: right !important;
	background-color: #ff0000 !important;
	border: 0px solid #000 !important;
	border-radius: 5px !important;
	padding: 2px 15px !important;
}
#htmlExpress #heText {
	float: right !important;
	border: 1px solid #000 !important;
	border-radius: 3px !important;
	padding: 5px 5px !important;
	width: 100% !important;
	height: 40% !important;
}
/*Tema Dark*/
.dark {
	border: 1px solid #0091d7 !important;
	box-shadow: 5px 5px 5px #888888 !important;
	border-radius: 5px !important;
	background-color: #3c3c3c !important;
	color: #0091d7 !important;
	padding: 5px 10px !important;
	font-family: Courier, "Lucida Console", monospace !important;
	font-weight: bold !important;
}
 