.extension{
	 /*width: 300px !important;*/
	 width: 800px !important;
	 height:1000px !important;
}
legend{
	 color: #CB4921 !important;
}
#result{
	overflow: scroll;
}
.scroll{	
	 overflow: scroll;
}
.profileInfo{
	 width: 50%;
	 height:100%;
	 float:left;
}
.profile{
	 border-bottom: 5px solid #ccc !important;
	 border-radius: 10px !important;
	 border: 1px solid #ccc !important;
	 height:220px !important;
	 width: 100% !important;
	 margin-right: -15px !important;
}
 .profile label{
	 color: #CB4921 !important;
	 text-align: center;
	 width: 100%;
}
 .profile span{
	 font-style: oblique;
	 font-weight: bold;
	 padding: 0px 8px;
}
 .profileImage{
	 border-bottom: 2px solid #ccc;
	 height:50%;
}
 .profile img{
	 border-radius: 100px;
	 width: 100px;
	 height:100px;
	 padding:5px 5px;
}
.profile legend{
	padding:5px 15px !important;	
}
.infoRow{
	 border-bottom: 1px solid #ccc;	
}
.bt{
	cursor:pointer;
}