<div class="modal-header">
	<h3 class="modal-title">Cancelar agendamento</h3>
</div>
<div class="modal-body">
	<div class="row">
		<totvs-list-item-info class="col-xs-12" title="Cliente">{{controller.item['cdn-emitente']}} - {{controller.item['nom-emitente']}}</totvs-list-item-info>
		<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-3" title="Data">{{controller.item['dat-agenda'] | date : ('l-date-format' | i18n) : 'UTC'}}</totvs-list-item-info>
		<totvs-list-item-info class="col-xs-12 col-sm-6 col-md-3" title="Hor&aacute;rio">{{controller.item.hora}}</totvs-list-item-info>
		<totvs-list-item-info class="col-xs-12" title="Observa&ccedil;&atilde;o">{{controller.item['des-obs']}}</totvs-list-item-info>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="controller.confirm()">Cancelar Agendamento</button>    
	<button class="btn btn-warning" ng-click="controller.close()">{{"btn-close" | i18n}}</button>
</div>
