body {
	font-family: "Times New Roman", Times, serif;
}
table, tr, td {
	border: 0px solid #ccc !important;
}
input[type="text"], select, td {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
}
input[type="text"]:hover, select:hover, input[type="text"]:focus, select:focus {
	border: 1px solid #0bb9fb;
}
input[type="button"], input[type="reset"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	background-color: #ccc;
}
input[type="button"]:hover, input[type="reset"]:hover {
	background-color: #fff;
}
.top_bg {
	border-bottom: 3px solid #ccc !important;
	font-family: "Times New Roman", Times, serif !important;
	font-size: 20px !important;
	font-color: #a6a6a6 !important;
}
.form1 {
	border-bottom: 1px solid #ccc !important;
	border-radius: 2px !important;
	background-color: #b7b7ff !important;
	font-family: "Times New Roman", Times, serif !important;
	font-weight: bold;
	font-size: 13px !important;
}
.form2 {
	border-bottom: 1px solid #ccc !important;
	font-family: "Times New Roman", Times, serif !important;
	font-size: 12px !important;
}