<totvs-modal-header>
	{{:: 'l-approval-configurations' | i18n: []: 'dts/mla' }}
</totvs-modal-header>

<totvs-modal-body>
	<div class="row">
		<totvs-field totvs-checkbox
			ng-model="controller.model.approveWithoutComments"
			label="{{ 'l-approve-without-comments' | i18n }}"
			canclean
			class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
			t-bsswitch>
	</div>
</totvs-modal-body>

<totvs-modal-footer>
	<button class="btn btn-default" ng-click="controller.cancel()">{{:: 'l-cancel' | i18n: []: 'dts/mcc' }}</button>
	<button class="btn btn-primary" ng-click="controller.apply()">{{:: 'l-confirm' | i18n: []: 'dts/mcc' }}</button>
</totvs-modal-footer>
