<style type="text/css" scoped="true">
	.bold{
		font-weight: bold;
	}
	.request-1:before{
        background-color: #6ace39;
        content: "1";
        color:#fff;
    }
	.list-item.request-1:before{
		content: "";
	}
    .page-content .list-item.request-1 {
        border-left: 5px solid #6ace39;
    }

    .request-2:before{
        background-color: #f0ad4e;
        content: "2";
        color:#fff;
    }
    .list-item.request-2:before{
		content: "";
	}
    .page-content .list-item.request-2 {
        border-left: 5px solid #f0ad4e;
    }

	.subtitulo{
		padding-left: 15px;
	    margin: 15px 0px 5px 0px;
	    font-size: 16px;
	    font-weight: bold;
	    float: left;
	    color: #337ab7;
	    width: 100%;
	}

</style>
<totvs-page type="list" totvs-custom-element="customApprovalList">
	<totvs-page-navbar>
		<totvs-page-breadcrumb>
            <breadcrumb link="#/">{{ 'l-home' | i18n }}</breadcrumb>
            <breadcrumb link="#/dts/mla/approval/">
                <span class="hidden-xs">{{ 'l-documents-approval' | i18n }}</span>
                <span class="hidden-sm hidden-md hidden-lg">{{ 'l-approval-short' | i18n }}</span>
            </breadcrumb>
            <breadcrumb>
                <span class="hidden-xs">{{controller.documentName}}</span>
                <span class="hidden-sm hidden-md hidden-lg">{{ 'l-document-micro' | i18n }} {{controller.documentId}}</span>
            </breadcrumb>
        </totvs-page-breadcrumb>



		<totvs-page-header>
			<totvs-page-header-title title="{{controller.documentName}}"
									 total="{{controller.documentRequestsCount}}" id="pageTitle">
			</totvs-page-header-title>

			<totvs-page-header-operation>
                <totvs-page-header-operation-action limit-primary-action="3"
													items="controller.documentRequests"
								                    items-as="request">
                    <action ng-click="controller.approve(null)" icon="glyphicon-ok-circle" class="btn-success" tooltip="{{ controller.isTouchDevice ? null : 'l-approve' | i18n }}" ng-if="!controller.notFound && controller.documentRequestsCount > 0">{{ 'l-approve' | i18n }}</action>
                    <action ng-click="controller.reject(null)" icon="glyphicon-remove-circle" class="btn-danger" tooltip="{{ controller.isTouchDevice ? null : 'l-reprove' | i18n }}" ng-if="!controller.notFound && controller.documentRequestsCount > 0">{{ 'l-reprove' | i18n }}</action>
                    <action link="#/dts/mla/historic/list/{{controller.documentId}}" icon="glyphicon-time" tooltip="{{ controller.isTouchDevice ? null : 'l-approval-history' | i18n }}" ng-if="!controller.notFound">{{ 'l-history' | i18n }}</action>
                    <action link="#/dts/mla/approval/" icon="glyphicon-menu-left" tooltip="{{ controller.isTouchDevice ? null : 'l-back' | i18n }}">{{ 'l-back' | i18n }}</action>
                </totvs-page-header-operation-action>

				<totvs-page-header-operation-filter placeholder="{{ 'l-search' | i18n }}"
													ng-submit="controller.search()"
                                                    clean-search="controller.cleanSearch()"
													ng-model="controller.searchInputText"
                                                    advanced-search="controller.openAdvancedSearch">
				</totvs-page-header-operation-filter>
			</totvs-page-header-operation>

			<totvs-page-tags>
				<tag class="request-1">{{ "l-my-pendencies" | i18n }}</tag>
				<tag class="request-2">{{ "l-alternalte-pendencies" | i18n }}</tag>
			</totvs-page-tags>

			<totvs-page-disclaimers disclaimer-list="controller.disclaimers"
                        	        ng-click="controller.removeDisclaimer">
    	    </totvs-page-disclaimers>
		</totvs-page-header>
	</totvs-page-navbar>

	<totvs-page-content>
		<totvs-page-content-header>
            <totvs-page-quick-select title="{{ 'l-selected-all' | i18n }}"
                                     list="controller.documentRequests"
                                     ng-click="controller.selected[request['nr-trans']]"
                                     ng-if="!controller.notFound">
            </totvs-page-quick-select>

            <totvs-page-quick-filter
                filters-list="controller.filters"
                orderby-list="controller.orderbyList"
                orderby-selected="$rootScope.filtersMLA.sort"
                on-select-filter="controller.selectFilter"
                on-select-orderby="controller.selectOrderBy"
                ng-if="!controller.notFound">
            </totvs-page-quick-filter>
        </totvs-page-content-header>

		<div class="row" ng-if="$root.userMLAInformation.showListCounter">
			<div class="col-md-12">
				<div class="col-md-2">
					<h5>{{:: 'l-selecteds' | i18n: []: 'dts/mla'}}: <span class="badge">{{controller.countSelected()}}</span> </h5>
				</div>
				<div class="col-md-6">
					<h5>{{:: 'l-selected-amount' | i18n: []: 'dts/mla'}}: <span class="badge">{{controller.valueSelected() | number : 2}}</span></h5>
				</div>
			</div>
		</div>

		<totvs-list-item
            id="request{{request['nr-trans']}}"
            ng-class="{'request-2': controller.checkLog(request['alternativo']), 'request-1': !controller.checkLog(request['alternativo'])}"
            ng-repeat="request in controller.documentRequests"
            totvs-custom-element="customList{{controller.customDocumentId}}"
            selected="request">
            <totvs-list-item-header>
            	<!-- Template do titulo -->
            	<div ng-include="controller.documentTitleTemplate" class="titleTemplate"></div>

               	<totvs-list-item-action limit-primary-action="3" class="col-xs-5 col-sm-6">
                    <action link="#/dts/mla/approval/detail/{{controller.documentId}}/{{request['nr-trans']}}"
                    		icon="glyphicon-list-alt"
                    		class="btn-default"
                    		tooltip="{{ 'l-to-detail' | i18n }}">{{ 'l-to-detail' | i18n }}</action>
                    <action ng-click="controller.approve(request['nr-trans'])"
                    		icon="glyphicon-ok-circle"
                    		class="btn-success"
                    		tooltip="{{ 'l-approve' | i18n }}">{{ 'l-approve' | i18n }}</action>
                    <action ng-click="controller.reject(request['nr-trans'])"
                    		icon="glyphicon-remove-circle"
                    		class="btn-danger"
                    		tooltip="{{ 'l-reprove' | i18n }}">{{ 'l-reprove' | i18n }}</action>
                </totvs-list-item-action>

				<div class="ng-scope">
					<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
						title="{{ 'l-company' | i18n}}"
						value="{{request['mla-ep-codigo']}} - {{request['mla-desc-ep-codigo']}}"
						value-break="false"
                        ng-show="{{controller.showCompany()}}">
					</totvs-list-item-info>
					<totvs-list-item-info class="col-xs col-sm-4 col-md-4 "
						title="{{ 'l-site-short' | i18n}}"
						value="{{request['mla-cod-estabel']}} - {{request['mla-desc-cod-estabel']}}"
						value-break="false">
					</totvs-list-item-info>
					<totvs-list-item-info class="col-xs col-sm-4 col-md-4"
										  title="{{ 'l-approver' | i18n}}"
										  value="{{request['cod-usuar']}} - {{request['mla-nome-usuar']}}"
										  ng-show="{{controller.showApprover(request['cod-usuar'])}}"
										  value-break="false">
					</totvs-list-item-info>
				</div>
				<div class="row"/>
            	<!-- Template do documento -->
            	<div totvs-custom-element="customListAux{{controller.customDocumentId}}" ng-include="controller.documentListTemplate" class="template"></div>
            </totvs-list-item-header>
			<div ng-controller="mla.approval.DetailCtrl as controller" ng-if="$root.userMLAInformation.showDetailInList">
				<totvs-list-item-content-detail open="controller.detail(request['nr-trans'])" style="cursor: auto;">
					<totvs-list-item-info class="col-xs-12 col-sm-12 col-md-12">
						<totvs-page-content>
							<totvs-page-detail>
								<div ng-include="controller.documentDetailTemplate"  class="template" ></div>
							</totvs-page-detail>
						</totvs-page-content>
					</totvs-list-item-info>
				</totvs-list-item-content-detail>
			</div>

        </totvs-list-item>

        <totvs-page-alert ng-if="controller.documentRequestsCount <= 0"
                          type="info"
                          message="{{ 'l-no-pending-document' | i18n }}">
        </totvs-page-alert>

        <totvs-list-pagination
            ng-if="controller.originalList.length > 0 && (!controller.searched)"
            ng-click="controller.loadMore();">
        </totvs-list-pagination>

        <totvs-page-alert ng-if="controller.notFound"
                          type="info"
                          message="{{ 'l-doc-not-found' | i18n }}">
        </totvs-page-alert>
	</totvs-page-content>
</totvs-page>
