<totvs-modal-header>
	{{ 'l-search-advanced' | i18n: []: 'dts/crm' }}
</totvs-modal-header>

<totvs-modal-body>

	<div class="row" ng-if="controller.isAddEditMode">
		<field type="input"
			   ng-model="controller.customFilter.title"
			   ng-disabled="controller.isEdit === true"
			   maxlength="50"
			   class="col-md-12">
			<label>{{ 'l-description' | i18n: []: 'dts/crm' }}</label>
		</field>
		<totvs-divider class="crm-divider"></totvs-divider>
	</div>

	<totvs-tabset type="tabs" class="row">
		<totvs-tab heading="{{'l-general' | i18n : [] : 'dts/crm'}}">

			<% if ((!data["l-account"] || data["l-account"].log_visivel === true)
				|| (!data["l-contact"] || data["l-contact"].log_visivel === true)) { %>

			<% if ((!data["l-account"] || data["l-account"].log_visivel === true)) { %>
			<fieldset class="row">

				<field type="select"
					   ng-model="controller.model.num_id_pessoa"
					   ng-change="controller.onChangeAccount()"
					   ng-if="controller.isHideAccount !== true"
					   canclean="undefined">
					<label>{{ 'l-account' | i18n: []: 'dts/crm' }}</label>
					<zoom zoom-selected="controller.onChangeAccount(selected)"
						  zoom-service="crm.crm_pessoa.conta.zoom"></zoom>
					<include>
						<ui-select-match placeholder="{{ 'l-account' | i18n: []: 'dts/crm' }}">
							<span>
								<span ng-class="{'glyphicon glyphicon-lock': !$select.selected.log_acesso}"></span>
								<span ng-class="{'glyphicon glyphicon-globe': $select.selected.log_matriz}"></span>
								{{ $select.selected.nom_razao_social }} {{ $select.selected.cod_pessoa_erp ? ' (' + $select.selected.cod_pessoa_erp + ')' : '' }}
							</span>
						</ui-select-match>
						<ui-select-choices repeat="account in controller.accounts track by $index"
										   refresh="controller.getAccounts($select.search)"
										   refresh-delay="500">
							<span ng-if="!account.log_acesso"
								  class="glyphicon glyphicon-lock">
							</span>
							<span ng-if="account.log_matriz"
								  class="glyphicon glyphicon-globe">
							</span>
							<span ng-bind-html="account.nom_razao_social + (account.cod_pessoa_erp ? ' (' + account.cod_pessoa_erp + ')' : '') | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

				<% if ((!data["l-contact"] || data["l-contact"].log_visivel === true)) { %>
				<field type="select"
						ng-model="controller.model.num_id_contat"
						canclean="undefined">
					<label>{{ 'l-contact' | i18n: []: 'dts/crm' }}</label>
					<zoom zoom-service="crm.crm_pessoa.contato.zoom"></zoom>
					<include>
						<ui-select-match placeholder="{{ 'l-contact' | i18n: []: 'dts/crm' }}">
							<span>
								<span ng-class="{'glyphicon glyphicon-lock': !$select.selected.log_acesso}"></span>
								&nbsp;{{ $select.selected.nom_razao_social }}
							</span>
						</ui-select-match>
						<ui-select-choices repeat="contact in controller.contacts track by $index"
										   refresh="controller.getContacts($select.search)"
										   refresh-delay="500">
							<span ng-if="!contact.log_acesso" class="glyphicon glyphicon-lock">&nbsp;</span>
							<span ng-bind-html="contact.nom_razao_social + (contact.cod_pessoa_erp ? ' (' + contact.cod_pessoa_erp + ')' : '') | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

			</fieldset>

			<totvs-divider class="crm-divider"></totvs-divider>
			<% } %>

			<% if ((!data["l-sales-strategy"] || data["l-sales-strategy"].log_visivel === true)
				|| (!data["l-phase"] || data["l-phase"].log_visivel === true)
				|| (!data["l-probability-of-sale"] || data["l-probability-of-sale"].log_visivel === true)) { %>
			<fieldset class="row">

				<% if ((!data["l-sales-strategy"] || data["l-sales-strategy"].log_visivel === true)) { %>
				<field type="select"
					   ng-model="controller.model.num_id_estrateg_vda"
					   ng-change="controller.onChangeStrategy(controller.model.num_id_estrateg_vda);"
					   canclean="undefined">
					<label>{{ 'l-sales-strategy' | i18n: []: 'dts/crm' }}</label>
					<include>
						<ui-select-match placeholder="{{ 'l-sales-strategy' | i18n: []: 'dts/crm' }}">{{ $select.selected.des_estrateg_vda }}</ui-select-match>
						<ui-select-choices repeat="strategy in controller.strategies | filter: $select.search track by $index">
							<span ng-bind-html="strategy.des_estrateg_vda | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

				<% if ((!data["l-phase"] || data["l-phase"].log_visivel === true)) { %>
				<field type="select"
					   ng-disabled="(controller.model.num_id_estrateg_vda | isUndefined)"
					   ng-model="controller.model.num_id_fase"
					   canclean="undefined">
					<label>{{ 'l-phase' | i18n: []: 'dts/crm' }}</label>
					<include>
						<ui-select-match placeholder="{{ 'l-phase' | i18n: []: 'dts/crm' }}">{{ $select.selected.des_fase }}</ui-select-match>
						<ui-select-choices repeat="phase in controller.phases | filter: $select.search track by $index">
							<span ng-bind-html="phase.des_fase | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

				<% if ((!data["l-probability-of-sale"] || data["l-probability-of-sale"].log_visivel === true)) { %>
				<field type="select"
					   ng-model="controller.model.num_id_probab"
					   canclean="undefined">
					<label>{{ 'l-probability-of-sale' | i18n: []: 'dts/crm' }}</label>
					<include>
						<ui-select-match placeholder="{{ 'l-probability-of-sale' | i18n: []: 'dts/crm' }}">{{ $select.selected.des_probab_fechto }}</ui-select-match>
						<ui-select-choices repeat="probability in controller.probabilities | filter: $select.search track by $index">
							<span ng-bind-html="probability.des_probab_fechto | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

				<% if ((!data["l-status"] || data["l-status"].log_visivel === true)) { %>
				<field type="select"
					   ng-model="controller.model.idi_status"
					   canclean="undefined"
					   class="col-xs-6">
					<label>{{ 'l-status' | i18n: []: 'dts/crm' }}</label>
					<include>
						<ui-select-match placeholder="{{ 'l-status' | i18n: []: 'dts/crm' }}">
							<!-- class="legend {{$select.selected.nom_cor}}"-->
							<span>{{ $select.selected.nom_status }}</span>
						</ui-select-match>
						<ui-select-choices repeat="state in controller.status | filter: $select.search track by $index">
							<!-- class="legend {{$select.selected.nom_cor}}"-->
							<span ng-bind-html="state.nom_status | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

			</fieldset>

			<totvs-divider class="crm-divider"></totvs-divider>
			<% } %>

			<% if ((!data["l-price-table"] || data["l-price-table"].log_visivel === true)
				|| (!data["l-product"] || data["l-product"].log_visivel === true)) { %>
			<fieldset class="row">

				<% if ((!data["l-price-table"] || data["l-price-table"].log_visivel === true)) { %>
				<field type="select"
					   ng-model="controller.model.num_id_tab_preco"
					   ng-change="controller.onChangePriceTable(controller.model.num_id_tab_preco);"
					   canclean="undefined">
					<label>{{ 'l-price-table' | i18n: []: 'dts/crm' }}</label>
					<zoom zoom-service="crm.crm_tab_preco.zoom"></zoom>
					<include>
						<ui-select-match placeholder="{{ 'l-price-table' | i18n: []: 'dts/crm' }}">{{ $select.selected.nom_tab_preco }}</ui-select-match>
						<ui-select-choices repeat="priceTable in controller.priceTables track by $index"
										   refresh="controller.getPriceTables($select.search)"
										   refresh-delay="500">
							<span ng-bind-html="priceTable.nom_tab_preco | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

				<% if ((!data["l-product"] || data["l-product"].log_visivel === true)) { %>
				<field type="select"
					   ng-model="controller.model.num_id_produt"
					   canclean="undefined">

					<label>{{ 'l-product' | i18n: []: 'dts/crm' }}</label>

					<zoom zoom-service="crm.crm_produt.zoom"
						  zoom-init="{ num_id_tab_preco: controller.model.num_id_tab_preco.num_id }"></zoom>

					<include>
						<ui-select-match placeholder="{{ 'l-product' | i18n: []: 'dts/crm' }}">{{ $select.selected.nom_produt }}</ui-select-match>
						<ui-select-choices repeat="product in controller.products | filter: { nom_produt : $select.search } : strict track by $index"
										   refresh="controller.getProducts($select.search)"
										   refresh-delay="500">
							<span ng-bind-html="product.nom_produt | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

			</fieldset>

			<totvs-divider class="crm-divider"></totvs-divider>
			<% } %>

			<% if ((!data["l-user-responsible"] || data["l-user-responsible"].log_visivel === true)
				|| (!data["l-user-open"] || data["l-user-open"].log_visivel === true)
				|| (!data["l-code"] || data["l-code"].log_visivel === true)) { %>
			<fieldset class="row">

				<% if ((!data["l-user-responsible"] || data["l-user-responsible"].log_visivel === true)) { %>
				<div class="col-xs-6 crm-no-gutter" style="max-height: 64px;">
					<field type="select"
						   ng-model="controller.model.num_id_usuar_respons"
						   ng-disabled="controller.isUserPortfolio == true"
						   class="col-xs-12"
						   canclean="undefined">
						<label>{{ 'l-user-responsible' | i18n: []: 'dts/crm' }}</label>
						<zoom zoom-service="crm.crm_usuar.zoom"></zoom>
						<include>
							<ui-select-match placeholder="{{ 'l-user-responsible' | i18n: []: 'dts/crm' }}">{{ $select.selected.nom_usuar }}</ui-select-match>
							<ui-select-choices repeat="user in controller.users track by $index"
											   refresh="controller.getUsers($select.search)"
											   refresh-delay="500">
								<span ng-bind-html="user.nom_usuar | highlight: $select.search"></span>
							</ui-select-choices>
						</include>
					</field>
					<div style="position: relative;top: -57px;float: left;left: 90px;display: inline-block;" ng-if="controller.isUserPortfolio == true">
						<i class="glyphicon glyphicon-info-sign"
						  tooltip-placement="top"
						  tooltip-html="controller.tooltipMessage">
						</i>
					</div>
				</div>

				<% } %>

				<% if ((!data["l-user-open"] || data["l-user-open"].log_visivel === true)) { %>
				<field type="select"
					   ng-model="controller.model.num_id_usuar"
					   canclean="undefined">
					<label>{{ 'l-user-open' | i18n: []: 'dts/crm' }}</label>
					<zoom zoom-service="crm.crm_usuar.zoom"></zoom>
					<include>
						<ui-select-match placeholder="{{ 'l-user-open' | i18n: []: 'dts/crm' }}">{{ $select.selected.nom_usuar }}</ui-select-match>
						<ui-select-choices repeat="user in controller.users track by $index"
										   refresh="controller.getUsers($select.search)"
										   refresh-delay="500">
							<span ng-bind-html="user.nom_usuar | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

				<% if ((!data["l-code"] || data["l-code"].log_visivel === true)) { %>
				<!-- codigo da oportunidade -->
				<field type="input"
					   canclean="undefined"
					   maxlength="8"
					   numbers-only
					   ng-model="controller.model.num_id"
					   placeholder="{{ 'l-opportunity-code' | i18n: []: 'dts/crm' }}">
					<label>{{ 'l-opportunity-code' | i18n: []: 'dts/crm' }}</label>
				</field>
				<% } %>

				<% if ((!data["l-campaign"] || data["l-campaign"].log_visivel === true)) { %>
				<field type="select"
					   ng-model="controller.model.num_id_campanha"
					   canclean="undefined">
					<label>{{ 'l-campaign' | i18n: []: 'dts/crm' }}</label>
					<include>
						<ui-select-match placeholder="{{ 'l-campaign' | i18n: []: 'dts/crm' }}">{{ $select.selected.nom_campanha }}</ui-select-match>
						<ui-select-choices repeat="campaign in controller.campaigns track by $index"
										   refresh="controller.getCampaigns($select.search)"
										   refresh-delay="500">
							<span ng-bind-html="campaign.nom_campanha | highlight: $select.search"></span>
						</ui-select-choices>
					</include>
				</field>
				<% } %>

			</fieldset>

			<totvs-divider class="crm-divider"></totvs-divider>
			<% } %>

			<% if ((!data["l-date-create"] || data["l-date-create"].log_visivel === true)
				|| (!data["l-date-close"] || data["l-date-close"].log_visivel === true)) { %>
			<fieldset class="row">

				<% if ((!data["l-date-create"] || data["l-date-create"].log_visivel === true)) { %>
				<field type="daterange"
					   ng-model="controller.model.dat_cadastro"
					   start-placeholder="{{ 'l-start' | i18n: []: 'dts/crm' }}"
					   end-placeholder="{{ 'l-end' | i18n: []: 'dts/crm' }}">
					<label>{{ 'l-date-create' | i18n: []: 'dts/crm' }}</label>
				</field>
				<% } %>

				<% if ((!data["l-date-close"] || data["l-date-close"].log_visivel === true)) { %>
				<field type="daterange"
					   ng-model="controller.model.dat_fechto_oportun"
					   start-placeholder="{{ 'l-start' | i18n: []: 'dts/crm' }}"
					   end-placeholder="{{ 'l-end' | i18n: []: 'dts/crm' }}">
					<label>{{ 'l-date-close' | i18n: []: 'dts/crm' }}</label>
				</field>
				<% } %>

				<% if ((!data["l-date-close-forecast"] || data["l-date-close-forecast"].log_visivel === true)) { %>
				<field type="daterange"
					   ng-model="controller.model.dat_prev_fechto"
					   start-placeholder="{{ 'l-start' | i18n: []: 'dts/crm' }}"
					   end-placeholder="{{ 'l-end' | i18n: []: 'dts/crm' }}">
					<label>{{ 'l-date-close-forecast' | i18n: []: 'dts/crm' }}</label>
				</field>

				<% } %>

			</fieldset>
			<% } %>

			<totvs-divider class="crm-divider"></totvs-divider>

			<fieldset class="row"
					  ng-if="controller.isIntegratedWithGP === true">

				<field
					type="decimalrange"
					ng-model="controller.model.val_realzdo_simul"
					m-dec="2">
					<label>{{ 'l-value-simulation' | i18n: []: 'dts/crm' }}</label>
				</field>

				<field
					type="decimalrange"
					ng-model="controller.model.val_med_vida"
					m-dec="2">
					<label>{{ 'l-average-life-value' | i18n: []: 'dts/crm' }}</label>
				</field>

				<field
					type="inputrange"
					ng-model="controller.model.qti_nume_vida_realzdo">
					<label>{{ 'l-number-of-lifes-accomplished' | i18n: []: 'dts/crm' }}</label>
				</field>

				<field
					type="inputrange"
					ng-model="controller.model.qti_nume_vida">
					<label>{{ 'l-number-of-lifes' | i18n: []: 'dts/crm' }}</label>
				</field>

			</fieldset>

		</totvs-tab>

		<totvs-tab heading="{{'l-custom-fields' | i18n : [] : 'dts/crm'}}"
				   ng-if="controller.customFields.length > 0">
			<div ng-include="'/dts/crm/html/attribute/attribute-fields.content.html'"></div>
		</totvs-tab>

	</totvs-tabset>

	<div style="clear:both"></div>

</totvs-modal-body>

<totvs-modal-footer>
	<button class="btn btn-default" ng-click="controller.cancel()">{{ 'btn-cancel' | i18n: []: 'dts/crm' }}</button>
	<button class="btn btn-primary" ng-click="controller.apply(false)">{{ controller.isAddEditMode ? 'btn-save' : 'btn-apply' | i18n: []: 'dts/crm' }}</button>
	<button ng-if="controller.isAddEditMode === true" class="btn btn-primary" ng-click="controller.apply(true)">{{ 'btn-apply-save' | i18n: []: 'dts/crm' }}</button>
</totvs-modal-footer>
