<!-- Breadcrumbs | cd1409 -->
<totvs-page-breadcrumb ng-if="controller.showDetail && controller.isJustForView"> 
	<breadcrumb link="#/">{{'l-home' | i18n: []: 'dts/mcc'}}</breadcrumb>
	<breadcrumb link="#/dts/mce/cd1409">{{'l-realization' | i18n: []: 'dts/mcc'}} {{'l-request' | i18n: []: 'dts/mcc'}}</breadcrumb>
	<breadcrumb link="#/dts/mce/cd1409/detail/controller.requestNumber" >
		<span class="hidden-xs">{{'l-request-detail' | i18n: []: 'dts/mcc'}}</span>
		<span class="hidden-sm hidden-md hidden-lg">'l-detail' | i18n: []: 'dts/mcc'}}</span>
	</breadcrumb>
	<breadcrumb>
		<span class="hidden-xs">{{'l-request-item-detail' | i18n: []: 'dts/mcc'}}</span>
		<span class="hidden-sm hidden-md hidden-lg">{{'l-item' | i18n: []: 'dts/mcc'}}</span>
	</breadcrumb>
</totvs-page-breadcrumb>

<totvs-page-breadcrumb ng-if="!controller.showDetail && controller.isJustForView"> 
	<breadcrumb link="#/">{{'l-home' | i18n: []: 'dts/mcc'}}</breadcrumb>
	<breadcrumb link="#/dts/mce/cd1409">{{'l-realization' | i18n: []: 'dts/mcc'}} {{'l-request' | i18n: []: 'dts/mcc'}}</breadcrumb>
	<breadcrumb>
		<span class="hidden-xs">{{'l-request-item-detail' | i18n: []: 'dts/mcc'}}</span>
		<span class="hidden-sm hidden-md hidden-lg">{{'l-item' | i18n: []: 'dts/mcc'}}</span>
	</breadcrumb>
</totvs-page-breadcrumb>