html {
  overflow-y: hidden;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all ease 0.2s;
}

.check-element {
  opacity: 1;
}

.my-col-md-1 {
  display: block;
  padding: 0 15px;
  float: left;
  width: 4%;
}

.my-col-md-8 {
  display: block;
  padding: 0 15px;
  float: left;
  width: 70%;
}

.my-col-md-11 {
  display: block;
  padding: 0 0px;
  float: left;
  width: 95%;  
}

.brokeLineNarrative {
    white-space: pre-line;
}