<totvs-modal-header>{{ 'l-advanced-search' | i18n}}</totvs-modal-header>
<totvs-modal-body>
    <totvs-page-form>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <totvs-field
                   totvs-date-range
                   class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                   ng-model='controller.dateRange'
                   canclean
                   t-mask-date
                   ng-show=true>
            </totvs-field>
        </div>
    </totvs-page-form>
</totvs-modal-body>
<totvs-modal-footer>
    <button ng-click="controller.cancel()" class="btn btn-default">{{ 'l-cancel' | i18n}}</button>
    <button ng-click="controller.apply()" class="btn btn-primary">{{ 'l-search' | i18n}}</button>
</totvs-modal-footer>