totvs-modal-header
    {{ 'l-advanced-search' | i18n}}
totvs-modal-body
    totvs-page-form
    
        accordion
            accordion-group(is-open="controller.accordionGeral")
                accordion-heading {{'l-general-parmeters' | i18n}}
                    i(class="pull-right glyphicon", ng-class="{'glyphicon-chevron-down': controller.accordionGeral, 'glyphicon-chevron-right': !controller.accordionGeral}")
    
                establishment-select-adv(ng-model="controller.establishmentChanged")
                field.col-md-12.col-lg-12(
                    type="combo",
                    label="{{ 'l-type' | i18n }}",
                    ng-model="controller.itemType",
                    ng-options="item.desc for item in controller.options"
                )
        accordion.classifiers-panel
            accordion-group(is-open="controller.accordionClassifier")
                accordion-heading {{'l-relation-category-classifier' | i18n}}
                    i(class="pull-right glyphicon", ng-class="{'glyphicon-chevron-down': controller.accordionClassifier, 'glyphicon-chevron-right': !controller.accordionClassifier}")
                .row
                    kanban-classifier-select-adv(ng-model="controller.classifierSelected")
totvs-modal-footer
    button.btn.btn-default(ng-click="controller.cancel()"){{ 'l-cancel' | i18n}}
    button.btn.btn-primary(ng-click="controller.apply()"){{ 'l-apply' | i18n}}
