.infoTaf {
    padding: 0 12px;
    margin-left: 15px;
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 14px;
    color: #fff;
    height: 23px;
    line-height: 25px;
}

.on {
    background-color: #00b28e;
}

.off {
    background-color: #c64840;
}
