/*CSS com as Tags de Status do Documento*/

.padding5 {
    padding: 5px !important;
}

.tag-2:before {
    background-color: #F0CA38 !important; 
}

.tag-3:before {
    background-color: #7E3795 !important; 
}

.tag-4:before {
    background-color: #26734d !important; 
}

.tag-5:before {
    background-color: #4385F5 !important; 
}

.tag-6:before {
    background-color: #6ace39 !important; 
}

.list-item.tag-2{
    border-left-color: #F0CA38 !important;
}

.list-item.tag-3{
    border-left-color: #7E3795 !important;
}

.list-item.tag-4{
    border-left-color: #26734d !important; 
}

.list-item.tag-5{
    border-left-color: #4385F5 !important;
}

.list-item.tag-6{
    border-left-color: #6ace39 !important; 
}

.undo-page-head{
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}

.page-head .page-tags .tag-7:before {
    background-color: #58595b;
    content: "7";
}

.page-content .list-item.tag-7 {
    border-left: 5px solid #58595b;
}

.modal-xlg{
      width:1000px;
}

.page-disclaimers{
    width:70%;   
}