/*CSS com as Tags da Situacao do importação da ABI*/
.page-head .page-tags .tag-7:before {
    background-color: #00205f;
    content: "7";
}

.page-content .list-item.tag-7 {
    border-left: 5px solid #00205f;
}

.page-head .page-tags .tag-8:before {
    background-color: #007009;
    content: "8";
}

.page-content .list-item.tag-8 {
    border-left: 5px solid #007009;
}

.page-head .page-tags .tag-9:before {
    background-color: #5f0024;
    content: "9";
}

.page-content .list-item.tag-9 {
    border-left: 5px solid #5f0024;
}


.page-head .page-tags .tag-10:before {
    background-color: #006f7e;
    content: "10";
}

.page-content .list-item.tag-10 {
    border-left: 5px solid #006f7e;
}


.page-head .page-tags .tag-11:before {
    background-color: #ada85b;
    content: "11";
}

.page-content .list-item.tag-11 {
    border-left: 5px solid #ada85b;
}
