/*CSS com as Tags de Status do Documento*/

.tag-1:before {
    background-color: #f15a22 !important;     
}

.tag-2:before {
    background-color: #ffcb05 !important; 
}

.tag-3:before {
    background-color: #6ace39 !important; 
}

.list-item.tag-1{
    border-left-color: #f15a22 !important;
} 

.list-item.tag-2{
    border-left-color: #ffcb05 !important;
}

.list-item.tag-3{
    border-left-color: #6ace39 !important;
}

.undo-page-head{
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}