<totvs-modal-header>
    Impugnação / Recurso 
</totvs-modal-header>
<totvs-modal-body style="height: 450px; overflow-y: auto;">
    <fieldset ng-form="controller.modelForm">
<!-- 
'cdSituacoes','dsMotivo'   

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
-->         
        <p>Dados do Formulário</p>

        <totvs-row>

            <!-- Número da ABI - tmpAbiCabecalho.nrAbi -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.abiImportation.codAbi"
                    label="ABI"
                    disabled>
            </field>

            <!-- Ofício - tmpAbiCabecalho.nrOficio -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.abiImportation.codOficio"
                    label="Ofício"
                    editable="false"
                    disabled>
            </field>

            <!-- Processo - tmpAbiCabecalho.cdProtocoloAbi -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.abiImportation.codProcesso"
                    label="Processo"                    
                    editable="false"
                    disabled>
            </field>

            <!-- campo invisivel para alinhamento >
            <field  type="hidden"
                    class="{{controller.listItemInfoClasses2col}}"
                    label="I"
                    editable="false"
                    disabled>
            </field -->

            <!-- Operadora - tmpAbiCabecalho.dsRazaoSocOperadora -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.abiImportation.codRazaoSocial"
                    label="Operadora"
                    ng-disabled="true"
                    editable="false">
            </field>

            <!-- Registro ANS - não vem do banco ainda !!! -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.abiImportation.codRegAns"
                    label="Registro ANS"
                    ng-disabled="true"
                    editable="false">
            </field>

            <!-- Resp. Legal - tmpAbiCabecalho.nrOficio -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.tmpImpugValues.nmRespLegal"
                    label="Responsável Legal"
                    editable="false"
                    disabled>
            </field>

            <!-- Cargo do Resp. Legal - não vem do banco ainda !!! -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.tmpImpugValues.dsCargoRespLegal"
                    label="Cargo do Responsável Legal"
                    ng-disabled="true"
                    value='advogado'>
            </field>

            <!-- Cidade - não vem do banco ainda !!! -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.tmpImpugValues.dsCidade"
                    label="Cidade"
                    ng-disabled="true"
                    editable="true">
            </field>

            <!-- CNPJ - não vem do banco ainda !!! -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.tmpImpugValues.dsCNPJ"
                    label="CNPJ"
                    ng-disabled="true"
                    editable="true">
            </field>

            <!-- Data Formulário -->
            <field  type="input"
                    class="{{controller.listItemInfoClasses2col}}"
                    ng-model="controller.today"                    
                    label="Data Formulário"
                    disabled>
            </field>

            <totvs-field totvs-combo
                         class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                         label="Tipo do Pedido"
                         ng-required="true"
                         t-options="controller.lstKindRequest"
                         ng-disabled="controller.idPermissao != 2"
                         ng-model="controller.tmpImpugValues.iTipoPedido">
                        <validator key="required">Este campo é obrigatório!</validator>
           </totvs-field>

            
        </totvs-row-->
            
            
    </fieldset>
</totvs-modal-body>

<totvs-modal-footer>
    <button class="btn" ng-click="controller.generateImpugApeal()">Gerar</button>
    <button class="btn" ng-click="controller.close()">Fechar</button>
</totvs-modal-footer>
