<totvs-modal-header>
    {{ 'l-accept' | i18n}} {{ acceptController.model.task['cd-tarefa'] }} - {{ acceptController.model.task['descricao'] }}
</totvs-modal-header>
    
<totvs-modal-body>    
    <div class="row">
        <totvs-page-child>        
            <totvs-page-content>

                <div class="col-sm-12">
                    <totvs-field totvs-checkbox
                                 t-bsswitch
                                 class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                                 ng-disabled="false"
                                 label="{{ 'l-accept-status' | i18n }}"
                                 ng-model="acceptController.model.task['sit-aceite']">
                    </totvs-field>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <field class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                           type="input"
                           ng-model="acceptController.model.task['obs-aceite']"
                           maxlength="76">
                           <label class="field-label">{{ 'l-accept-observation' | i18n }}</label>
                    </field>
                </div>
            
            </totvs-page-content>
        </totvs-page-child>
    </div>			
</totvs-modal-body>


<totvs-modal-footer>
    <button type="button" class="btn btn-default" data-ng-click="acceptController.cancel()">{{ 'l-cancel' | i18n }}</button>
    <button type="button" class="btn btn-primary" data-ng-click="acceptController.salvar()">{{ 'l-save' | i18n }}</button>      
</totvs-modal-footer>