<totvs-modal-header>
	{{ (controller.model.num_id > 0 ? controller.model.des_fase : ('btn-new-phase' | i18n: []: 'dts/crm' )) }}
</totvs-modal-header>

<totvs-modal-body>

	<fieldset class="row">

		<field type="select"
			   class="col-xs-11 col-sm-6"
			   ng-required="true"
			   ng-model="controller.model.ttFase"
			   canclean="undefined"
			   placeholder="{{ 'l-phase' | i18n: []: 'dts/crm' }}">
			<label>{{ 'l-phase' | i18n: []: 'dts/crm' }}</label>
			<include>
				<ui-select-match placeholder="{{ 'l-phase' | i18n: []: 'dts/crm' }}">
					{{ $select.selected.des_fase }}
				</ui-select-match>
				<ui-select-choices repeat="phase in controller.phases | filter: $select.search track by $index">
					<span ng-bind-html="phase.des_fase | highlight: $select.search"></span>
				</ui-select-choices>
			</include>
		</field>

		<div class="col-xs-1 col-sm-1 col-md-1 crm-field-extra-button">
			<button class="btn btn-default"
					ng-click="controller.addPhase();">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>

		<div class="col-xs-12 col-sm-5">
			<div class="field-container"
				 style="margin-top: 5px;">
				<label class="field-label"
					   style="font-weigth: bold;
							  font-size: 12px;
							  color: gray;
							  font-family: 'Arial';
							  margin-bottom: 5px;">
					{{ 'l-color' | i18n: []: 'dts/crm' }}
					<span style="color: red;"> *</span>
				</label>
				<input minicolors
					   class="form-control"
					   maxlength="7"
					   type="text"
					   ng-model="controller.model.cod_livre_1">
			</div>
		</div>

	</fieldset>

	<totvs-divider></totvs-divider>

	<fieldset class="row">

		<field type="checkbox"
			   class="col-xs-12 col-sm-3"
			   ng-model="controller.model.log_permite_alter"
			   label="{{ 'l-allow-change' | i18n: []: 'dts/crm' }}">
		</field>

		<field type="checkbox"
			   class="col-xs-12 col-sm-3"
			   ng-model="controller.model.log_permite_exc"
			   label="{{ 'l-allow-delete' | i18n: []: 'dts/crm' }}">
		</field>

		<field type="checkbox"
			   class="col-xs-12 col-sm-3"
			   ng-model="controller.model.log_omit_funil"
			   label="{{ 'l-omit-sales-funnel' | i18n: []: 'dts/crm' }}">
		</field>

	</fieldset>

</totvs-modal-body>

<totvs-modal-footer>
	<button class="btn btn-default"
			ng-click="controller.close()">
		{{ 'btn-cancel' | i18n: []: 'dts/crm' }}
	</button>
	<button class="btn btn-default"
			ng-click="controller.save(true)"
			ng-if="controller.editMode === false;">
		{{ 'btn-save-new' | i18n: []: 'dts/crm' }}
	</button>
	<button class="btn btn-primary"
			ng-click="controller.save()">
		{{ 'btn-save' | i18n: []: 'dts/crm' }}
	</button>
</totvs-modal-footer>
