totvs-modal-header
    {{ controller.getLabelByAction(controller.myParams.action) | i18n}}
totvs-modal-body
    totvs-page-form(id="classifierForm", role="form")
        field.col-md-12(type="input", label="Descrição", maxlength="100", ng-model="controller.myParams.model.des_clasdor", placeholder="{{ 'l-description' | i18n}}", required)
            label {{ 'l-description' | i18n}}
totvs-modal-footer
    button.btn.btn-default(data-ng-click="controller.cancel();")
        {{ 'btn-cancel' | i18n}}
    button.btn.btn-primary(data-ng-click="controller.save();")
        {{ 'btn-ok' | i18n }}
