<div class="modal-header">
    <h3 class="modal-title">{{ controller.state == 'new' ? 'Adicionar Regra' : controller.state == 'edit' ? 'Alterar Regra' : 'Copiar Regra' | i18n }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" role="form">
            <totvs-page-detail-info-group>{{:: 'Regra' | i18n : [] : 'dts/mft' }}</totvs-page-detail-info-group>
            <field class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-disabled="controller.state == 'edit'" type="input" tabindex="0" ng-model="controller.rule['des-regra']" canclean  maxlength="100">
                <label>{{ 'Descrição da Regra' | i18n }} </label>
            </field>
            <div ng-if="controller.action == 1">
                <field class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="input" style="border-radius: 4px" ng-model="controller.rule['cod-valor']">
                    <label>{{ "Programa" | i18n }} </label>
                </field>              
                <field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="textarea" spellcheck="false" ng-model="controller.rule['cod-xml']" ng-maxlength="2000" maxlength="2000" rows="10">
                    <label>{{ "XML" | i18n }}</label>
                </field>          
            </div>            
            <div ng-if="controller.action == 2">
                <field class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="combo" style="border-radius: 4px" ng-model="controller.rule['cdn-operac']" ng-options="item.id as item.desc for item in controller.typeOperation"
                    ng-change="controller.changeTypeOperation()">
                    <label>{{ "Tipo de Operação" | i18n }} </label>
                </field>
                <field class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-disabled="controller.rule['cdn-operac'] == 1" type="input" ng-model="controller.rule['cod-valor']" canclean ng-maxlength="100">
                    <label>{{ "Valor da Operação" | i18n }}</label>
                </field>   
            </div>            
            <totvs-page-detail-info-group>{{:: 'Faixas' | i18n : [] : 'dts/mft' }}</totvs-page-detail-info-group>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px;">
                <button type="button" class="btn btn-default" data-ng-click="controller.addRange();"><span class="glyphicon glyphicon-plus"></span>&nbsp;Adicionar Faixa</button>
                <button type="button" class="btn btn-default" data-ng-click="controller.deleteRange();"><span class="glyphicon glyphicon-remove"></span>&nbsp;Remover Faixa</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px;">
                <totvs-grid grid="controller.rangeGrid" grid-height="350" grid-data="controller.range" auto-resize-content="true"
                    grid-selected-item="controller.rangeSelected" editable="true" navigatable="true" selectable="row"
                    resizable="true" sortable="true">
                    <totvs-grid-column field="cod-campo" editable="true" width="80">{{:: 'l-field' | i18n : [] : 'dts/mft'}}
                        <option id="CFOP">{{:: 'CFOP' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Cidade da Nota">{{:: 'Cidade da Nota' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Cidade do Cliente">{{:: 'Cidade do Cliente' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Cidade do Estabelecimento">{{:: 'Cidade do Estabelecimento' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Classificação Fiscal">{{:: 'Classificação Fiscal' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Código do Cliente">{{:: 'Código do Cliente' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Código do Estabelecimento">{{:: 'Código do Estabelecimento' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Código do Item">{{:: 'Código do Item' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Código do Serviço">{{:: 'Código do Serviço' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Estado da Nota">{{:: 'Estado da Nota' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Estado do Cliente">{{:: 'Estado do Cliente' | i18n : [] : 'dts/mft'}}</option>
                        <option id="Estado do Estabelecimento">{{:: 'Estado do Estabelecimento' | i18n : [] : 'dts/mft'}}</option>                        
                        <option id="Finalidade da NF-e">{{:: 'Finalidade da NF-e' | i18n : [] : 'dts/mft'}}</option>                        
                        <option id="Natureza de Operação">{{:: 'Natureza de Operação' | i18n : [] : 'dts/mft'}}</option>                        
                        <option id="País da Nota">{{:: 'País da Nota' | i18n : [] : 'dts/mft'}}</option>
                        <option id="País do Cliente">{{:: 'País do Cliente' | i18n : [] : 'dts/mft'}}</option>
                        <option id="País do Estabelecimento">{{:: 'País do Estabelecimento' | i18n : [] : 'dts/mft'}}</option>                        
                        <option id="Série">{{:: 'Série' | i18n : [] : 'dts/mft'}}</option>                                  
                    </totvs-grid-column>
                    <totvs-grid-column field="cod-val-inic" editable="true" width="80">{{:: 'l-initial-value' | i18n : [] : 'dts/mft'}}</totvs-grid-column>
                    <totvs-grid-column field="cod-val-fim" editable="true" width="80">{{:: 'l-final-value' | i18n : [] : 'dts/mft'}}</totvs-grid-column>
                </totvs-grid>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-ng-click="controller.confirm();">{{ 'btn-confirm' | i18n }}</button>
    <button type="button" class="btn btn-default" data-ng-click="controller.close();">{{ 'btn-cancel' | i18n }}</button>
</div>