<div class="modal-header">
    <h3 class="modal-title">XML</h3>
</div>

<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" role="form">
            <field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-disabled="true" type="textarea" spellcheck="false"
                ng-model="controller.xml" rows="15">
                <label>XML</label>
            </field>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="controller.close();">{{ 'btn-cancel' | i18n }}</button>
</div>