<totvs-modal-header>
	{{ 'l-group-client' | i18n: []: 'dts/crm' }}
</totvs-modal-header>

<totvs-modal-body>
    
    <div class="row"
		 ng-animate="'animate-if'">

		<field type="input"
			   class="col-md-12"
			   ng-model="controller.search"
			   placeholder="{{ 'l-filter' | i18n: []: 'dts/crm' }}"
			   canclean="undefined">
		</field>
    </div>
    
    <br>

    <div class="row">
        <totvs-page-alert
            ng-if="controller.listOfGroups.length <= 0"
            ng-animate="'animate-if'"
            type="info"
            message="{{ 'msg-not-found-groups' | i18n: []: 'dts/crm' }}">
        </totvs-page-alert>
        
        <div class="table-content"
			 ng-if="controller.listOfGroups.length > 0"
			 ng-animate="'animate-if'">

			<div class="table-responsive">

				<table class="table table-condensed">
					<colgroup><col span="2" style="position: absolute"></colgroup>
					<thead>
						<tr>
							<th class="col-xs-1">&nbsp;</th>
							<th class="col-xs-5">{{ 'l-group-client' | i18n: []: 'dts/crm' }}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="clickable"
							ng-repeat="group in controller.listOfGroups | filter: controller.search"
							ng-click="group.$selected = !group.$selected;">
						<td>
							<input type="checkbox"
								   ng-value="{{$index}}"
								   ng-model="group.$selected"
								   bsswitch>
						</td>
						<td>{{ group.nom_grp_clien }}</td>
						
					</tr></tbody>
				</table>
			</div>
		</div>
    </div>
</totvs-modal-body>
<totvs-modal-footer>

	<button class="btn btn-default"
			ng-click="controller.cancel()"
			ng-if="controller.listOfGroups.length > 0"
			ng-animate="'animate-if'">
		{{ 'btn-cancel' | i18n: []: 'dts/crm' }}
	</button>

	<button class="btn btn-primary"
			ng-click="controller.select()"
			ng-if="controller.listOfGroups.length > 0"
			ng-animate="'animate-if'">
		{{ 'btn-select' | i18n: []: 'dts/crm' }}
	</button>

	<button class="btn btn-primary"
			ng-click="controller.cancel()"
			ng-if="controller.listOfGroups.length <= 0"
			ng-animate="'animate-if'">
		{{ 'btn-ok' | i18n: []: 'dts/crm' }}
	</button>

</totvs-modal-footer>