body.portal #menu-options .btn {
    width: auto;
    color: #fff
}

.field-file>.file-text {
    margin: 0 10px;
    color: grey
}

.field-file>.file-row {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    position: relative
}

.field-file>.file-row>.file-progress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100% - 1px);
    width: 50%
}

.field-file>.file-row>.file-progress.loaded {
    background-color: #D2FFD2
}

.field-file>.file-row>.file-progress.loading {
    background-color: #E1F0FF
}

.field-file>.file-row>.file-progress.canceled {
    background-color: #F9F9F9
}

.popover-large {
    max-width: 550px;
    witdh: 550px
}
