<totvs-page-form>
    
    <field  type="combo"                        
        name-id="tipoContato"
        data-ng-model="contact['tp-contato']"
        class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
        ng-options="tc.data as tc.label for tc in controller.contactTypeValue"
        label="Tipo"
        ng-disabled="controller.action === 'DETAIL'">
    </field>
    <field type="input"
        name-id="contato"
        class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
        maxlength="60"
        data-ng-model="contact['ds-contato']"
        label="Contato"
        ng-disabled="controller.action === 'DETAIL'">
    </field>

    <field type="input"
        class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
        maxlength="60"
        data-ng-model="contact['nm-contato']"
        label="Nome do Contato"
        ng-disabled="controller.action === 'DETAIL'">
    </field>
    <field type="input"
        class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
        maxlength="60"
        data-ng-model="contact['ds-ramal']"
        label="Ramal"
        ng-disabled="controller.action === 'DETAIL'">
    </field>

</totvs-page-form>