<%
	_.forEach(data.fields, function(salesOrdersVisibleFields) {

		if (salesOrdersVisibleFields.fieldName == "nr-pedcli") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-nr-pedcli' | i18n}}">{{order['nr-pedcli']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "nr-pedrep") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-nr-pedrep' | i18n}}">{{order['nr-pedrep']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "user-impl") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-user-impl' | i18n}}">{{order['user-impl']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-useralt") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-useralt' | i18n}}">{{order['dt-useralt'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-entrega-prim") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-entrega-prim' | i18n}}">{{order['dt-entrega-prim'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "proc-edi") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-proc-edi' | i18n}}">{{order['proc-edi']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "user-alte") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-user-alte' | i18n}}">{{order['user-alte']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-usu-alt-sit") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-usu-alt-sit' | i18n}}">{{order['cod-usu-alt-sit']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dat-alter-sit") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dat-alter-sit' | i18n}}">{{order['dat-alter-sit'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-canal-venda") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-canal-venda' | i18n}}">{{order['cod-canal-venda']}} - {{order['desc-cod-canal-venda']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-sit-pre") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-sit-pre' | i18n}}">{{order['cod-sit-pre']}} - {{order['desc-cod-sit-pre']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-sit-preco") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-sit-preco' | i18n}}">{{order['cod-sit-preco']}} - {{order['desc-cod-sit-preco']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "vl-liq-ped") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-vl-liq-ped' | i18n}}">{{order['vl-liq-ped'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-entrega") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-entrega' | i18n}}">{{order['cod-entrega']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cgc") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cgc' | i18n}}">{{order.cgc}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cidade") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cidade' | i18n}}">{{order.cidade}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-mot-canc-cot") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-mot-canc-cot' | i18n}}">{{order['cod-mot-canc-cot']}} - {{order['desc-motivo-can']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "user-canc") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-user-canc' | i18n}}">{{order['user-canc']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-cancela") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-cancela' | i18n}}">{{order['dt-cancela'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-sit-aval") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-sit-aval' | i18n}}">{{order['cod-sit-aval']}} - {{order['desc-cod-sit-aval']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "desc-bloq-cr") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-desc-bloq-cr' | i18n}}">{{order['desc-bloq-cr']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-apr-cred") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-apr-cred' | i18n}}">{{order['dt-apr-cred'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "quem-aprovou") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-quem-aprovou' | i18n}}">{{order['quem-aprovou']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "aprov-forcado") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-aprov-forcado' | i18n}}">{{order['aprov-forcado']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "desc-forc-cr") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-desc-forc-cr' | i18n}}">{{order['desc-forc-cr']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "ind-tp-frete") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-ind-tp-frete' | i18n}}">{{order['ind-tp-frete']}} - {{order['desc-ind-tp-frete']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-modalid-frete") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-modalidade-frete' | i18n}}">{{order['cod-modalid-frete']}} - {{order['desc-modalid-frete']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "nome-abrev-tri") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-nome-abrev-tri' | i18n}}">{{order['nome-abrev-tri']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cidade-cif") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cidade-cif' | i18n}}">{{order['cidade-cif']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "uf-placa") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-uf-placa' | i18n}}">{{order['uf-placa']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cond-redespa") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cond-redespa' | i18n}}">{{order['cond-redespa']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "val-seguro") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-val-seguro' | i18n}}">{{order['val-seguro'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "bairro") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-bairro' | i18n}}">{{order.bairro}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "num-id-campanha-crm") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-num-id-campanha-crm' | i18n}}">{{order['num-id-campanha-crm']}} - {{order['desc-num-id-campanha-crm']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "nome-abrev") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{((order['log-cotacao'] && order['cod-id-prosp']) ? 'l-lead' : 'l-customer') | i18n}}">
				<span ng-if="!order['cod-id-prosp']">{{order['nome-abrev']}}</span>
				<span ng-if="order['log-cotacao'] == true && order['cod-id-prosp']" style="background-color:#FCF6AB">
					{{order['crmAccountName']}}
					{{order['crmAccountShortName'] ? '(' + order['crmAccountShortName'] + ')' : ''}}
				</span>
			</totvs-list-item-info>
			<%
		}
		
		if (salesOrdersVisibleFields.fieldName == "cod-emitente") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cdn-clien' | i18n}}">{{order['cod-emitente']}}</totvs-list-item-info>
			<%
		}
		
		if (salesOrdersVisibleFields.fieldName == "nr-tabpre") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-price-table' | i18n}}">{{order['nr-tabpre']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "completo") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-completo' | i18n}}">{{order.completo | booleanI18N}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-cond-pag") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-cond-pag' | i18n}}">{{order['cod-cond-pag']}} - {{order['desc-cod-cond-pag']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "contato") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-contato' | i18n}}">{{order.contato}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-des-merc") {
			%>

			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-des-merc' | i18n}}">{{order['cod-des-merc']}} - {{order['desc-cod-des-merc']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "tp-preco") {
			%>

			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-tp-preco' | i18n}}">{{order['tp-preco']}} - {{order['desc-tp-preco']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-emissao") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-emissao' | i18n}}">{{order['dt-emissao'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-entrega") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-entrega' | i18n}}" totvs-custom-element="customDtEntrega">{{order['dt-entrega'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-entorig") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-entorig' | i18n}}">{{order['dt-entorig'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-implant") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-implant' | i18n}}">{{order['dt-implant'] | date : ('l-date-format' | i18n) : 'UTC': 'dd/MM/yyyy' : 'UTC'}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-inivig") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-inivig' | i18n}}">{{order['dt-inivig'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-lim-fat") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-lim-fat' | i18n}}">{{order['dt-lim-fat'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-minfat") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-minfat' | i18n}}">{{order['dt-minfat'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-reativ") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-reativ' | i18n}}">{{order['dt-reativ'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-suspensao") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-suspensao' | i18n}}">{{order['dt-suspensao'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "dt-fimvig") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-dt-fimvig' | i18n}}">{{order['dt-fimvig'] | date : ('l-date-format' | i18n) : 'UTC' }}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "e-mail") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-e-mail' | i18n}}">{{order['e-mail']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "endereco_text") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-endereco_text' | i18n}}">{{order['endereco_text']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-estabel") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-estabel' | i18n}}">{{order['cod-estabel']}} - {{order['desc-cod-estabel']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-gr-cli") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-gr-cli' | i18n}}">{{order['cod-gr-cli']}} - {{order['desc-cod-gr-cli']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "local-entreg") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-local-entreg' | i18n}}">{{order['local-entreg']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "mo-fatur") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-mo-fatur' | i18n}}">{{order['mo-fatur']}} - {{order['desc-mo-fatur']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "desc-cancela") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-desc-cancela' | i18n}}">{{order['desc-cancela']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "desc-reativa") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-desc-reativa' | i18n}}">{{order['desc-reativa']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "desc-suspend") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-desc-suspend' | i18n}}">{{order['desc-suspend']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "observacoes") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-12" title="{{'l-observacoes' | i18n}}">{{order.observacoes}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "pais") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-pais' | i18n}}">{{order.pais}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "val-pct-desconto-total") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-val-pct-desconto-total' | i18n}}">{{order['val-pct-desconto-total'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "val-perc-embal") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-val-perc-embal' | i18n}}">{{order['val-perc-embal'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "val-perc-frete") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-val-perc-frete' | i18n}}">{{order['val-perc-frete'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "val-perc-seguro") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-val-perc-seguro' | i18n}}">{{order['val-perc-seguro'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "placa") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-placa' | i18n}}">{{order.placa}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-portador") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-portador' | i18n}}">{{order['cod-portador']}} - {{order['desc-cod-portador']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-priori") {
			%>
			<div totvs-custom-element="customSalesListPage">
				<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-priori' | i18n}}">{{order['cod-priori']}}</totvs-list-item-info>
			</div>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "no-ab-reppri") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-no-ab-reppri' | i18n}}">{{order['no-ab-reppri']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-rota") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-rota' | i18n}}">{{order['cod-rota']}} - {{order['desc-cod-rota']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-sit-com") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-sit-com' | i18n}}">{{order['cod-sit-com']}} - {{order['desc-cod-sit-com']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-sit-ped") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-sit-ped' | i18n}}">{{order['cod-sit-ped']}} - {{order['desc-cod-sit-ped']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "cod-sit-ped-portal") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-cod-sit-ped-portal' | i18n}}">{{order['cod-sit-ped-portal']}} - {{order['desc-cod-sit-ped-portal']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "nome-tr-red") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-nome-tr-red' | i18n}}">{{order['nome-tr-red']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "nome-transp") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-nome-transp' | i18n}}">{{order['nome-transp']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "estado") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-estado' | i18n}}">{{order.estado}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "val-desconto-total") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-val-desconto-total' | i18n}}">{{order['val-desconto-total'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "val-embal") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-val-embal' | i18n}}">{{order['val-embal'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "val-frete") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-val-frete' | i18n}}">{{order['val-frete'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "vl-liq-abe") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-vl-liq-abe' | i18n}}">{{order['vl-liq-abe'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "vl-tot-ped") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-vl-tot-ped' | i18n}}">{{order['vl-tot-ped'] | currency:''}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "nr-versao") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-nr-versao' | i18n}}">{{order['nr-versao']}}</totvs-list-item-info>
			<%
		}

		if (salesOrdersVisibleFields.fieldName == "tp-operacao") {
			%>
			<totvs-list-item-info class="col-xs-6 col-lg-4" title="{{'l-tp-oper' | i18n}}">{{order['tp-operacao']}} - {{order['desc-tp-operacao']}}</totvs-list-item-info>
			<%
		}
	});
%>
