<totvs-modal-header>
    Configurações
</totvs-modal-header>

<totvs-modal-body style="overflow-y: auto;">
    <fieldset>
        
        <field type="decimal" required
               min="0" max="100"
               data-v-max="999"
               m-dec="0"
               class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
               data-ng-model="controller.config.qtdRegistrosBusca"
               label="Quantidade de registros por busca">
        </field>

        <field type="checkbox"
               class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
               ng-model="controller.config.lgBuscarAoAbrirTela"
               label="Realizar busca ao abrir a tela">
        </field>
        
    </fieldset>    
</totvs-modal-body>
<totvs-modal-footer>
    <button class="btn" ng-click="controller.cancel()">Fechar</button>
    <button class="btn btn-primary" ng-click="controller.saveConfiguration()">Salvar</button>
</totvs-modal-footer>

