</br>
<div class="row">
    <div class="col-md-12 pull-right">
		<div class="pull-right">
			<button type="button" class="btn btn-primary" ng-click="controller.loadOrderTickets()"><span class="glyphicon glyphicon-refresh"></span> &nbsp;{{ 'btn-refresh' | i18n: [] : 'dts/mpd' }}</button>
			<button type="button" class="btn btn-danger"  ng-click="controller.cancelOrderTickets()"><span class="glyphicon glyphicon-remove"></span> &nbsp;{{ 'l-cancel-ticket' | i18n: [] : 'dts/mpd' }}</button>
		</div>
	</div>
</div>

</br>
<div class="row">
    <div class="col-sm-12">
        <totvs-grid grid-data="controller.ttOrderSupplierTickets" grid="controller.orderSupplierTickets"
            auto-resize-content="true" resizable="true" grid-height="300" selectable="row">
            <totvs-grid-column field="cdd-pre-autoriz" width="150">{{ 'l-ticket-number' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
            <totvs-grid-column field="val-pre-autoriza" width="150" filter="number: 2">{{ 'l-supplier-pre-authorized-limit' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
			<totvs-grid-column field="val-sdo-ticket" width="150" filter="number: 2">{{ 'l-supplier-pre-authorized-balance' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
			<totvs-grid-column field="val-sdo-ticket-inter" width="150" filter="number: 2">{{ 'l-supplier-pre-authorized-internal-balance' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
            <totvs-grid-column field="des-status-pre-autoriz" width="150">{{ 'l-supplier-granting-credit-status' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
            <totvs-grid-column field="dat-solicit-pre-autoriz" width="150" filter="date: dd/MM/yyyy">{{ 'l-supplier-request-date-time' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
            <totvs-grid-column field="dat-vigenc-pre-autoriz" width="150" filter="date: dd/MM/yyyy">{{ 'l-supplier-evaluation-date-time' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
            <totvs-grid-column field="dat-cancel-pre-autoriz" width="165" filter="date: dd/MM/yyyy">{{ 'l-supplier-cancellation-date-time' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
            <totvs-grid-column field="dtm-ultima-atualiz" width="150">{{ 'l-supplier-partner-last-update' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
            <totvs-grid-column field="dsl-observacao" width="150" >{{ 'l-supplier-observation' | i18n: [] : 'dts/mpd' }}</totvs-grid-column>
        </totvs-grid>
    </div>
</div>